@import '../../styles/figma/figma-mixin';

.core-testimonial {
  --core-testimonial--tinted-background: var(--lib-core-testimonial--tinted-background, var(--surface-color-branded-core-tinted));
  --core-testimonial--quote-slider-border-radius: var(--lib-core-testimonial--quote-slider-border-radius, var(--corner-round-lg));
  --core-testimonial--slider-vertical-offset: var(--lib-core-testimonial--slider-vertical-offset, 104px);
}

.core-testimonial {
  // &.no-gutter-block {
  //   padding-left: var(--layout-side-gutters);
  //   padding-right: var(--layout-side-gutters);

  //   @include breakpointSmallDown {
  //     padding-top: var(--size-48);
  //     padding-bottom: var(--size-48);
  //   }
  // }

  .core-testimonial-content .quote-slider-container {
    margin-left: calc(var(--layout-side-gutters) * -1);
    margin-top: var(--size-40);

    .quote-slider-offset {
      overflow: hidden;
      border-radius: 0 var(--core-testimonial--quote-slider-border-radius) var(--core-testimonial--quote-slider-border-radius) 0;
    }
  }

  &.right {
    .core-testimonial-content .quote-slider-container {
      margin-right: calc(var(--layout-side-gutters) * -1);
      margin-left: 0;

      .quote-slider-offset {
        border-radius: var(--core-testimonial--quote-slider-border-radius) 0 0 var(--core-testimonial--quote-slider-border-radius);
      }
    }
  }

  &.brand {
    background-color: var(--core-testimonial--tinted-background);
  }

  &.text {
    .core-testimonial-content {
      display: block;
    }

    .core-testimonial-content .text-container {
      display: none;
    }

    .core-testimonial-content .quote-slider-container {
      width: calc(100% + 2 * var(--layout-side-gutters));
      margin: 0 calc(var(--layout-side-gutters) * (-1));

      .quote-slider-offset {
        border-radius: 0;
      }
    }
  }

  .core-testimonial-content .quote-slider-container {
    height: 100%;

    .core-collection-carousel,
    .core-collection-carousel-inside,
    .core-collection-carousel-parent,
    .core-collection-carousel-carousel,
    .core-quote-wrapper {
      height: 100%;
    }

    .core-collection-carousel-item {
      position: relative;
    }

    .core-collection-carousel {
      --lib-core--collection--carousel-gap: 0px;

      width: 100%;

      .core-collection-carousel-carousel {
        padding-top: 0;
      }
    }

    .core-collection-carousel-navigation {
      position: absolute;
      bottom: 40px;
      left: 24px;
      width: 100%;

      .core-collection-carousel-navigation-item {
        height: 6px;
        width: 32px;
        background-color: var(--button-color-primary-bg-inverted);
        opacity: 0.5;

        &.core-collection-carousel-navigation-item-active {
          opacity: 1;
          width: 64px;
          background-color: var(--button-color-primary-bg-inverted);
        }
      }
    }

    .core-quote .quote-slide .quote-slide-overlay .quote {
      font: var(--lib-core--title-m-font);

      @include breakpointMediumUp {
        font: var(--lib-core--title-l-font);
      }
    }
  }

  &.center {
    .core-testimonial-content .quote-slider-container .core-collection-carousel-navigation {
      left: 0;
      justify-content: center;
    }
  }

  &.large-image {
    .core-testimonial-content .quote-slider-container .core-collection-carousel-navigation {
      bottom: 32px;
    }
  }

  &.text {
    .core-testimonial-content .quote-slider-container .core-collection-carousel-navigation {
      bottom: 56px;
    }
  }

  @include breakpointMediumUp {
    .core-testimonial-content {
      display: grid;
      align-items: stretch;
      gap: 24px;
      margin: 0 calc(var(--layout-side-gutters) * (-1));
      padding: 0 var(--layout-side-gutters);
    }

    .core-testimonial-content {
      grid-template-columns: minmax(0, 7fr) 5fr;

      .text-container {
        order: 1;
        padding: var(--size-80) calc(var(--size-80) - var(--layout-side-gutters)) var(--size-80) var(--size-80);
      }

      .quote-slider-container {
        min-height: 660px;
        height: 100%;
        margin-top: 0;
        margin-right: 0;

        .quote-slider-offset {
          height: 100%;

          > div {
            height: 100%;
          }

          .quote-slide {
            height: 100%;
          }
        }
      }
    }

    &.right .core-testimonial-content {
      grid-template-columns: 5fr minmax(0, 7fr);

      .text-container {
        order: unset;
        padding: var(--size-80) var(--size-80) var(--size-80) calc(var(--size-80) - var(--layout-side-gutters));
      }
    }

    &.small-image .core-testimonial-content .quote-slider-container {
      height: 100%;
    }

    &.brand {
      background: transparent;

      .core-testimonial-content {
        margin-top: var(--core-testimonial--slider-vertical-offset);
        background-color: var(--core-testimonial--tinted-background);

        .quote-slider-container .quote-slider-offset {
          margin-top: calc(var(--core-testimonial--slider-vertical-offset) * -1);
        }
      }
    }

    .core-testimonial-content .quote-slider-container {
      .core-collection-carousel-navigation {
        bottom: 80px;
        left: 80px;
      }
    }

    &.large-image .core-testimonial-content .quote-slider-container .core-collection-carousel-navigation {
      bottom: 40px;
    }

    &.text {
      .core-testimonial-content .quote-slider-container {
        min-height: unset;
      }
    }
  }
}

.core-testimonial {
  @include breakpointSmallDown {
    .atoms-buttons a {
      width: 100%;
    }
  }
}
