.core-testimonial {
  --core-testimonial--tinted-background: var(--lib-core-testimonial--tinted-background, var(--surface-color-branded-core-tinted));
  --core-testimonial--quote-slider-border-radius: var(--lib-core-testimonial--quote-slider-border-radius, var(--corner-round-lg));
  --core-testimonial--slider-vertical-offset: var(--lib-core-testimonial--slider-vertical-offset, 104px);
}

.core-testimonial .core-testimonial-content .quote-slider-container {
  margin-left: calc(var(--layout-side-gutters) * -1);
  margin-top: var(--size-40);
}

.core-testimonial .core-testimonial-content .quote-slider-container .quote-slider-offset {
  overflow: hidden;
  border-radius: 0 var(--core-testimonial--quote-slider-border-radius) var(--core-testimonial--quote-slider-border-radius) 0;
}

.core-testimonial.right .core-testimonial-content .quote-slider-container {
  margin-right: calc(var(--layout-side-gutters) * -1);
  margin-left: 0;
}

.core-testimonial.right .core-testimonial-content .quote-slider-container .quote-slider-offset {
  border-radius: var(--core-testimonial--quote-slider-border-radius) 0 0 var(--core-testimonial--quote-slider-border-radius);
}

.core-testimonial.brand {
  background-color: var(--core-testimonial--tinted-background);
}

.core-testimonial.text .core-testimonial-content {
  display: block;
}

.core-testimonial.text .core-testimonial-content .text-container {
  display: none;
}

.core-testimonial.text .core-testimonial-content .quote-slider-container {
  width: calc(100% + 2 * var(--layout-side-gutters));
  margin: 0 calc(var(--layout-side-gutters) * -1);
}

.core-testimonial.text .core-testimonial-content .quote-slider-container .quote-slider-offset {
  border-radius: 0;
}

.core-testimonial .core-testimonial-content .quote-slider-container {
  height: 100%;
}

.core-testimonial .core-testimonial-content .quote-slider-container .core-collection-carousel,
.core-testimonial .core-testimonial-content .quote-slider-container .core-collection-carousel-inside,
.core-testimonial .core-testimonial-content .quote-slider-container .core-collection-carousel-parent,
.core-testimonial .core-testimonial-content .quote-slider-container .core-collection-carousel-carousel,
.core-testimonial .core-testimonial-content .quote-slider-container .core-quote-wrapper {
  height: 100%;
}

.core-testimonial .core-testimonial-content .quote-slider-container .core-collection-carousel-item {
  position: relative;
}

.core-testimonial .core-testimonial-content .quote-slider-container .core-collection-carousel {
  --lib-core--collection--carousel-gap: 0px;

  width: 100%;
}

.core-testimonial .core-testimonial-content .quote-slider-container .core-collection-carousel .core-collection-carousel-carousel {
  padding-top: 0;
}

.core-testimonial .core-testimonial-content .quote-slider-container .core-collection-carousel-navigation {
  position: absolute;
  bottom: 40px;
  left: 24px;
  width: 100%;
}

.core-testimonial .core-testimonial-content .quote-slider-container .core-collection-carousel-navigation .core-collection-carousel-navigation-item {
  height: 6px;
  width: 32px;
  background-color: var(--button-color-primary-bg-inverted);
  opacity: 0.5;
}

.core-testimonial .core-testimonial-content .quote-slider-container .core-collection-carousel-navigation .core-collection-carousel-navigation-item.core-collection-carousel-navigation-item-active {
  opacity: 1;
  width: 64px;
  background-color: var(--button-color-primary-bg-inverted);
}

.core-testimonial .core-testimonial-content .quote-slider-container .core-quote .quote-slide .quote-slide-overlay .quote {
  font: var(--lib-core--title-m-font);
}

@media (min-width: 1024px) {
  .core-testimonial .core-testimonial-content .quote-slider-container .core-quote .quote-slide .quote-slide-overlay .quote {
    /* Tablet styles here */
    font: var(--lib-core--title-l-font);
  }
}

.core-testimonial.center .core-testimonial-content .quote-slider-container .core-collection-carousel-navigation {
  left: 0;
  justify-content: center;
}

.core-testimonial.large-image .core-testimonial-content .quote-slider-container .core-collection-carousel-navigation {
  bottom: 32px;
}

.core-testimonial.text .core-testimonial-content .quote-slider-container .core-collection-carousel-navigation {
  bottom: 56px;
}

@media (min-width: 1024px) {
  .core-testimonial {
    /* Tablet styles here */
  }

  .core-testimonial .core-testimonial-content {
    display: grid;
    align-items: stretch;
    gap: 24px;
    margin: 0 calc(var(--layout-side-gutters) * -1);
    padding: 0 var(--layout-side-gutters);
  }

  .core-testimonial .core-testimonial-content {
    grid-template-columns: minmax(0, 7fr) 5fr;
  }

  .core-testimonial .core-testimonial-content .text-container {
    order: 1;
    padding: var(--size-80) calc(var(--size-80) - var(--layout-side-gutters)) var(--size-80) var(--size-80);
  }

  .core-testimonial .core-testimonial-content .quote-slider-container {
    min-height: 660px;
    height: 100%;
    margin-top: 0;
    margin-right: 0;
  }

  .core-testimonial .core-testimonial-content .quote-slider-container .quote-slider-offset {
    height: 100%;
  }

  .core-testimonial .core-testimonial-content .quote-slider-container .quote-slider-offset > div {
    height: 100%;
  }

  .core-testimonial .core-testimonial-content .quote-slider-container .quote-slider-offset .quote-slide {
    height: 100%;
  }

  .core-testimonial.right .core-testimonial-content {
    grid-template-columns: 5fr minmax(0, 7fr);
  }

  .core-testimonial.right .core-testimonial-content .text-container {
    order: unset;
    padding: var(--size-80) var(--size-80) var(--size-80) calc(var(--size-80) - var(--layout-side-gutters));
  }

  .core-testimonial.small-image .core-testimonial-content .quote-slider-container {
    height: 100%;
  }

  .core-testimonial.brand {
    background: transparent;
  }

  .core-testimonial.brand .core-testimonial-content {
    margin-top: var(--core-testimonial--slider-vertical-offset);
    background-color: var(--core-testimonial--tinted-background);
  }

  .core-testimonial.brand .core-testimonial-content .quote-slider-container .quote-slider-offset {
    margin-top: calc(var(--core-testimonial--slider-vertical-offset) * -1);
  }

  .core-testimonial .core-testimonial-content .quote-slider-container .core-collection-carousel-navigation {
    bottom: 80px;
    left: 80px;
  }

  .core-testimonial.large-image .core-testimonial-content .quote-slider-container .core-collection-carousel-navigation {
    bottom: 40px;
  }

  .core-testimonial.text .core-testimonial-content .quote-slider-container {
    min-height: unset;
  }
}

@media (max-width: 1023px) {
  .core-testimonial {
    /* everything above mobile */
  }

  .core-testimonial .atoms-buttons a {
    width: 100%;
  }
}
