@import '../../styles/figma/figma-mixin';

.core-quote {
  --core-quote--slide-overlay-background: var(--lib-core-quote--slide-overlay-background, var(--surface-color-branded-core-seed));
  --core-quote--slide-overlay-background-gradient: var(
    --lib-core-quote--slide-overlay-background,
    linear-gradient(0deg, rgb(0 0 0 / 24%) 0%, rgb(0 0 0 / 24%) 100%),
    linear-gradient(180deg, rgb(90 33 176 / 60%) 0.16%, #5a21b0 20.12%)
  );
  --core-quote--slide-overlay-color: var(--lib-core-quote--slide-overlay-color, var(--text-color-global-neutral-white));
}

.core-quote {
  --picture-margin-bottom: 150px;

  .quote-slide {
    position: relative;

    picture {
      height: 440px;
      margin-bottom: var(--picture-margin-bottom);
      display: block;

      img {
        object-fit: cover;
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .quote-slide-overlay {
      background: var(--core-quote--slide-overlay-background);
      color: var(--core-quote--slide-overlay-color);
      padding: var(--size-24) var(--layout-side-gutters) var(--size-32);
      display: flex;
      flex-direction: column;
      justify-content: center;
      bottom: 0;

      .icon {
        display: block;
        margin-bottom: var(--size-16);
        width: 28px;
        height: 21px;
        fill: var(--surface-color-neutral-primary);

        @include breakpointMediumUp {
          width: 36px;
          height: 27px;
        }
      }

      .quote {
        font: var(--lib-core--title-m-font);
        margin-bottom: var(--size-24);
      }

      .patient-name,
      .patient-description {
        font: var(--lib-core--body-m-font);

        @include breakpointMediumUp {
          font: var(--lib-core--body-l-font);
        }
      }

      .patient-name {
        margin-bottom: 8px;
      }
    }

    .large-image .quote-slide-overlay {
      position: absolute;
    }
  }

  &.large-image .quote-slide .quote-slide-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(var(--picture-margin-bottom) * (-1));
    background: linear-gradient(180deg, var(--quote-slide-overlay-background-opacity-60) 0.16%, var(--quote-slide-overlay-background) 25.15%);
  }

  &:not(.large-image) .quote-slide .quote-slide-overlay {
    height: 100%;
    padding-top: var(--size-40);
    padding-bottom: var(--size-40);
  }

  &.small-image .quote-slide .quote-slide-overlay {
    height: 100%;
  }

  &.small-image .quote-slide .quote-slide-overlay .quote {
    margin-bottom: 32px;
  }

  &.small-image .quote-slide .quote-slide-overlay .patient-info {
    picture,
    img {
      height: 56px;
      width: 56px;
      display: block;
      border-radius: 50%;
      margin-bottom: var(--size-16);
      min-height: unset;
    }
  }

  &.text .quote-slide {
    min-height: 400px;

    .quote-slide-overlay {
      padding: var(--size-56) var(--layout-side-gutters);
      min-height: calc(400px - var(--size-56) - var(--size-56));
    }

    .quote {
      margin-bottom: var(--size-48);
    }
  }

  &.text.center .quote {
    margin-left: auto;
    margin-right: auto;
  }

  &.text.center .quote-slide .quote-slide-overlay {
    text-align: center;

    span.icon {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.in-testimonial-quote {
    height: 100%;
    width: 100%;

    .core-quote-inside {
      height: 100%;

      .quote-slide {
        height: 100%;
      }
    }
  }

  &.in-carousel-quote {
    .quote-slide .quote-slide-overlay {
      padding-bottom: 80px; // navigation height
    }

    &.large-image .quote-slide .quote-slide-overlay {
      bottom: 0;
      padding-bottom: var(--size-80);
    }

    &:not(.large-image) {
      .quote-slide .quote-slide-overlay {
        justify-content: space-between;
      }
    }

    &.text {
      flex-basis: 100%;

      .quote-slide .quote-slide-overlay {
        padding-bottom: 96px;
      }
    }
  }

  @include breakpointMediumUp {
    --picture-margin-bottom: 0px;

    picture {
      min-height: 660px;
    }

    .quote-slide .quote-slide-overlay .quote {
      margin-bottom: var(--size-16);
      font: var(--lib-core--title-l-font);
    }

    &:not(.large-image) .quote-slide .quote-slide-overlay {
      padding-top: var(--size-80);
      padding-bottom: var(--size-80);
    }

    &.text {
      .quote {
        width: calc(100% * 0.83);
      }

      .quote-slide .quote-slide-overlay {
        padding: var(--size-80) var(--layout-side-gutters);
        min-height: 520px;

        .quote {
          margin-bottom: var(--size-80);
        }
      }

      &.in-carousel-quote .quote-slide .quote-slide-overlay {
        min-height: 600px;
      }
    }

    .quote-slide .quote-slide-overlay {
      padding: 32px 80px 40px;
      box-sizing: border-box;
    }

    &.in-carousel-quote .quote-slide .quote-slide-overlay {
      padding-bottom: 144px; // navigation height
    }

    &.large-image .quote-slide .quote-slide-overlay {
      height: unset;
      padding-bottom: var(--size-80);
    }

    &.small-image .quote-slide .quote-slide-overlay {
      padding-bottom: var(--size-80);
    }

    &.small-image:not(.in-carousel-quote) .quote-slide .quote-slide-overlay .quote {
      margin-bottom: 56px;
    }

    &.small-image .quote-slide .quote-slide-overlay .patient-info {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;

      picture,
      img {
        width: 140px;
        height: 140px;
      }
    }
  }
}
