.core-quote {
  --core-quote--slide-overlay-background: var(--lib-core-quote--slide-overlay-background, var(--surface-color-branded-core-seed));
  --core-quote--slide-overlay-background-gradient: var(
    --lib-core-quote--slide-overlay-background,
    linear-gradient(0deg, rgb(0 0 0 / 24%) 0%, rgb(0 0 0 / 24%) 100%),
    linear-gradient(180deg, rgb(90 33 176 / 60%) 0.16%, #5a21b0 20.12%)
  );
  --core-quote--slide-overlay-color: var(--lib-core-quote--slide-overlay-color, var(--text-color-global-neutral-white));
}

.core-quote {
  --picture-margin-bottom: 150px;
}

.core-quote .quote-slide {
  position: relative;
}

.core-quote .quote-slide picture {
  height: 440px;
  margin-bottom: var(--picture-margin-bottom);
  display: block;
}

.core-quote .quote-slide picture img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.core-quote .quote-slide .quote-slide-overlay {
  background: var(--core-quote--slide-overlay-background);
  color: var(--core-quote--slide-overlay-color);
  padding: var(--size-24) var(--layout-side-gutters) var(--size-32);
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
}

.core-quote .quote-slide .quote-slide-overlay .icon {
  display: block;
  margin-bottom: var(--size-16);
  width: 28px;
  height: 21px;
  fill: var(--surface-color-neutral-primary);
}

@media (min-width: 1024px) {
  .core-quote .quote-slide .quote-slide-overlay .icon {
    /* Tablet styles here */
    width: 36px;
    height: 27px;
  }
}

.core-quote .quote-slide .quote-slide-overlay .quote {
  font: var(--lib-core--title-m-font);
  margin-bottom: var(--size-24);
}

.core-quote .quote-slide .quote-slide-overlay .patient-name,
.core-quote .quote-slide .quote-slide-overlay .patient-description {
  font: var(--lib-core--body-m-font);
}

@media (min-width: 1024px) {
  .core-quote .quote-slide .quote-slide-overlay .patient-name,
  .core-quote .quote-slide .quote-slide-overlay .patient-description {
    /* Tablet styles here */
    font: var(--lib-core--body-l-font);
  }
}

.core-quote .quote-slide .quote-slide-overlay .patient-name {
  margin-bottom: 8px;
}

.core-quote .quote-slide .large-image .quote-slide-overlay {
  position: absolute;
}

.core-quote.large-image .quote-slide .quote-slide-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: calc(var(--picture-margin-bottom) * -1);
  background: linear-gradient(180deg, var(--quote-slide-overlay-background-opacity-60) 0.16%, var(--quote-slide-overlay-background) 25.15%);
}

.core-quote:not(.large-image) .quote-slide .quote-slide-overlay {
  height: 100%;
  padding-top: var(--size-40);
  padding-bottom: var(--size-40);
}

.core-quote.small-image .quote-slide .quote-slide-overlay {
  height: 100%;
}

.core-quote.small-image .quote-slide .quote-slide-overlay .quote {
  margin-bottom: 32px;
}

.core-quote.small-image .quote-slide .quote-slide-overlay .patient-info picture,
.core-quote.small-image .quote-slide .quote-slide-overlay .patient-info img {
  height: 56px;
  width: 56px;
  display: block;
  border-radius: 50%;
  margin-bottom: var(--size-16);
  min-height: unset;
}

.core-quote.text .quote-slide {
  min-height: 400px;
}

.core-quote.text .quote-slide .quote-slide-overlay {
  padding: var(--size-56) var(--layout-side-gutters);
  min-height: calc(400px - var(--size-56) - var(--size-56));
}

.core-quote.text .quote-slide .quote {
  margin-bottom: var(--size-48);
}

.core-quote.text.center .quote {
  margin-left: auto;
  margin-right: auto;
}

.core-quote.text.center .quote-slide .quote-slide-overlay {
  text-align: center;
}

.core-quote.text.center .quote-slide .quote-slide-overlay span.icon {
  margin-left: auto;
  margin-right: auto;
}

.core-quote.in-testimonial-quote {
  height: 100%;
  width: 100%;
}

.core-quote.in-testimonial-quote .core-quote-inside {
  height: 100%;
}

.core-quote.in-testimonial-quote .core-quote-inside .quote-slide {
  height: 100%;
}

.core-quote.in-carousel-quote .quote-slide .quote-slide-overlay {
  padding-bottom: 80px;
}

.core-quote.in-carousel-quote.large-image .quote-slide .quote-slide-overlay {
  bottom: 0;
  padding-bottom: var(--size-80);
}

.core-quote.in-carousel-quote:not(.large-image) .quote-slide .quote-slide-overlay {
  justify-content: space-between;
}

.core-quote.in-carousel-quote.text {
  flex-basis: 100%;
}

.core-quote.in-carousel-quote.text .quote-slide .quote-slide-overlay {
  padding-bottom: 96px;
}

@media (min-width: 1024px) {
  .core-quote {
    /* Tablet styles here */
    --picture-margin-bottom: 0px;
  }

  .core-quote picture {
    min-height: 660px;
  }

  .core-quote .quote-slide .quote-slide-overlay .quote {
    margin-bottom: var(--size-16);
    font: var(--lib-core--title-l-font);
  }

  .core-quote:not(.large-image) .quote-slide .quote-slide-overlay {
    padding-top: var(--size-80);
    padding-bottom: var(--size-80);
  }

  .core-quote.text .quote {
    width: 83%;
  }

  .core-quote.text .quote-slide .quote-slide-overlay {
    padding: var(--size-80) var(--layout-side-gutters);
    min-height: 520px;
  }

  .core-quote.text .quote-slide .quote-slide-overlay .quote {
    margin-bottom: var(--size-80);
  }

  .core-quote.text.in-carousel-quote .quote-slide .quote-slide-overlay {
    min-height: 600px;
  }

  .core-quote .quote-slide .quote-slide-overlay {
    padding: 32px 80px 40px;
    box-sizing: border-box;
  }

  .core-quote.in-carousel-quote .quote-slide .quote-slide-overlay {
    padding-bottom: 144px;
  }

  .core-quote.large-image .quote-slide .quote-slide-overlay {
    height: unset;
    padding-bottom: var(--size-80);
  }

  .core-quote.small-image .quote-slide .quote-slide-overlay {
    padding-bottom: var(--size-80);
  }

  .core-quote.small-image:not(.in-carousel-quote) .quote-slide .quote-slide-overlay .quote {
    margin-bottom: 56px;
  }

  .core-quote.small-image .quote-slide .quote-slide-overlay .patient-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .core-quote.small-image .quote-slide .quote-slide-overlay .patient-info picture,
  .core-quote.small-image .quote-slide .quote-slide-overlay .patient-info img {
    width: 140px;
    height: 140px;
  }
}
