<div
  class="core-video-container-inside block-inside
          {{#fullWidthVariant}}full-width-container{{/fullWidthVariant}}
          {{#editorialWidthVariant}}editorial-width-container{{/editorialWidthVariant}}
          {{#fullWidthTintedVariant}}full-width-container tinted-container{{/fullWidthTintedVariant}}
          {{#editorialWidthTintedVariant}}editorial-width-container tinted-container{{/editorialWidthTintedVariant}}
        "
>
  {{#headline}}
    {{.}}
  {{/headline}}

  <div class="video-blocks">
    {{#videoBlocks}}
      {{.}}
    {{/videoBlocks}}
  </div>
</div>
