<div class="core-testimonial-content">
  <div class="text-container">
    {{ text }}
  </div>
  <div class="quote-slider-container">
    <div class="quote-slider-offset">
    {{ quote }}
  </div>
  </div>
</div> 
