@import '../../styles/figma/figma-mixin';

.core-demo-only {
  margin: 50px 0;
  display: inline;
}

.core-demo-only .core-demo-only-any-class-to-target-for-demo {
  box-sizing: inherit;
}

// global styles

.core-demo-only.body-l .block-inside > div {
  display: inline;
}

.core-demo-only.body-l .block-inside > div {
  font: var(--lib-core--body-l-font);
}

.core-demo-only.body-m .block-inside > div {
  font: var(--lib-core--body-m-font);
}

.core-demo-only.body-s .block-inside > div {
  font: var(--lib-core--body-s-font);
}

.core-demo-only.body-xs .block-inside > div {
  font: var(--lib-core--body-xs-font);
}

.core-demo-only.button-l .block-inside div span {
  font: var(--lib-core--button-l-font);
}

.core-demo-only.button-m .block-inside div span {
  font: var(--lib-core--button-m-font);
}

.core-demo-only.button-s .block-inside div span {
  font: var(--lib-core--button-s-font);
}

.core-demo-only.label-l .block-inside div {
  font: var(--lib-core--label-l-font);
}

.core-demo-only.label-m .block-inside div {
  font: var(--lib-core--label-m-font);
}

.core-demo-only.label-s .block-inside div {
  font: var(--lib-core--label-s-font);
}

.core-demo-only.title-l .block-inside > div {
  font: var(--lib-core--title-l-font);
}

.core-demo-only.title-m .block-inside > div {
  font: var(--lib-core--title-m-font);
}

.core-demo-only.title-s .block-inside > div {
  font: var(--lib-core--title-s-font);
}

/// branded styles

.core-demo-only.headline-s-light .block-inside > div {
  font: var(--lib-core--headline-s-light-font);
}

.core-demo-only.headline-s-regular .block-inside > div {
  font: var(--lib-core--headline-s-regular-font);
}

.core-demo-only.headline-s-bold .block-inside > div {
  font: var(--lib-core--headline-s-bold-font);
}

.core-demo-only.headline-m-light .block-inside > div {
  font: var(--lib-core--headline-m-light-font);
}

.core-demo-only.headline-m-regular .block-inside > div {
  font: var(--lib-core--headline-m-regular-font);
}

.core-demo-only.headline-m-bold .block-inside > div {
  font: var(--lib-core--headline-m-bold-font);
}

.core-demo-only.headline-l-light .block-inside > div {
  font: var(--lib-core--headline-l-light-font);
}

.core-demo-only.headline-l-regular .block-inside > div {
  font: var(--lib-core--headline-l-regular-font);
}

.core-demo-only.headline-l-bold .block-inside > div {
  font: var(--lib-core--headline-l-bold-font);
}

.core-demo-only.display-bold .block-inside > div {
  font: var(--lib-core--display-bold-font);
}

.core-demo-only.display-light .block-inside > div {
  font: var(--lib-core--display-light-font);
}

.core-demo-only.grid .block-inside > div {
  @include getGridSystem;

  width: 100%;
  height: 500px;
}

.core-demo-only.grid .block-inside div > div {
  font: var(--lib-core--headline-s-light-font);
  background-color: #ffcc95;
  display: flex;
  justify-content: center;
  align-items: center;
}

.core-demo-only.diatype .block-inside > div {
  // @include getFontFamilyByWeight('diatype', 400);

  font-size: var(--size-16);
  display: inline;
  line-height: var(--line-height-120);
}

.core-demo-only.diatype-italic .block-inside > div {
  font-family: var(--font-diatypeitalic, sans-serif);
  font-size: var(--size-16);
  display: inline;
  line-height: var(--line-height-120);
}

.core-demo-only.diatype-condensed .block-inside > div {
  // @include getFontFamilyByWeight('diatype condensed', 400);

  font-size: var(--size-16);
  display: inline;
  line-height: var(--line-height-120);
}

.core-demo-only.diatype-extended .block-inside > div {
  // @include getFontFamilyByWeight('diatype extended', 400);

  font-size: var(--size-16);
  display: inline;
  line-height: var(--line-height-120);
}

.core-demo-only.weight-light .block-inside > div {
  // @include getFontFamilyByWeight('diatype', 300);

  font-size: var(--size-16);
  display: inline;
  line-height: var(--line-height-120);
}

.core-demo-only.weight-regular .block-inside > div {
  // @include getFontFamilyByWeight('diatype', 400);

  font-size: var(--size-16);
  display: inline;
  line-height: var(--line-height-120);
}

.core-demo-only.weight-medium .block-inside > div {
  // @include getFontFamilyByWeight('diatype', 500);
  font-size: var(--size-16);
  display: inline;
  line-height: var(--line-height-120);
}

.core-demo-only.weight-bold .block-inside > div {
  // @include getFontFamilyByWeight('diatype', 700);

  font-size: var(--size-16);
  display: inline;
  line-height: var(--line-height-120);
}

.core-demo-only.weight-heavy .block-inside > div {
  // @include getFontFamilyByWeight('diatype', 800);

  font-size: var(--size-16);
  display: inline;
  line-height: var(--line-height-120);
}

.core-demo-only.weight-black .block-inside > div {
  // @include getFontFamilyByWeight('diatype', 900);

  font-size: var(--size-16);
  display: inline;
  line-height: var(--line-height-120);
}

.core-demo-only.weight-ultra .block-inside > div {
  // @include getFontFamilyByWeight('diatype', 1000);

  font-size: var(--size-16);
  display: inline;
  line-height: var(--line-height-120);
}

.core-demo-only.font-size-12 .block-inside > div {
  // @include getFontFamilyByWeight('diatype', 400);

  font-size: var(--size-12);
  display: inline;
  line-height: var(--line-height-120);
}

.core-demo-only.font-size-14 .block-inside > div {
  // @include getFontFamilyByWeight('diatype', 400);

  font-size: var(--size-14);
  display: inline;
  line-height: var(--line-height-120);
}

.core-demo-only.font-size-16 .block-inside > div {
  // @include getFontFamilyByWeight('diatype', 400);

  font-size: var(--size-16);
  display: inline;
  line-height: var(--line-height-120);
}

.core-demo-only.font-size-20 .block-inside > div {
  // @include getFontFamilyByWeight('diatype', 400);

  font-size: var(--size-20);
  display: inline;
  line-height: var(--line-height-120);
}

.core-demo-only.font-size-24 .block-inside > div {
  // @include getFontFamilyByWeight('diatype', 400);

  font-size: var(--size-24);
  display: inline;
  line-height: var(--line-height-120);
}

.core-demo-only.font-size-32 .block-inside > div {
  // @include getFontFamilyByWeight('diatype', 400);

  font-size: var(--size-32);
  display: inline;
  line-height: var(--line-height-120);
}

.core-demo-only.font-size-40 .block-inside > div {
  // @include getFontFamilyByWeight('diatype', 400);

  font-size: var(--size-40);
  display: inline;
  line-height: var(--line-height-120);
}

.core-demo-only.font-size-48 .block-inside > div {
  // @include getFontFamilyByWeight('diatype', 400);

  font-size: var(--size-48);
  display: inline;
  line-height: var(--line-height-120);
}

.core-demo-only.font-size-56 .block-inside > div {
  // @include getFontFamilyByWeight('diatype', 400);

  font-size: var(--size-56);
  display: inline;
  line-height: var(--line-height-120);
}

.core-demo-only.font-size-64 .block-inside > div {
  // @include getFontFamilyByWeight('diatype', 400);

  font-size: var(--size-64);
  display: inline;
  line-height: var(--line-height-120);
}

.core-demo-only.font-size-80 .block-inside > div {
  // @include getFontFamilyByWeight('diatype', 400);

  font-size: var(--size-80);
  display: inline;
  line-height: var(--line-height-120);
}

.core-demo-only.font-size-88 .block-inside > div {
  // @include getFontFamilyByWeight('diatype', 400);

  font-size: var(--size-88);
  display: inline;
  line-height: var(--line-height-120);
}

.core-demo-only.font-spacing-looser .block-inside > div {
  // @include getFontFamilyByWeight('diatype', 400);

  font-size: var(--size-16);
  display: inline;
  line-height: var(--line-height-120);
  letter-spacing: var(--letter-spacing-looser);
}

.core-demo-only.font-spacing-loose .block-inside > div {
  // @include getFontFamilyByWeight('diatype', 400);

  font-size: var(--size-16);
  display: inline;
  line-height: var(--line-height-120);
  letter-spacing: var(--letter-spacing-loose);
}

.core-demo-only.font-spacing-reg .block-inside > div {
  // @include getFontFamilyByWeight('diatype', 400);

  font-size: var(--size-16);
  display: inline;
  line-height: var(--line-height-120);
  letter-spacing: var(--letter-spacing-reg);
}

.core-demo-only.font-spacing-tight .block-inside > div {
  // @include getFontFamilyByWeight('diatype', 400);

  font-size: var(--size-16);
  display: inline;
  line-height: var(--line-height-120);
  letter-spacing: var(--letter-spacing-tight);
}

.core-demo-only.font-spacing-tighter .block-inside > div {
  // @include getFontFamilyByWeight('diatype', 400);

  font-size: var(--size-16);
  display: inline;
  line-height: var(--line-height-120);
  letter-spacing: var(--letter-spacing-tighter);
}

.core-demo-only.corner-sharp .block-inside > div {
  background-color: #ffcc95;
  width: 200px;
  height: 200px;
  border-radius: var(--corner-sharp);
}

.core-demo-only.corner-round-xs .block-inside > div {
  background-color: #ffcc95;
  width: 200px;
  height: 200px;
  border-radius: var(--corner-round-xs);
}

.core-demo-only.corner-round-s .block-inside > div {
  background-color: #ffcc95;
  width: 200px;
  height: 200px;
  border-radius: var(--corner-round-s);
}

.core-demo-only.corner-round-m .block-inside > div {
  background-color: #ffcc95;
  width: 200px;
  height: 200px;
  border-radius: var(--corner-round-m);
}

.core-demo-only.corner-round-lg .block-inside > div {
  background-color: #ffcc95;
  width: 200px;
  height: 200px;
  border-radius: var(--corner-round-lg);
}

.core-demo-only.corner-round-xl .block-inside > div {
  background-color: #ffcc95;
  width: 200px;
  height: 200px;
  border-radius: var(--corner-round-xl);
}

.core-demo-only.size-0 .block-inside > div {
  background-color: #ffcc95;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-0);
}

.core-demo-only.size-2 .block-inside > div {
  background-color: #ffcc95;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-2);
}

.core-demo-only.size-4 .block-inside > div {
  background-color: #ffcc95;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-4);
}

.core-demo-only.size-8 .block-inside > div {
  background-color: #ffcc95;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-8);
}

.core-demo-only.size-12 .block-inside > div {
  background-color: #ffcc95;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-12);
}

.core-demo-only.size-14 .block-inside > div {
  background-color: #ffcc95;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-14);
}

.core-demo-only.size-16 .block-inside > div {
  background-color: #ffcc95;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-16);
}

.core-demo-only.size-20 .block-inside > div {
  background-color: #ffcc95;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-20);
}

.core-demo-only.size-24 .block-inside > div {
  background-color: #ffcc95;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-24);
}

.core-demo-only.size-32 .block-inside > div {
  background-color: #ffcc95;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-32);
}

.core-demo-only.size-40 .block-inside > div {
  background-color: #ffcc95;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-40);
}

.core-demo-only.size-48 .block-inside > div {
  background-color: #ffcc95;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-48);
}

.core-demo-only.size-56 .block-inside > div {
  background-color: #ffcc95;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-56);
}

.core-demo-only.size-64 .block-inside > div {
  background-color: #ffcc95;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-64);
}

.core-demo-only.size-80 .block-inside > div {
  background-color: #ffcc95;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-80);
}

.core-demo-only.size-88 .block-inside > div {
  background-color: #ffcc95;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-88);
}

.core-demo-only.size-96 .block-inside > div {
  background-color: #ffcc95;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-96);
}

.core-demo-only.size-104 .block-inside > div {
  background-color: #ffcc95;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-104);
}

.core-demo-only.size-120 .block-inside > div {
  background-color: #ffcc95;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-120);
}

.core-demo-only.size-140 .block-inside > div {
  background-color: #ffcc95;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-140);
}

.core-demo-only.size-160 .block-inside > div {
  background-color: #ffcc95;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-160);
}

.core-demo-only.size-180 .block-inside > div {
  background-color: #ffcc95;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-180);
}

.core-demo-only.size-200 .block-inside > div {
  background-color: #ffcc95;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-200);
}

/*********** START Elevation Blocks ***********/

@mixin elevation-common-styles {
  display: flex;
  border-radius: var(--corner-round-m, 16px);
  align-items: center;
  justify-content: center;
  height: 210px;
  width: 210px;
}

.core-demo-only {
  &.elevation-top-s {
    @include elevation-common-styles;

    box-shadow: var(--elevation-top-s-shadow);

    &:hover,
    &:active {
      box-shadow: var(--elevation-center-s-active-shadow);
    }
  }

  &.elevation-top-m {
    @include elevation-common-styles;

    box-shadow: var(--elevation-top-m-shadow);

    &:hover,
    &:active {
      box-shadow: var(--elevation-center-m-active-shadow);
    }
  }

  &.elevation-center-s {
    @include elevation-common-styles;

    box-shadow: var(--elevation-top-center-s-shadow);

    &:hover,
    &:active {
      box-shadow: var(--elevation-center-s-active-shadow);
    }
  }

  &.elevation-center-s-active {
    @include elevation-common-styles;

    box-shadow: var(--elevation-center-s-active-shadow);
  }

  &.elevation-center-m {
    @include elevation-common-styles;

    box-shadow: var(--elevation-center-m-shadow);

    &:hover,
    &:active {
      box-shadow: var(--elevation-center-m-active-shadow);
    }
  }

  &.elevation-center-m-active {
    @include elevation-common-styles;

    box-shadow: var(--elevation-center-m-active-shadow);
  }

  &.elevation-bottom-s {
    @include elevation-common-styles;

    box-shadow: var(--elevation-bottom-s-shadow);

    &:hover,
    &:active {
      box-shadow: var(--elevation-center-s-active-shadow);
    }
  }

  &.elevation-bottom-m {
    @include elevation-common-styles;

    box-shadow: var(--elevation-bottom-m-shadow);

    &:hover,
    &:active {
      box-shadow: var(--elevation-center-m-active-shadow);
    }
  }
}

/*********** END Elevation Blocks ***********/
