<div class="core-notification-wrapper">
    <div class="core-notification-header-wrapper">
        {{#notificationIcon}}
            <div class="core-notification-icon">
                {{notificationIcon}}
            </div>
        {{/notificationIcon}}
        {{#notificationTitle}}
            <div class="core-notification-title">
                {{notificationTitle}}
            </div>
        {{/notificationTitle}}
    </div>
    {{#notificationBody}}
        <div class="core-notification-body">
            {{notificationBody}}
        </div>
    {{/notificationBody}}
    {{#notificationDismiss}}
        <div class="core-notification-dismiss">
            <button>{{notificationDismiss}}</button>
        </div>
    {{/notificationDismiss}}
</div>