@import '../../styles/figma/figma-mixin';

.core-notification {
  border-radius: var(--corner-round-s);

  &.core-tinted {
    background: var(--surface-color-brand-core-tinted);

    .core-notification-header-wrapper,
    .core-notification-dismiss button {
      color: var(--shape-color-branded-core-seed);
    }
  }

  &.core-white {
    background: var(--surface-color-global-neutral-white);

    .core-notification-header-wrapper,
    .core-notification-dismiss button {
      color: var(--shape-color-branded-core-seed);
    }
  }

  &.core-grey {
    background: var(--surface-secondary-neutral-default);

    .core-notification-header-wrapper,
    .core-notification-dismiss button {
      color: var(--shape-color-branded-core-seed);
    }
  }

  &.accent-tinted {
    background: var(--surface-color-branded-accent-tinted);

    .core-notification-header-wrapper,
    .core-notification-dismiss button {
      color: var(--shape-color-branded-accent-seed);
    }
  }

  &.accent-white {
    background: var(--surface-color-global-neutral-white);

    .core-notification-header-wrapper,
    .core-notification-dismiss button {
      color: var(--shape-color-branded-accent-seed);
    }
  }

  &.accent-grey {
    background: var(--surface-secondary-neutral-default);

    .core-notification-header-wrapper,
    .core-notification-dismiss button {
      color: var(--shape-color-branded-accent-seed);
    }
  }

  &.extended-tinted {
    background: var(--surface-color-branded-extended-tinted);

    .core-notification-header-wrapper,
    .core-notification-dismiss button {
      color: var(--shape-color-branded-accent-seed);
    }
  }

  &.extended-white {
    background: var(--surface-color-global-neutral-white);

    .core-notification-header-wrapper,
    .core-notification-dismiss button {
      color: var(--shape-color-branded-accent-seed);
    }
  }

  &.extended-grey {
    background: var(--surface-secondary-neutral-default);

    .core-notification-header-wrapper,
    .core-notification-dismiss button {
      color: var(--shape-color-branded-accent-seed);
    }
  }

  .core-notification-wrapper {
    display: flex;
    flex-direction: column;
    padding: var(--size-16);
    gap: var(--size-16);

    @include breakpointMediumUp {
      flex-direction: row;
      padding: var(--size-24);
      gap: var(--size-24);
    }

    .core-notification-header-wrapper {
      display: flex;
      gap: var(--size-16);

      @include breakpointMediumUp {
        gap: var(--size-24);
        align-items: center;
      }
    }

    .core-notification-icon {
      p {
        margin: 0;
      }

      .icon {
        width: var(--size-24);
        height: var(--size-24);

        svg {
          width: 22.548px;
          height: 22.548px;

          @include breakpointMediumUp {
            width: 28px;
            height: 28px;
          }
        }

        @include breakpointMediumUp {
          width: 32px;
          height: 32px;
        }
      }
    }

    .core-notification-title {
      font: var(--lib-core--body-s-font);
      font-family: var(--lib-core--font-family-primary-bold);

      @include breakpointMediumUp {
        font: var(--lib-core--body-m-font);
        font-family: var(--lib-core--font-family-primary-bold);
        min-width: 334px;
      }
    }

    .core-notification-body {
      color: var(--color-text-global-neutral-primary);
      font: var(--lib-core--body-xs-font);

      @include breakpointMediumUp {
        font: var(--lib-core--body-s-font);
      }
    }

    .core-notification-dismiss {
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 1px solid var(--border-color-global-neutral-on-light-primary);
      border-left: none;
      padding-top: var(--size-16);

      button {
        font: var(--lib-core--button-s-font);
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: inherit;
      }

      @include breakpointMediumUp {
        border-top: none;
        padding-top: 0;
        padding-left: var(--size-24);
        border-left: 1px solid var(--border-color-global-neutral-on-light-primary);

        button {
          padding: 5px 0;
        }
      }
    }
  }
}
