<div class="core-content-container-inside block-inside">
  {{ #textblock }}
    {{ textblock}}
  {{ /textblock }}

  <div class="{{ #grid }}core-content-container-grid-wrapper{{/grid}}{{^grid}}core-content-container-column-wrapper{{/grid}}">
    <hr>

    {{ #contentBlocks }}
      {{ . }}
    {{ /contentBlocks }}
  </div>

  {{ disclaimer }}
</div>
