.core-hero-custom-placeholder-container .embedded-content .core-hero .core-hero-placeholder {
  padding: var(--size-32);
}

@media (min-width: 1024px) {
  .core-hero-custom-placeholder-container .embedded-content .core-hero .core-hero-placeholder {
    /* Tablet styles here */
    padding: var(--size-40);
  }
}

.core-hero-custom-placeholder-container .embedded-content .core-hero.hero-block-contains-placeholder.tinted {
  padding-bottom: var(--size-48);
}

@media (min-width: 1024px) {
  .core-hero-custom-placeholder-container .embedded-content .core-hero.hero-block-contains-placeholder.tinted {
    /* Tablet styles here */
    padding-bottom: var(--size-80);
  }
}
