:host, :root {
    --review-open-background-color: #f4ad2f;;
    --review-open-background-disabled-color: #f4ac2f71;
    --review-open-color: black;
    --review-submitted-background-color: #f56544;
    --review-submitted-color: white;
    --review-button-spinner-color: var(--hlx-sk-button-color);
    --review-button-spinner-dark-color: white;
    --hlx-dialog-background-color: white;
    --hlx-dialog-text-color: #444;
    --hlx-dialog-row-odd-color: #ddd;
    --hlx-dialog-row-even-color: #eee;
    --hlx-dialog-row-link-color: #272791;
}

@media (prefers-color-scheme: dark) {
    :host, :root {
        --hlx-dialog-background-color: #444;
        --hlx-dialog-text-color: #eee;
        --hlx-dialog-row-odd-color: #666;
        --hlx-dialog-row-even-color: #555;
        --hlx-dialog-row-link-color: #f4ad2f;
    }
}

/* SIDEKICK */

.hlx-sk .review.plugin > span,
.hlx-sk .review-status-badge.plugin > span
{
  margin-top: 0;
}

/* DIALOG */
.hlx-dialog {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: calc(100% - 250px);
    width: min(calc(100% - 64px), 850px);
    margin: 32px auto;
    background-color: var(--hlx-dialog-background-color);
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    font-size: 16px;
    font-family: var(--hlx-sk-font-family);
    color: var(--hlx-dialog-text-color);
    border: 0;
    box-sizing: border-box;
    padding: 0;
  }

  .dialog {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
  }

  .dialog * {
    box-sizing: border-box;
  }

/* Review */

.review {
  display: flex;
  align-items: center;
}

.review-status a:any-link {
  color: currentcolor;
  text-decoration: none;
  display: inline-block;
}

.review-status-badge {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 0 10px;
  cursor: pointer;
}

.review-status-badge.open {
  background-color: var(--review-open-background-color);
  color: var(--review-open-color);
}

.review-status-badge.submitted {
  background-color: var(--review-submitted-background-color);
  color: var(--review-submitted-color);
}

/* APPROVAL */

.plugin-container>span.hlx-sk-label {
  display: none;
}

.approval-label {
  font-size: 14px;
  border: 1px solid #b8daff;
  display: block;
  border-radius: 7px;
  padding: 5px 10px;
  background: #cce5ff;
  color: #004085;
  display: flex;
  align-items: center;
}

.approval-label input {
  width: initial;
  margin-right: 5px;
}

/* BADGE */

.badge-locked {
  transform: scale(0.7) translate(0, -7px);
  ;
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 12px;
  height: 11px;
  border: 2px solid;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom: transparent;
  margin-top: -12px;
  margin-right: 12px;
}

.badge-locked::after {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 10px;
  border-radius: 2px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  left: -4px;
  top: 9px;
}

.badge-unlocked {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(0.7) translate(0, -9px);
  width: 12px;
  height: 6px;
  border: 2px solid;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom: transparent;
  margin-top: -18px;
  margin-left: -2px;
  margin-right: 12px;
}

.badge-unlocked::after,
.badge-unlocked::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute
}

.badge-unlocked::after {
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  width: 16px;
  height: 10px;
  border-radius: 2px;
  left: -4px;
  top: 10px;
}

.badge-unlocked::before {
  width: 2px;
  height: 6px;
  background: currentcolor;
  left: -2px;
  top: 4px;
}

