/* LOADER */

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

@keyframes hlxskspin {
  to {
      transform: rotate(359deg);
  }
}

@keyframes hlxskgrow {
  to {
      width: 14px;
      height: 14px;
      margin-top: -8px;
      right: 13px;
  }
}


.hlx-sk button.loading,
.hlx-dialog button.loading,
.hlx-dialog .review-panel a.loading {
  padding-right: 40px !important;
  position: relative;
  cursor: wait;
}

.hlx-sk button.loading::after,
.hlx-dialog button.loading::after,
.hlx-dialog .review-panel a.loading:after {
  content: "";
  position: absolute;
  border-radius: 100%;
  right: 6px;
  top: 50%;
  width: 0;
  height: 0;
  margin-top: -2px;
  border: 2px solid #00000080;
  border-left-color: #000000;
  border-top-color: #000000;
  animation: hlxskspin .6s infinite linear, hlxskgrow .3s forwards ease-out;
}

.feature-container .loading {
  position: relative;
  cursor: wait;
  width: 20px;
  height: 20px;
  padding-right: 5px;
}

.feature-container .loading::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  width: 0;
  left: 0;
  top: 45%;
  height: 0;
  margin-top: -2px;
  border: 2px solid #00000080;
  border-left-color: #000000;
  border-top-color: #000000;
  animation: hlxskspin .6s infinite linear, hlxskgrow .3s forwards ease-out;
}

.feature-container .env-loader {
  display: flex;
  justify-content: center;
  min-width: 75px;
  height: 28px;
  align-items: center;
  padding: 0 10px;
}