<div class="language-selector-container">
  <div class="combo js-select">
    <div id="combo{{id}}-label" class="combo-label">language selector</div>
    <div 
    aria-controls="listbox{{id}}" 
    aria-expanded="false" 
    aria-haspopup="listbox" 
    aria-labelledby="combo{{id}}-label" 
    id="combo{{id}}" 
    class="combo-input" 
    role="combobox" 
    tabindex="0">
      <span class="icon icon-lib-globe1"> </span>
    </div>
    <div class="combo-menu" role="listbox" id="listbox{{id}}" aria-labelledby="combo{{id}}-label" tabindex="-1">
      <p class="list-title">Select Language</p>
    </div>
  </div>
</div>
