@import '../../styles/figma/figma-mixin';

/* .core-video */

// TODO - update later after FRNKDV-3491 is done
// @include breakpointMediumUp {
//   .core-video.inline {
//     padding: 80px 190px;
//   }
// }

.core-video {
  --core-video--controls-color: var(--lib-core--video--controls-color, var(--lib-core--color-system-black));

  .atoms-headline h1,
  .atoms-headline h2,
  .atoms-headline h3 {
    font: var(--lib-core--headline-l-bold-font);
    letter-spacing: var(--letter-spacing-tight);
  }

  &.inline {
    .bottom-atoms:not(:last-child) {
      margin: var(--size-24) 0;

      @include breakpointMediumUp {
        margin: 32px 0;
      }
    }

    .video-headline {
      padding-bottom: var(--size-24);

      @include breakpointMediumUp {
        padding-bottom: var(--size-40);
      }

      .atoms-headline {
        margin-bottom: 0;
      }
    }

    &.sharepoint {
      picture,
      video {
        border-radius: 24px !important;
      }
    }

    &.tinted {
      background-color: var(--surface-color-branded-core-tinted);
    }
  }
}

.core-video .video-container {
  position: relative;
  display: block;
  border-radius: var(--corner-round-lg);
  overflow: hidden;
}

.core-video .video-container img,
.core-video .video-container video-js {
  width: 100%;
  top: 0;
  height: auto;
}

.core-video .video-container video-js {
  opacity: 0;
  transition: opacity 0.7s;
}

.core-video .video-container video-js {
  position: absolute;
}

.core-video .video-container.loaded video-js {
  opacity: 1;
  position: relative;
}

.core-video .video-container.loaded img {
  position: absolute;
}

.core-video .video-container .vjs-big-play-button {
  background-color: var(--core-video--controls-color);
  opacity: 0.5;
}

.core-video .video-container .vjs-play-progress {
  background-color: var(--core-video--controls-color);
}

// TODO - update later after FRNKDV-3491 is done
// .core-video.edge {
//   padding: 0 !important;
// }

.core-video .local-video-source,
.core-video .video-gif-image img {
  width: 100%;
}

.core-video.inline {
  // TODO - update later after FRNKDV-3491 is done
  @include breakpointSmallDown {
    // padding: 48px 24px;

    .button {
      width: 100%;
    }
  }
}
