.core-card-container.section:has(.block.core-collection-carousel) {
  padding-top: var(--size-48);
}

@media (max-width: 1023px) {
  .core-card-container.section:has(.block.core-collection-carousel) {
    /* everything above mobile */
  }

  .core-card-container.section:has(.block.core-collection-carousel) .default-content-wrapper {
    padding-bottom: 0;
  }
}

.core-card-container.section:has(.block.core-collection-carousel) h2 {
  margin-top: 0;
  margin-bottom: var(--size-8);
  font: var(--lib-core--title-l-font);
  font-family: var(--lib-core--font-family-primary);
}

.core-card-container.section:has(.block.core-collection-carousel) .core-card-content h2 {
  font: var(--lib-core--title-m-font);
  font-family: var(--lib-core--font-family-primary);
}

@media (min-width: 1024px) {
  .core-card-container.section:has(.block.core-collection-carousel) .core-card-content h2 {
    /* Tablet styles here */
    font: var(--lib-core--title-l-font);
  }
}

@media (min-width: 1024px) {
  .core-card-container.section:has(.block.core-collection-carousel) {
    /* Tablet styles here */
    padding-top: var(--size-80);
    padding-bottom: var(--size-80);
  }

  .core-card-container.section:has(.block.core-collection-carousel) .default-content-wrapper h2 {
    font: var(--lib-core--title-xl-font);
  }

  .core-card-container.section:has(.block.core-collection-carousel) h2 {
    margin-bottom: var(--size-24);
  }
}

.core-collection-carousel {
  --core-collection-carousel--max-visible-items: var(--lib-core--collection--carousel-max-visible-items, 3);
  --core-collection-carousel--gap: var(--lib-core--collection--carousel-gap, 24px);
  --core-collection-carousel--navigation-height: 24px;
  --core-collection--partial-item-width-percentage: 0.2;
}

.core-collection-carousel {
  --fully-visible-items: 1;
  --visible-items: calc(var(--fully-visible-items) + var(--core-collection--partial-item-width-percentage));
  --visible-gaps: calc(var(--fully-visible-items) + 1);
  --item-width: calc((100% - var(--core-collection-carousel--gap) * var(--visible-gaps)) / var(--visible-items));
  --active-item-index: 0;
}

@media (min-width: 1024px) {
  .core-collection-carousel {
    /* Tablet styles here */
    --fully-visible-items: var(--core-collection-carousel--max-visible-items);
  }
}

.core-collection-carousel * {
  box-sizing: border-box;
}

.core-collection-carousel .core-collection-carousel-parent {
  overflow: hidden;
  position: relative;
}

.core-collection-carousel .core-collection-carousel-parent .core-collection-carousel-carousel {
  display: flex;
  align-items: stretch;
  gap: var(--core-collection-carousel--gap);
  transition: transform 0.5s ease-out;
  padding-top: 32px;

  --active-item-position: calc((var(--item-width) + var(--core-collection-carousel--gap)) * var(--active-item-index));
  --partial-item-offset: calc((var(--item-width) * var(--core-collection--partial-item-width-percentage)) / 2) + var(--core-collection-carousel--gap);

  transform: translateX(calc(var(--active-item-position) * -1 + var(--partial-item-offset)));
}

.core-collection-carousel .core-collection-carousel-parent .core-collection-carousel-carousel::after {
  content: '';
  display: flex;
  padding-right: 1px;
  box-sizing: border-box;
}

.core-collection-carousel .core-collection-carousel-parent .core-collection-carousel-carousel.core-collection-carousel-carousel-disclaimer {
  padding-top: 24px;
}

@media (min-width: 1024px) {
  .core-collection-carousel .core-collection-carousel-parent .core-collection-carousel-carousel.core-collection-carousel-carousel-disclaimer {
    /* Tablet styles here */
    padding-top: 32px;
  }
}

.core-collection-carousel .core-collection-carousel-parent .core-collection-carousel-carousel.core-collection-carousel-carousel-disclaimer p {
  font-size: 12px;
  font-weight: 400;
}

.core-collection-carousel .core-collection-carousel-parent .core-collection-carousel-carousel.core-collection-carousel-carousel-disclaimer p a {
  font-weight: 700;
  color: var(--surface-color-branded-core-seed);
}

.core-collection-carousel .core-collection-carousel-parent .core-collection-carousel-carousel.core-collection-carousel-start {
  --partial-item-offset: 0;
}

.core-collection-carousel .core-collection-carousel-parent .core-collection-carousel-carousel.core-collection-carousel-end {
  --partial-item-offset: calc(var(--item-width) * var(--core-collection--partial-item-width-percentage) + var(--core-collection-carousel--gap));
}

.core-collection-carousel .core-collection-carousel-parent .core-collection-carousel-carousel .core-collection-carousel-item {
  max-width: 100%;
  flex: 0 0 var(--item-width);
}

.core-collection-carousel .core-collection-carousel-parent .core-collection-carousel-carousel .core-collection-carousel-item > div {
  margin-left: 0;
  box-sizing: border-box;
  display: flex;
  max-width: 100%;
  min-width: inherit;
}

.core-collection-carousel .core-collection-carousel-parent .core-collection-carousel-carousel .core-collection-carousel-item .core-card {
  height: 100%;
  min-width: unset;
}

.core-collection-carousel .core-collection-carousel-parent .core-collection-carousel-navigation {
  gap: 8px;
  align-items: center;
  height: var(--core-collection-carousel--navigation-height);
  display: flex;
  margin-top: var(--size-16);
  margin-left: var(--core-collection-carousel--gap);
}

.core-collection-carousel .core-collection-carousel-parent .core-collection-carousel-navigation .core-collection-carousel-navigation-item {
  width: 32px;
  height: 8px;
  background-color: var(--shape-color-neutral-regular);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, width 0.3s;
}

.core-collection-carousel .core-collection-carousel-parent .core-collection-carousel-navigation .core-collection-carousel-navigation-item.core-collection-carousel-navigation-item-active {
  background-color: var(--surface-color-brand-accent-primary);
  width: 64px;
}

.core-collection-carousel.full-width .core-collection-carousel-parent {
  margin-left: calc(var(--layout-side-gutters) * -1);
  margin-right: calc(var(--layout-side-gutters) * -1);
}

.core-collection-carousel.full-width .core-collection-carousel-parent .core-collection-carousel-carousel.core-collection-carousel-start {
  transform: translateX(var(--layout-side-gutters));
}

.core-collection-carousel.full-width .core-collection-carousel-parent .core-collection-carousel-scrollbar-parent,
.core-collection-carousel.full-width .core-collection-carousel-parent .core-collection-carousel-navigation {
  margin-left: var(--layout-side-gutters);
  margin-right: var(--layout-side-gutters);
}

.core-collection-carousel .core-collection-carousel-scrollbar-parent {
  display: none;
}

@media (max-width: 1023px) {
  .core-collection-carousel .scrollable .core-collection-carousel-carousel > .core-collection-carousel-item {
    /* everything above mobile */
    flex: 0 0 270px;
  }
}

.core-collection-carousel .scrollable .core-collection-carousel-navigation {
  display: none;
}

.core-collection-carousel .scrollable .core-collection-carousel-scrollbar-parent {
  display: block;
  margin-top: 24px;
  margin-left: var(--core-collection-carousel--gap);
  position: relative;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .core-collection-carousel .scrollable .core-collection-carousel-scrollbar-parent {
    /* Tablet styles here */
    margin-top: 32px;
  }
}

.core-collection-carousel .scrollable .core-collection-carousel-scrollbar-parent::before {
  content: '';
  width: 100%;
  height: 3px;
  border-bottom: silver solid;
  position: absolute;
  top: 2px;
}

.core-collection-carousel .scrollable .core-collection-carousel-scrollbar-parent .core-collection-carousel-scrollbar {
  position: relative;
  overflow-x: auto;
}

.core-collection-carousel .scrollable .core-collection-carousel-scrollbar-parent .core-collection-carousel-scrollbar > div {
  height: 1px;
}

@supports (scrollbar-color: auto) {
  .core-collection-carousel .scrollable .core-collection-carousel-scrollbar-parent .core-collection-carousel-scrollbar {
    scrollbar-color: var(--button-color-filled-core-surface-default) var(--shape-color-global-neutral-seed);
  }
}

.core-collection-carousel.scrollable-fallback-js .scrollable .core-collection-carousel-parent {
  overflow-x: auto;
}

@supports (scrollbar-color: auto) {
  .core-collection-carousel.scrollable-fallback-js .scrollable .core-collection-carousel-parent {
    scrollbar-color: var(--button-color-filled-core-surface-default) var(--shape-color-global-neutral-seed);
  }
}

.core-collection-carousel.scrollable-fallback-js .scrollable .core-collection-carousel-scrollbar-parent {
  display: none;
}

.core-collection-carousel.scrollable-fallback-js .scrollable .core-collection-carousel-scrollbar-parent {
  display: none;
}

.core-collection-carousel.scrollable-fallback-js .scrollable .core-collection-carousel-carousel {
  position: relative;
  padding: var(--core-collection-carousel--gap) var(--core-collection-carousel--gap) var(--core-collection-carousel--gap) 0;
  max-width: calc(100% - var(--core-collection-carousel--gap) * 2);
  transform: translateX(var(--core-collection-carousel--gap));
  margin-right: 16px;
}

@media (min-width: 1024px) {
  .core-collection-carousel.scrollable-fallback-js .scrollable .core-collection-carousel-carousel:last-of-type {
    /* Tablet styles here */
    padding-bottom: 0;
  }
}

.core-collection-carousel.scrollable-fallback-js .scrollable .core-collection-carousel-carousel-disclaimer {
  padding-top: 0;
}

.core-collection-carousel.scrollable-fallback-js .scrollable .core-collection-carousel-carousel-disclaimer .core-collection-carousel-disclaimer {
  padding: 0 calc(var(--core-collection-carousel--gap) / 2);
}

[data-collection-container='scrollable-carousel'] .default-content-wrapper h2,
[data-collection-container='scrollable-carousel'] .default-content-wrapper h3,
[data-collection-container='carousel'] .default-content-wrapper h2,
[data-collection-container='carousel'] .default-content-wrapper h3 {
  font: var(--lib-core--title-l-font);
}

@media (min-width: 1024px) {
  [data-collection-container='scrollable-carousel'] .default-content-wrapper h2,
  [data-collection-container='scrollable-carousel'] .default-content-wrapper h3,
  [data-collection-container='carousel'] .default-content-wrapper h2,
  [data-collection-container='carousel'] .default-content-wrapper h3 {
    /* Tablet styles here */
    font: var(--lib-core--title-xl-font);
  }
}
