<a href="#main" tabindex="0" class="skip-content hidden button text button-m inverted button-container inverted-background">Skip to content</a>
<div class="nav-area">
  {{#primaryLogoClass}}
    <a href="/" class="button-icon header-logo" aria-label="home">
      <span class="section-logo {{ primaryLogoClass }}"></span>
      <span class="section-logo-reversed {{ primaryLogoClassReversed }}"></span>
    </a>
  {{/primaryLogoClass}}
  <nav data-expanded="false" class="header-nav-wrapper" aria-label="Site">
    {{#regulatoryLinkCollection.length}}
      <div class="core-nav-regulatory-links">
        {{#regulatoryLinkCollection}}
          <a href="{{ href }}" title="{{ text }}">{{ text }}</a>
        {{/regulatoryLinkCollection}}
      </div>
    {{/regulatoryLinkCollection.length}}
    <div class="header-nav-wrapper-menu">
      <div class="header-nav-right-content">
      <div class="hva-cta-component">{{hvaCta}}</div>
        <div class="language-selector-container language-component"></div>
        <div class="core-nav-hamburger button-examples-new">
          <button class="button primary button-s button-icon" type="button" aria-label="Open navigation">
            <span class="icon icon-lib-mat-menu-outlined open-menu"></span>
            <span class="icon icon-lib-menu-close close-menu"></span>
          </button>
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="header-expanded-position-toggle">
  <div class="top-menu-nav">
    <div class="divider divider-top"></div>
    {{#topMenuItemCollection.length}}
      <div class="menu-nested">
        <ul class="desktop-menu">
          {{#topMenuItemCollection}}
            <li class="core-nav-drop"  tabindex="0" aria-expanded="false" aria-label="false">
                {{#multiPageMenuL2SubLinks.length}}
                    {{ multiPageVariantL1MenuLabels }}
                    {{ multiPageMenuL2SubLinks }}
                {{/multiPageMenuL2SubLinks.length}}

                {{^multiPageMenuL2SubLinks.length}}
                    {{ staticVariantL1MenuLinks }}
                {{/multiPageMenuL2SubLinks.length}}
            </li>
          {{/topMenuItemCollection}}
        </ul>

        <ul class="mobile-menu">
          {{#topMenuItemCollection}}
            <li class="core-nav-drop" tabindex="0" aria-expanded="false" aria-label="false">
                {{#multiPageMenuL2SubLinks.length}}
                    <span class="mobile-menu-accordion-labels">
                        {{ multiPageVariantL1MenuLabels }}
                        <span class="icon icon-lib-mat-expand-more dropdown-label-icon"></span>
                    </span>
                    <span class="mobile-menu-accordion-content">{{ multiPageMenuL2SubLinks }}</span>
                {{/multiPageMenuL2SubLinks.length}}

                {{^multiPageMenuL2SubLinks.length}}
                    {{ staticVariantL1MenuLinks }}
                {{/multiPageMenuL2SubLinks.length}}
            </li>
          {{/topMenuItemCollection}}
        </ul>
      </div>
    {{/topMenuItemCollection.length}}
  </div>

  <div class="spacer"></div>

  <div class="button-section">
    <div class="button-wrapper">
      <div class="header-expanded-left-buttons">
        {{#rightButtonLink}}
          <a href="{{ rightButtonHref }}" title="{{ rightButtonLink }}" class="button-left button primary">
            {{#rightButtonIcon}}
              <span class="{{ rightButtonIcon }}"></span>
            {{/rightButtonIcon}}
            <span>{{ rightButtonLink }}</span>
          </a>
        {{/rightButtonLink}}

        {{#leftButtonLink}}
          <a href="{{ leftButtonHref }}" title="{{ leftButtonLink }}" class="button-right button primary">
            {{#leftButtonIcon}}
              <span class="{{ leftButtonIcon }}"></span>
            {{/leftButtonIcon}}
            <span>{{ leftButtonLink }}</span>
          </a>
        {{/leftButtonLink}}
      </div>
      <div class="header-expanded-right-buttons">
        {{#splitterButton}}
          {{splitterButton}}
        {{/splitterButton}}
      </div>
    </div>
    <div class="divider"></div>
  </div>

  <div class="menu-bottom-section">
    <div class="menu-logo-and-links">
     {{! shows reverse }}
      {{#logoBottom}}
        <a href="/" class="button-icon logo-bottom" aria-label="home">
          <span class="logo-bottom-span {{ logoBottom }}"></span>
        </a>
      {{/logoBottom}}
      {{#socialSection}}
        <div class="core-footer-social">
          {{#socialSection.linkItemCollection}}
            <a href="{{ href }}"><span class="{{ iconClass }}"></span></a>
          {{/socialSection.linkItemCollection}}
        </div>
      {{/socialSection}}
    </div>

    <div class="bottom-right-content">
      <div class="bottom-right-dropdowns">
        {{#onlyOneTopLink}}
          <ul>
            <li>
              {{ onlyOneTopLink }}
            </li>
          </ul>
        {{/onlyOneTopLink}}

        <div id="dropdown-top-links-button" tabindex="0" aria-label="Open Popup">
          <div class="dropdown-label">
            <span>{{ dropdownTop }}</span>
            <span class="icon icon-lib-mat-expand-more dropdown-label-icon"></span>
          </div>
          <div id="dropdown-top-links-content">
            <div>
              <ul>
                {{#dropdownTopLinksCollection}}
                  <li>
                    <a href="{{ href }}">{{ label }}</a>
                  </li>
                {{/dropdownTopLinksCollection}}
              </ul>
            </div>
          </div>
        </div>

        {{#onlyOneBottomLink}}
          <ul>
            <li>
              {{ onlyOneBottomLink }}
            </li>
          </ul>
        {{/onlyOneBottomLink}}

        <div id="dropdown-bottom-links-button" tabindex="0" aria-label="Open Popup">
          <div class="dropdown-label">
            <span>{{ dropdownBottom }}</span>
            <span class="icon icon-lib-mat-expand-more dropdown-label-icon"></span>
          </div>
          <div id="dropdown-bottom-links-content">
            <div>
              <ul>
                {{#dropdownBottomLinksCollection}}
                  <li>
                    <a href="{{ href }}">{{ label }}</a>
                  </li>
                {{/dropdownBottomLinksCollection}}
              </ul>
            </div>
          </div>
        </div>
      </div>

      <ul>
        {{#bottomRightLinksCollection}}
          <li class="core-nav-drop" tabindex="0">
            <a href="{{ href }}">{{ label }}</a>
          </li>
        {{/bottomRightLinksCollection}}
      </ul>
    </div>
  </div>
</div>
