/* .core-content */
.core-content .core-content-inside > div > div:last-child > div > * {
  margin-bottom: 0;
}

.core-content .atoms-headline {
  margin-bottom: var(--size-24);
}

.core-content.content-full-width .atoms-headline {
  margin-bottom: var(--size-24);
}

.core-content.content-full-width .atoms-headline:last-child {
  margin-bottom: 0;
}

.core-content .icon {
  fill: var(--surface-color-branded-core-seed);
  color: var(--surface-color-branded-core-seed);
  width: var(--size-48);
  height: var(--size-48);
}

.core-content .core-content-inside {
  display: flex;
  flex-direction: column;
}

.core-content .core-content-inside div.atoms-headline.atoms-headline-content h2,
.core-content .core-content-inside div.atoms-headline.atoms-headline-content h2 strong {
  font: var(--lib-core--title-m-font);
}

@media (min-width: 1024px) {
  .core-content .core-content-inside div.atoms-headline.atoms-headline-content h2,
  .core-content .core-content-inside div.atoms-headline.atoms-headline-content h2 strong {
    /* Tablet styles here */
    font: var(--lib-core--title-l-font);
  }
}

.core-content .core-content-inside div.atoms-headline.atoms-headline-content h2 {
  font-family: var(--lib-core--font-family-primary);
}

@media (min-width: 1024px) {
  .core-content .core-content-inside {
    /* Tablet styles here */
    padding: 0;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .core-content .core-content-inside > div {
    flex: 1 0;
    height: fit-content;
  }
}

@media (min-width: 1024px) {
  .core-content {
    /* Tablet styles here */
  }

  .core-content .icon, .core-content.number .icon, .core-content.content-full-width .icon {
    fill: var(--surface-color-branded-core-seed);
    color: var(--surface-color-branded-core-seed);
    width: var(--size-60);
    height: var(--size-60);
  }

  .core-content .core-content-inside, .core-content.number .core-content-inside, .core-content.content-full-width .core-content-inside {
    gap: 130px;
    width: 100%;
  }

  .core-content .core-content-inside > div, .core-content.number .core-content-inside > div, .core-content.content-full-width .core-content-inside > div {
    flex: unset;
  }

  .core-content .core-content-inside > div {
    width: 50%;
  }

  .core-content.content-full-width .core-content-inside > .core-content-headline-container {
    flex: 0 1 40.54%;
  }

  .core-content.content-full-width div:has(.atoms-content) {
    flex: 0 1 50%;
  }

  .core-content .core-content-inside, .core-content.number .core-content-inside {
    justify-content: space-evenly;
  }

  .core-content.content-full-width .core-content-inside {
    justify-content: space-between;
  }
}

.core-content, .core-content.number, .core-content.content-full-width {
  color: var(--lib-color--brand);
}

.core-content .content-block-number-number *, .core-content.number .content-block-number-number *, .core-content.content-full-width .content-block-number-number * {
  font: var(--lib-core--display-regular-font);
  color: var(--surface-color-branded-core-seed);
  margin: 0;
}

.core-content.brand, .core-content.number.brand, .core-content.content-full-width.brand {
  background-color: var(--surface-color-branded-core-tinted);
}

.core-content.large-icon .atoms-headline {
  margin-bottom: var(--size-24);
}

@media (min-width: 1024px) {
  .core-content.large-icon .atoms-headline {
    /* Tablet styles here */
    margin-bottom: var(--size-16);
  }
}

.core-content.large-icon .atoms-content p {
  margin-bottom: var(--size-24);
}

@media (min-width: 1024px) {
  .core-content.large-icon .atoms-content p {
    /* Tablet styles here */
    margin-bottom: var(--size-32);
  }
}

.core-content.large-icon .icon {
  width: var(--size-104);
  height: var(--size-104);
  margin-bottom: var(--size-24);
}

@media (min-width: 1024px) {
  .core-content.large-icon .icon {
    /* Tablet styles here */
    width: 15%;
    flex-grow: 1;
    min-height: var(--size-160);
    margin-bottom: 0;
  }
}

.core-content.large-icon .core-content-inside {
  justify-content: space-between;
  padding: var(--size-48) var(--size-24) var(--size-16);
}

@media (min-width: 1024px) {
  .core-content.large-icon .core-content-inside {
    /* Tablet styles here */
    flex-direction: row-reverse;
    align-items: center;
    padding: 0;
  }

  .core-content.large-icon .core-content-inside > div {
    width: 70%;
  }
}

.core-content.large-icon .core-content-inside div.atoms-headline.atoms-headline-content h2 {
  font: var(--lib-core--headline-s-light-font);
}

.core-content.large-icon .core-content-inside div.atoms-headline.atoms-headline-content h2 strong {
  font: var(--lib-core--headline-s-bold-font);
}

@media (min-width: 1024px) {
  .core-content.large-icon .core-content-inside div.atoms-headline.atoms-headline-content h2 {
    /* Tablet styles here */
    font: var(--lib-core--headline-m-light-font);
  }

  .core-content.large-icon .core-content-inside div.atoms-headline.atoms-headline-content h2 strong {
    font: var(--lib-core--headline-m-bold-font);
  }
}

.core-content.branded-container .core-content-inside div.atoms-headline.atoms-headline-content h2 {
  font: var(--lib-core--headline-s-light-font);
}

.core-content.branded-container .core-content-inside div.atoms-headline.atoms-headline-content h2 strong {
  font: var(--lib-core--headline-s-bold-font);
}

@media (min-width: 1024px) {
  .core-content.branded-container .core-content-inside div.atoms-headline.atoms-headline-content h2 {
    /* Tablet styles here */
    font: var(--lib-core--headline-m-light-font);
  }

  .core-content.branded-container .core-content-inside div.atoms-headline.atoms-headline-content h2 strong {
    font: var(--lib-core--headline-m-bold-font);
  }
}

@media (max-width: 1023px) {
  .core-content.branded-container .core-content-inside div.atoms-headline.atoms-headline-content h2 {
    /* everything above mobile */
  }

  .core-content.branded-container .core-content-inside div.atoms-headline.atoms-headline-content h2 .core-content-inside {
    border-radius: 0 var(--corner-round-lg) var(--corner-round-lg) 0;
  }
}

.core-content.branded-container .core-content-inside {
  padding: var(--size-32) var(--size-24);
  align-items: center;
  box-shadow: var(--elevation-center-m-shadow);
  border-top-right-radius: var(--corner-round-lg);
  border-bottom-right-radius: var(--corner-round-lg);
  width: auto;
}

@media (min-width: 1024px) {
  .core-content.branded-container .core-content-inside {
    /* Tablet styles here */
    border-radius: var(--corner-round-lg);
    padding: var(--size-48) 110px;
    gap: 134px;
  }
}

.core-content.branded-container .core-content-inside > div {
  width: auto;
}

@media (min-width: 1024px) {
  .core-content.branded-container .core-content-inside > div {
    /* Tablet styles here */
    flex-basis: 50%;
  }

  .core-content.branded-container .core-content-inside > div.core-content-headline-container {
    flex: 1 1 44.1%;
  }

  .core-content.branded-container .core-content-inside > div.core-content-headline-container + div {
    flex: 1 1 55.9%;
  }
}

@media (min-width: 1024px) {
  .core-content.branded-container div.core-content-headline-container {
    /* Tablet styles here */
    display: flex;
    align-items: center;
    gap: var(--size-48);
  }
}

.core-content.branded-container .atoms-headline {
  margin-bottom: var(--size-24);
}

@media (min-width: 1024px) {
  .core-content.branded-container .atoms-headline {
    /* Tablet styles here */
    margin-bottom: 0;
  }
}

.core-content.branded-container .atoms-content p {
  margin-bottom: var(--size-24);
}

.core-content.branded-container .atoms-disclaimer {
  margin-bottom: 0;
}

.core-content.branded-container .icon {
  margin-bottom: var(--size-24);
}

@media (min-width: 1024px) {
  .core-content.branded-container .icon {
    /* Tablet styles here */
    margin-bottom: 0;
    flex: 0 0 60px;
  }
}

.core-content.branded-container .atoms-headline h2, .core-content.large-icon .atoms-headline h2 {
  font: var(--lib-core--headline-s-light-font);
}

.core-content.branded-container .atoms-headline h2 strong, .core-content.large-icon .atoms-headline h2 strong {
  font: var(--lib-core--headline-s-bold-font);
}

@media (min-width: 1024px) {
  .core-content.branded-container .atoms-headline h2, .core-content.large-icon .atoms-headline h2 {
    /* Tablet styles here */
    font: var(--lib-core--headline-m-light-font);
  }

  .core-content.branded-container .atoms-headline h2 strong, .core-content.large-icon .atoms-headline h2 strong {
    font: var(--lib-core--headline-m-bold-font);
  }
}

.core-content.brand-core .core-content-inside {
  background-color: var(--surface-color-branded-core-seed);
}

.core-content.brand-core .core-content-inside .atoms-headline h2,
.core-content.brand-core .core-content-inside .atoms-content p,
.core-content.brand-core .core-content-inside .atoms-content a,
.core-content.brand-core .core-content-inside .atoms-disclaimer,
.core-content.brand-core .core-content-inside .icon {
  color: var(--text-color-global-neutral-white);
  fill: var(--text-color-global-neutral-white);
}

.core-content .icon {
  margin-bottom: var(--size-24);
}

.core-content.content-full-width .icon {
  margin-bottom: var(--size-24);
}

.core-content .atoms-content p {
  margin-bottom: var(--size-32);
}

.core-content .atoms-buttons {
  margin-bottom: var(--size-24);
}

.core-content .atoms-buttons a.button:any-link {
  width: 100%;
}

@media (min-width: 1024px) {
  .core-content .atoms-buttons a.button:any-link {
    /* Tablet styles here */
    width: fit-content;
  }
}

.core-content.embedded-content {
  padding: 0;
}

@media (max-width: 1023px) {
  .core-content.embedded-content.no-gutter-block {
    /* everything above mobile */
  }

  .core-content.embedded-content.no-gutter-block {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.core-content.embedded-content .core-content-inside {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--size-16);
  padding: 0;
}

@media (min-width: 1024px) {
  .core-content.embedded-content .core-content-inside {
    /* Tablet styles here */
    gap: var(--size-24);
  }
}

.core-content.embedded-content .atoms-headline {
  margin-bottom: var(--size-8);
}

.core-content.embedded-content .core-content-inside > div {
  width: inherit;
}

.core-content.embedded-content .atoms-content p {
  margin-bottom: 0;
}

.core-content.embedded-content .icon {
  margin: auto;
  max-width: var(--size-48);
  width: 100%;
}

@media (min-width: 1024px) {
  .core-content.embedded-content .icon {
    /* Tablet styles here */
    max-width: var(--size-60);
  }
}

.core-content .atoms-disclaimer {
  color: var(--text-color-global-neutral-tertiary);
}

.core-content .atom-grid-content .atoms-content {
  margin-top: var(--size-16);
}

.core-content .atom-grid-content p.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: var(--size-32) 0;
}
