{{ #default_variant }}
  <div class="core-content-inside block-inside">
    <div class="core-content-headline-container">
      {{ #icon }}
        {{ icon }}
      {{ /icon }}
      {{ contentAtoms.headline }}
    </div>
    <div>
      {{ contentAtoms.content }}
      {{ contentAtoms.buttons }}
      {{ contentAtoms.disclaimer }}
    </div>
  </div>
{{ /default_variant }}

{{ #large_icon_variant }}
  <div class="core-content-inside block-inside">
    {{ #icon }}
      {{ icon }}
    {{ /icon }}

    <div>
      {{ contentAtoms.headline }}
      {{ contentAtoms.content }}
      {{ contentAtoms.disclaimer }}
    </div>
  </div>
{{ /large_icon_variant }}

{{ #number_variant}}
  <div class="core-content-inside block-inside">
    <div>
      {{numberContent}}
      {{ contentAtoms.headline }}
    </div>
    <div>
      {{ contentAtoms.content }}
      {{contentAtoms.buttons}}
      {{ contentAtoms.disclaimer }}
    </div>
  </div>
{{ /number_variant}}

{{ #grid_variant }}
<div class="core-content-inside block-inside atom-grid-content">
  {{ #icon }}
    {{ icon }}
  {{ /icon }}

  <div>
  {{ contentAtoms.eyebrow }}
    {{ contentAtoms.headline }}
    {{ contentAtoms.content }}
    {{ contentAtoms.buttons }}
    {{ contentAtoms.disclaimer }}
  </div>
</div>
{{ /grid_variant }}
