{{ #scrollable}}
<div class="core-collection-carousel-inside block-inside scrollable">
  {{ /scrollable}}
  {{ ^scrollable}}
  <div class="core-collection-carousel-inside block-inside">
    {{ /scrollable}}

    {{#heading}}
    <div class="core-collection-carousel-heading">
      <h2>{{ heading }}</h2>
    </div>
    {{/heading}}

    <div class="core-collection-carousel-parent">
      <div class="core-collection-carousel-carousel">
        {{ #slotOneItems }}
        <div class="core-collection-carousel-item"
          role="group"
          aria-roledescription="slide"
          aria-label="{{ label }}"
          id="{{ id }}"
        >
          {{ item }}
        </div>
        {{ /slotOneItems }}
      </div>
      <div class="core-collection-carousel-navigation">
        {{ #slotOneItems }}
        <div role="button" class="core-collection-carousel-navigation-item" aria-labelledby="{{ id }}"></div>
        {{/slotOneItems}}
      </div>
      <div class="core-collection-carousel-scrollbar-parent">
        <div class="core-collection-carousel-scrollbar">
          <div>  {{! scrollbar }}  </div>
        </div>
      </div>
      <div class="core-collection-carousel-carousel core-collection-carousel-carousel-disclaimer">
        {{ #slotTwoItems }}
        <div class="core-collection-carousel-disclaimer core-collection-carousel-item"
          role="group"
          aria-roledescription="slide"
          aria-label="{{ label }}"
          id="{{ id }}"
        >
          {{ item }}
        </div>
        {{ /slotTwoItems }}
      </div>
    </div>
  </div>
</div>
