/* Generated on Fri, 21 Feb 2025 15:37:40 GMT*/

/* ::  T I E R - O N E  - is "primitives"  :::::::::::::::::::::::::::::::*/ 
:root {
  --color-blue-10: #e8f2ff;
  --color-blue-100: #00003a;
  --color-blue-20: #cfdfff;
  --color-blue-30: #9cc0ff;
  --color-blue-40: #6397ff;
  --color-blue-50: #3578ff;
  --color-blue-60: #2e29ff;
  --color-blue-70: #0000c9;
  --color-blue-80: #00009d;
  --color-blue-90: #000067;
  --color-blue-90-pfizer: #00004e;
  --color-cyan-10: #e0f5ff;
  --color-cyan-100: #001928;
  --color-cyan-20: #aee4ff;
  --color-cyan-30: #68d1ff;
  --color-cyan-40: #35b6ff;
  --color-cyan-50: #0095ff;
  --color-cyan-60: #006eb2;
  --color-cyan-70: #005589;
  --color-cyan-80: #003e65;
  --color-cyan-90: #002942;
  --color-gray-10: #f0f0f0;
  --color-gray-100: #171717;
  --color-gray-20: #e0e0e0;
  --color-gray-30: #c9c9c9;
  --color-gray-40: #b3b3b3;
  --color-gray-50: #999999;
  --color-gray-60: #666666;
  --color-gray-70: #525252;
  --color-gray-80: #3d3d3d;
  --color-gray-90: #292929;
  --color-gray-black: #000000;
  --color-gray-white: #ffffff;
  --color-green-10: #e1f4df;
  --color-green-100: #021c00;
  --color-green-20: #b8e8b3;
  --color-green-30: #7edb71;
  --color-green-40: #4dcc3f;
  --color-green-50: #12b000;
  --color-green-60: #097900;
  --color-green-70: #075900;
  --color-green-80: #063f00;
  --color-green-90: #042b00;
  --color-magenta-10: #fde9ff;
  --color-magenta-100: #2a0a18;
  --color-magenta-20: #ffccfa;
  --color-magenta-30: #ff9cde;
  --color-magenta-40: #ff69be;
  --color-magenta-50: #ff339e;
  --color-magenta-60: #c50067;
  --color-magenta-70: #9d0045;
  --color-magenta-80: #740937;
  --color-magenta-90: #4d0025;
  --color-orange-10: #ffece3;
  --color-orange-100: #260c00;
  --color-orange-20: #ffdabb;
  --color-orange-30: #ffae8a;
  --color-orange-40: #ff8641;
  --color-orange-50: #ff6600;
  --color-orange-60: #bf3300;
  --color-orange-70: #8f2600;
  --color-orange-80: #662400;
  --color-orange-90: #421800;
  --color-purple-10: #f3e9ff;
  --color-purple-100: #1f142e;
  --color-purple-20: #e2cfff;
  --color-purple-30: #bfa7ff;
  --color-purple-40: #a68aff;
  --color-purple-50: #9369ff;
  --color-purple-60: #6d26d8;
  --color-purple-70: #5a21b0;
  --color-purple-80: #441c82;
  --color-purple-90: #321a56;
  --color-red-10: #ffe9e9;
  --color-red-100: #26000b;
  --color-red-20: #ffcccc;
  --color-red-30: #ff9696;
  --color-red-40: #ff6969;
  --color-red-50: #ff3241;
  --color-red-60: #c00727;
  --color-red-70: #990025;
  --color-red-80: #6c001a;
  --color-red-90: #440010;
  --color-teal-10: #d9f9f5;
  --color-teal-100: #001c1b;
  --color-teal-20: #adede0;
  --color-teal-30: #69e3ce;
  --color-teal-40: #29ccb4;
  --color-teal-50: #00b7a5;
  --color-teal-60: #007c70;
  --color-teal-70: #005b54;
  --color-teal-80: #003e3e;
  --color-teal-90: #00292b;
  --color-yellow-10: #fffada;
  --color-yellow-100: #211700;
  --color-yellow-20: #ffe39e;
  --color-yellow-30: #ffd36e;
  --color-yellow-40: #ffc522;
  --color-yellow-50: #f3a600;
  --color-yellow-60: #945e00;
  --color-yellow-70: #724800;
  --color-yellow-80: #593800;
  --color-yellow-90: #3b2300;
  --disclaimer-1: 1;
  --font-family-diatype-arabic: 'Pfizer Diatype Arabic';
  --font-family-diatype-condensed: 'Pfizer Diatype Condensed';
  --font-family-diatype-extended: 'Pfizer Diatype Extended';
  --font-family-diatype-italic: 'Pfizer Diatype Italic';
  --font-family-diatype-regular: 'Pfizer Diatype';
  --font-family-diatype-rounded: 'Pfizer Diatype Rounded';
  --font-family-tomorrow: 'Pfizer Tomorrow';
  --font-letter-space-loose: 1;
  --font-letter-space-looser: 2;
  --font-letter-space-regular: 0;
  --font-letter-space-tight: -1;
  --font-letter-space-tighter: -2;
  --foundation-block-padding-desktop-padding-l: 80px;
  --foundation-block-padding-desktop-padding-m: 40px;
  --foundation-block-padding-desktop-padding-none: 0px;
  --foundation-block-padding-desktop-padding-s: 24px;
  --foundation-block-padding-mobile-padding-l: 48px;
  --foundation-block-padding-mobile-padding-m: 24px;
  --foundation-block-padding-mobile-padding-none: 0px;
  --foundation-block-padding-mobile-padding-s: 16px;
  --foundation-corner-radius-corner-radius-l: 24px;
  --foundation-corner-radius-corner-radius-m: 16px;
  --foundation-corner-radius-corner-radius-s: 8px;
  --foundation-corner-radius-corner-radius-sharp: 0px;
  --foundation-corner-radius-corner-radius-xl: 32px;
  --foundation-corner-radius-corner-radius-xs: 4px;
  --foundation-size-0: 0px;
  --foundation-size-104: 104px;
  --foundation-size-112: 112px;
  --foundation-size-12: 12px;
  --foundation-size-120: 120px;
  --foundation-size-14: 14px;
  --foundation-size-140: 140px;
  --foundation-size-16: 16px;
  --foundation-size-160: 160px;
  --foundation-size-180: 180px;
  --foundation-size-2: 2px;
  --foundation-size-20: 20px;
  --foundation-size-200: 200px;
  --foundation-size-24: 24px;
  --foundation-size-32: 32px;
  --foundation-size-4: 4px;
  --foundation-size-40: 40px;
  --foundation-size-48: 48px;
  --foundation-size-56: 56px;
  --foundation-size-64: 64px;
  --foundation-size-72: 72px;
  --foundation-size-8: 8px;
  --foundation-size-80: 80px;
  --foundation-size-88: 88px;
  --foundation-size-96: 96px; 
 }