:root {
  --font-diatype: var(--font-family-diatype-regular);
  --font-diatypeextended: var(--font-family-diatype-extended);
  --font-diatypecondensed: var(--font-family-diatype-condensed);
  --font-diatypeitalic: var(--font-family-diatype-italic);

  --size-0: var(--foundation-size-0);
  --size-2: var(--foundation-size-2);
  --size-4: var(--foundation-size-4);
  --size-8: var(--foundation-size-8);
  --size-12: var(--foundation-size-12);
  --size-14: var(--foundation-size-14);
  --size-16: var(--foundation-size-16);
  --size-18: 18px;
  --size-20: var(--foundation-size-20);
  --size-24: var(--foundation-size-24);
  --size-32: var(--foundation-size-32);
  --size-40: var(--foundation-size-40);
  --size-48: var(--foundation-size-48);
  --size-52: 52px;
  --size-56: var(--foundation-size-56);
  --size-60: 60px;
  --size-64: var(--foundation-size-64);
  --size-72: var(--foundation-size-72);
  --size-80: var(--foundation-size-80);
  --size-88: var(--foundation-size-88);
  --size-96: var(--foundation-size-96);
  --size-104: var(--foundation-size-104);
  --size-109: 109px;
  --size-120: var(--foundation-size-120);
  --size-134: 134px;
  --size-140: var(--foundation-size-140);
  --size-160: var(--foundation-size-160);
  --size-180: var(--foundation-size-180);
  --size-200: var(--foundation-size-200);

  --font-size-16: var(--size-16);
  --font-size-20: var(--size-20);

  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;
  --font-weight-1000: 1000;

  --line-height-100: 100%;
  --line-height-120: 120%;
  --line-height-130: 130%;

  /********** START Corner Radius **********/
  --corner-sharp: var(--foundation-corner-radius-corner-radius-sharp);
  --corner-round-xs: var(--foundation-corner-radius-corner-radius-xs);
  --corner-round-s: var(--foundation-corner-radius-corner-radius-s);
  --corner-round-m: var(--foundation-corner-radius-corner-radius-m);
  --corner-round-lg: var(--foundation-corner-radius-corner-radius-l);
  --corner-round-xl: var(--foundation-corner-radius-corner-radius-xl);
  /********** END Corner Radius **********/

  --letter-spacing-looser: var(--font-letter-space-looser);
  --letter-spacing-loose: var(--font-letter-space-loose);
  --letter-spacing-reg: var(--font-letter-space-regular);
  --letter-spacing-tight: var(--font-letter-space-tight);
  --letter-spacing-tighter: var(--font-letter-space-tighter);

  /* MISSING IN THE NEW FIGMA AND NOT BEING USED IN THE CODE, SHOULD IT BE REMOVED? */
  /********** START Reversed / Dark Mode **********/
  --text-color-neutral-reversed: var(--color-button-branded-tertiary-reversed-default);
  /********** END Reversed / Dark Mode **********/

  /********** START Radio Input items that did not have values defined for mappings
   or any mappings at all in Figma at this time but needed some to help implement dark mode **********/
  --core-form-color--outer-circle-radio-input-hover: var(--lib-core--form--outer-circle-color-radio-input-hover, var(--color-button-branded-tertiary-default-hover));
  --core-form-color--outer-circle-radio-input-focused: var(--lib-core--form--outer-circle-color-radio-input-focused, var(--color-button-branded-tertiary-default-default));
  --core-form-color--inner-circle-radio-input-focused: var(--lib-core--form--inner-circle-color-radio-input-focused, var(--color-button-branded-tertiary-default-default));
  --core-form-color--outer-circle-radio-input-default: var(--lib-core--form--outer-circle-color-radio-input-default, var(--color-button-branded-tertiary-default-default));
  --core-form-color--inner-circle-radio-input-checked: var(--lib-core--form--inner-circle-color-radio-input-checked, var(--color-button-branded-tertiary-default-default));
  --core-form-color--outer-circle-radio-input-invalid: var(--lib-core--form--outer-circle-color-radio-input-invalid, var(--color-shape-global-error));
  --core-form-color--inner-circle-radio-input-invalid: var(--lib-core--form--inner-circle-color-radio-input-invalid, var(--color-shape-global-error));
  --core-form-color--label-radio-input-disabled: var(--lib-core--form--label-radio-input-disabled, var(--color-button-branded-tertiary-default-disbled));
  --core-form-color--background-color-form: var(--lib-core--form--background-color-form, inherit);
  --core-form-color--foundationcorner-radiuscorner-round-s: var(--lib-core--form--foundationcorner-radiuscorner-round-s, var(--corner-round-s));
  --core-form--foundationsize16: var(--lib-core--form--foundationsize16, var(--size-16));
  /********** END Radio Input items that did not have values defined for mappings
   or any mappings at all in Figma at this time but needed some to help implement dark mode **********/

  /********** START Toggle Input **********/
  --core-form--text-color-neutral-tertiary: var(--lib-core--form--text-color-neutral-tertiary, var(--text-color-neutral-tertiary));
  --core-form--button-color-primary-text-disabled: var(--lib-core--form--button-color-primary-text-disabled, var(--button-color-primary-text-disabled));
  --core-form--surface-color-neutral-primary: var(--lib-core--form--core-form--surface-color-neutral-primary, var(--surface-color-neutral-primary));
  --core-form--shape-color-utility-success: var(--lib-core--form--shape-color-utility-success, var(--shape-color-utility-success));
  /********** END Toggle Input **********/

  /********** START Checkbox Input **********/
  --core--box-color-checkbox-input-default: var(--lib-core--form--box-color-checkbox-input-default, var(--color-button-branded-tertiary-default-default));
  --core--box-color-checkbox-input-hover: var(--lib-core--form--box-color-checkbox-input-hover, var(--color-button-branded-tertiary-default-hover));
  --core--box-color-checkbox-input-focused: var(--lib-core--form--box-color-checkbox-input-focused, var(--color-button-branded-tertiary-default-focused-border-branded));
  --core--box-color-checkbox-input-invalid: var(--lib-core--form--box-color-checkbox-input-invalid, var(--color-shape-global-error));
  --core--box-color-checkbox-input-disabled: var(--lib-core--form--box-color-checkbox-input-disabled, var(--color-button-branded-tertiary-default-disbled));
  /********** END Checkbox Input **********/

  /* // Button */
  --core-form--button-color-outline-core-hover: var(--lib-core--form--button-color-tertiary-core-hover, var(--color-button-branded-tertiary-default-hover));
  --core-form--button-color-outline-core-disabled: var(--lib-core--form--button-color-tertiary-core-disabled, var(--color-button-branded-tertiary-default-disbled));

  /* // Primary Button */
  --button-color-primary-bg: var(--color-button-branded-primary-default-surface-default);
  --button-color-primary-bg-inverted: var(--color-button-branded-primary-reversed-surface-default);
  --button-color-primary-text: var(--color-button-branded-primary-default-foreground-default);
  --button-color-primary-text-inverted: var(--color-button-branded-primary-reversed-foreground-default);
  --button-color-primary-text-reversed-foreground-light-mode: var(--color-button-branded-primary-reversed-foreground-default);

  --button-color-primary-bg-hover-focused: var(--color-button-branded-primary-default-surface-hover);
  --button-color-primary-bg-inverted-hover-focused: var(--color-button-branded-primary-reversed-surface-hover);
  --button-color-primary-text-hover-focused: var(--color-button-branded-primary-default-foreground-default);
  --button-color-primary-text-inverted-hover-focused: var(--color-button-branded-primary-reversed-foreground-default);

  --button-color-primary-bg-disabled: var(--color-button-branded-primary-default-surface-disabled);
  --button-color-primary-bg-inverted-disabled: var(--color-button-branded-primary-reversed-surface-disabled);
  --button-color-primary-text-disabled: var(--color-button-branded-primary-default-foreground-disabled);
  --button-color-primary-text-inverted-disabled: var(--color-button-branded-primary-reversed-foreground-disabled);

  /* // Secondary Button */
  --button-color-secondary-bg: rgba(0, 0, 0, 0);
  --button-color-secondary-bg-inverted: rgba(0, 0, 0, 0);
  --button-color-secondary-text: var(--color-button-branded-secondary-default-foreground-default);
  --button-color-secondary-text-inverted: var(--color-button-branded-secondary-reversed-foreground-default);
  --button-color-secondary-outline: var(--color-button-branded-secondary-default-border-default);
  --button-color-secondary-outline-inverted: var(--color-button-branded-secondary-reversed-border-default);

  --button-color-secondary-bg-hover: var(--color-button-branded-secondary-default-surface-hover);
  --button-color-secondary-bg-inverted-hover-focused: var(--color-button-branded-secondary-reversed-surface-hover);
  --button-color-secondary-text-hover-focused: var(--color-button-branded-secondary-default-foreground-hover);
  --button-color-secondary-text-inverted-hover-focused: var(--color-button-branded-secondary-reversed-foreground-hover);
  --button-color-secondary-outline-hover-focused: var(--color-button-branded-secondary-default-border-default);
  --button-color-secondary-outline-inverted-hover-focused: var(--color-button-branded-secondary-reversed-border-default);

  --button-color-secondary-bg-disabled: rgba(0, 0, 0, 0);
  --button-color-secondary-bg-inverted-disabled: rgba(0, 0, 0, 0);
  --button-color-secondary-text-disabled: var(--color-button-branded-secondary-default-disbled);
  --button-color-secondary-text-inverted-disabled: var(--color-button-branded-tertiary-reversed-disabled);
  --button-color-secondary-outline-disabled: var(--color-button-branded-tertiary-default-disbled);
  --button-color-secondary-outline-inverted-disabled: var(--color-button-branded-secondary-reversed-disabled);
  --button-color-branded-secondary-reversed-focused-border-white: var(--color-button-branded-secondary-reversed-focused-border-white);
  --button-color-branded-secondary-reversed-focused-border-branded: var(--color-button-branded-secondary-reversed-focused-border-branded);

  /* // Tertiary Button */
  --button-color-tertiary-bg: rgba(0, 0, 0, 0);
  --button-color-tertiary-bg-inverted: rgba(0, 0, 0, 0);
  --button-color-tertiary-text: var(--color-button-branded-tertiary-default-default);
  --button-color-tertiary-text-inverted: var(--color-button-branded-tertiary-reversed-default);
  --button-color-tertiary-underline: var(--color-button-branded-tertiary-default-default);
  --button-color-tertiary-underline-inverted: var(--color-button-branded-tertiary-reversed-default);

  --button-color-tertiary-bg-hover-focused: rgba(0, 0, 0, 0);
  --button-color-tertiary-bg-inverted-hover-focused: rgba(0, 0, 0, 0);
  --button-color-tertiary-text-hover-focused: var(--color-button-branded-tertiary-default-hover);
  --button-color-tertiary-text-inverted-hover-focused: var(--color-button-branded-tertiary-reversed-hover);
  --button-color-tertiary-underline-hover-focused: var(--color-button-branded-tertiary-default-hover);
  --button-color-tertiary-underline-inverted-hover-focused: var(--color-button-branded-tertiary-reversed-hover);

  --button-color-tertiary-bg-disabled: rgba(0, 0, 0, 0);
  --button-color-tertiary-bg-inverted-disabled: rgba(0, 0, 0, 0);
  --button-color-tertiary-text-disabled: var(--color-button-branded-tertiary-default-disbled);
  --button-color-tertiary-text-inverted-disabled: var(--color-button-branded-tertiary-reversed-disabled);
  --button-color-tertiary-underline-disabled: var(--color-button-branded-tertiary-default-disbled);
  --button-color-tertiary-underline-inverted-disabled: var(--color-button-branded-tertiary-reversed-disabled);

  /* // other colors */
  --text-color-neutral-primary: var(--color-text-global-neutral-primary);
  --core-form--text-color-utility-error: var(--lib-core--form--text-color-utility-error, var(--color-text-global-error));
  --surface-primary-neutral-default: var(--color-surface-global-neutral-white);
  --surface-secondary-neutral-default: var(--color-surface-global-neutral-tinted);
  --surface-color-branded-accent-tinted: var(--color-surface-branded-accent-tinted);
  --surface-color-branded-extended-tinted: var(--color-surface-branded-extended-tinted);
  --shape-color-branded-core-seed: var(--color-shape-branded-core-seed);
  --shape-color-branded-accent-seed: var(--color-shape-branded-accent-seed);
  --shape-color-branded-extended-seed: var(--color-shape-branded-extended-seed);
  --text-primary-neutral-default: var(--color-button-branded-tertiary-default-default);
  --text-secondary-neutral-default: var(--color-text-global-neutral-tertiary);
  --text-color-global-neutral-tertiary: var(--color-text-global-neutral-tertiary);
  --shape-color-neutral-light: var(--color-shape-global-neutral-light);
  --border-color-neutral-dark: var(--color-shape-global-neutral-dark);
  --surface-color-neutral-tertiary: var(--color-text-global-neutral-primary);
  /* // --border-color-neutral-light: var(--border-color-neutral-light-comp-specific-color-light-mode); */
  --border-color-neutral-light: #fff;
  --color-surface-global-neutral-white-abs: var(--color-surface-global-neutral-white);
  --shape-color-global-neutral-seed: var(--color-shape-global-neutral-seed);
  --button-color-filled-core-surface-hover: var(--color-text-global-neutral-primary);
  /* // --text-color-neutral-primary: var(--text-color-neutral-primary-comp-specific-color-light-mode); // is it correct? */

  /*TESTIMONIAL*/
  --quote-slide-overlay-background-opacity-60: var(--brandex---color-core-core-seed-60);
  --quote-slide-overlay-background: var(--color-surface-branded-core-seed);

  /* OTHER COLORS */
  --surface-color-brand-accent-primary: var(--color-surface-branded-accent-light);
  --surface-color-neutral-secondary: var(--color-surface-global-neutral-tinted);
  --surface-color-neutral-primary: var(--color-text-global-neutral-white);
  --surface-color-brand-core-tinted: var(--color-surface-branded-core-tinted);
  --surface-color-branded-core-seed: var(--color-surface-branded-core-seed);
  --surface-color-utility-error-tinted: var(--color-surface-global-error-tinted);
  --surface-color-utility-success-tinted: var(--color-surface-global-success-tinted);
  // --button-color-outline-core-default: var(--color-button-branded-tertiary-default-default);
  --text-color-global-neutral-primary: var(--color-text-global-neutral-primary);
  --text-color-global-neutral-secondary: var(--color-text-global-neutral-secondary);
  --text-color-global-neutral-white: var(--color-text-global-neutral-white);
  --surface-color-global-neutral-black-5: var(--color-surface-global-neutral-black-5);
  --surface-color-global-neutral-tinted: var(--color-surface-global-neutral-tinted);
  --surface-color-global-neutral-white: var(--color-surface-global-neutral-white);
  --surface-color-global-neutral-white-15: var(--color-surface-global-neutral-white-15);
  --border-color-global-neutral-on-light-primary: var(--color-border-global-neutral-on-light-primary);
  --button-color-tertiary-core-reversed-default: var(--color-button-branded-tertiary-reversed-default);

  --text-color-brand-core: var(--color-text-branded-core-seed);
  --text-color-neutral-tertiary: var(--color-text-global-neutral-tertiary);
  --shape-color-brand-core: var(--color-surface-branded-core-seed);
  // --shape-color-global-error: var(--color-shape-global-error);
  --button-color-filled-core-reversed-foreground-default: var(--color-button-branded-primary-reversed-foreground-default);
  --button-color-secondary-core-disbled: var(--color-button-branded-secondary-default-disbled);
  --button-color-tertiary-core-disbled: var(--color-button-branded-tertiary-default-disbled);
  --button-color-branded-tertiary-default-focused-border-branded: var(--color-button-branded-tertiary-default-focused-border-branded);
  --shape-color-neutral-darker: var(--color-text-global-neutral-tertiary);
  --shape-color-neutral-lighter: var(--color-text-global-neutral-tertiary);
  --shape-color-utility-error: var(--color-text-global-error);
  --shape-color-utility-caution: var(--color-yellow-40); /* // added raw value because i couldn't find it in tier 3 */
  --shape-color-utility-success: var(--color-text-global-success);
  --shape-color-neutral-regular: var(--color-button-branded-tertiary-default-disbled);
  --button-color-outline-core-hover: var(--color-button-branded-tertiary-default-hover);
  --button-color-filled-core-surface-disabled: var(--color-button-branded-primary-default-surface-disabled); // bruno
  --button-color-filled-core-surface-default: var(--color-button-branded-primary-default-surface-default);
  --button-color-outline-core-disabled: var(--color-button-branded-tertiary-default-disbled);
  --button-color-outline-core-reversed-default: var(--color-button-branded-tertiary-reversed-default);
  --border-color-global-pfizer: var(--color-border-global-pfizer);
  --button-color-filled-core-focused-border-white: var(--color-button-branded-tertiary-default-focused-border-white);
  --button-color-outline-core-reversed-hover: var(--color-button-branded-tertiary-reversed-hover);
  // --color-button-outline-core-hover: var(--color-button-branded-tertiary-default-hover);
  --button-color-global-tertiary-pfizer-default-default: var(--color-button-global-tertiary-pfizer-default-default);
  --button-color-global-tertiary-pfizer-default-hover: var(--color-button-global-tertiary-pfizer-default-hover);

  /********** START Elevated Block items **********/
  --elevation-top-s-shadow: 0px -8px 20px 0px #00000014;
  --elevation-top-s-shadow-active: 0px -8px 20px 0px #00000026;
  --elevation-top-m-shadow: 0px -16px 40px 0px #00000014;
  --elevation-top-m-shadow-active: 0px -16px 40px 0px #00000026;
  --elevation-top-center-s-shadow: 0px 0px 20px 0px #00000014;
  --elevation-center-xs-shadow: 0px 0px 8px 0px #00000014;
  --elevation-center-s-shadow: 0px 0px 20px 0px #00000014;
  --elevation-center-s-active-shadow: 0px 0px 24px 0px #00000029;
  --elevation-center-m-shadow: 0px 0px 32px 0px #00000014;
  --elevation-center-m-active-shadow: 0px 0px 40px 0px #00000029;
  --elevation-bottom-s-shadow: 0px 8px 20px 0px #00000014;
  --elevation-bottom-m-shadow: 0px 16px 40px 0px #00000014;
  /********** END Elevated Block items **********/

  /* GLOBAL */
  --lib-core--body-l-font: 400 var(--size-20) / var(--line-height-120) var(--lib-core--font-family-regular);
  --lib-core--body-m-font: 400 var(--size-16) / var(--line-height-120) var(--lib-core--font-family-regular);
  --lib-core--body-s-font: 400 var(--size-14) / var(--line-height-120) var(--lib-core--font-family-regular);
  --lib-core--body-xs-font: 400 var(--size-12) / var(--line-height-120) var(--lib-core--font-family-regular);
  --lib-core--button-l-font: 700 var(--size-20) / var(--line-height-100) var(--lib-core--font-family-primary-bold);
  --lib-core--button-m-font: 700 var(--size-16) / var(--line-height-100) var(--lib-core--font-family-primary-bold);
  --lib-core--button-s-font: 700 var(--size-14) / var(--line-height-100) var(--lib-core--font-family-primary-bold);
  --lib-core--button-xs-font: 700 var(--size-12) / var(--line-height-100) var(--lib-core--font-family-primary-bold);
  --lib-core--label-l-font: 500 var(--size-20) / var(--line-height-100) var(--lib-core--font-family-medium);
  --lib-core--label-m-font: 500 var(--size-16) / var(--line-height-100) var(--lib-core--font-family-medium);
  --lib-core--label-s-font: 500 var(--size-12) / var(--line-height-100) var(--lib-core--font-family-medium);
  --lib-core--title-s-font: 500 var(--size-20) / var(--line-height-120) var(--lib-core--font-family-medium);
  --lib-core--title-m-font: 500 var(--size-24) / var(--line-height-120) var(--lib-core--font-family-medium);
  --lib-core--title-l-font: 500 var(--size-32) / var(--line-height-120) var(--lib-core--font-family-medium);
  --lib-core--title-xl-font: 500 var(--size-40) / var(--line-height-120) var(--lib-core--font-family-medium);

  /* BRANDED */
  --lib-core--headline-s-light-font: 300 var(--size-32) / var(--line-height-120) var(--lib-core--font-family-extended-light);
  --lib-core--headline-s-regular-font: 400 var(--size-32) / var(--line-height-120) var(--lib-core--font-family-extended-regular);
  --lib-core--headline-s-bold-font: 700 var(--size-32) / var(--line-height-120) var(--lib-core--font-family-extended-bold);
  --lib-core--headline-m-light-font: 300 var(--size-40) / var(--line-height-120) var(--lib-core--font-family-extended-light);
  --lib-core--headline-m-regular-font: 400 var(--size-40) / var(--line-height-120) var(--lib-core--font-family-extended-regular);
  --lib-core--headline-m-bold-font: 700 var(--size-40) / var(--line-height-120) var(--lib-core--font-family-extended-bold);
  --lib-core--headline-l-light-font: 300 var(--size-48) / var(--line-height-120) var(--lib-core--font-family-extended-light);
  --lib-core--headline-l-regular-font: 400 var(--size-48) / var(--line-height-120) var(--lib-core--font-family-extended-regular);
  --lib-core--headline-l-bold-font: 700 var(--size-48) / var(--line-height-120) var(--lib-core--font-family-extended-bold);
  --lib-core--headline-xl-light-font: 300 var(--size-56) / var(--line-height-120) var(--lib-core--font-family-extended-light);
  --lib-core--headline-xl-regular-font: 400 var(--size-56) / var(--line-height-120) var(--lib-core--font-family-extended-regular);
  --lib-core--headline-xl-bold-font: 700 var(--size-56) / var(--line-height-120) var(--lib-core--font-family-extended-bold);
  --lib-core--display-regular-font: 400 var(--size-72) / var(--line-height-120) var(--lib-core--font-family-extended-regular);
  --lib-core--display-bold-font: 700 var(--size-72) / var(--line-height-120) var(--lib-core--font-family-extended-bold);
  --lib-core--display-light-font: 300 var(--size-72) / var(--line-height-120) var(--lib-core--font-family-extended-light);

  /* NEW TEXT LINK  */
  --lib-core--new-text-link-xs-font: 700 var(--size-12) / var(--line-height-120) var(--lib-core--font-family-medium);
  --lib-core--new-text-link-s-font: 700 var(--size-14) / var(--line-height-120) var(--lib-core--font-family-medium);
  --lib-core--new-text-link-m-font: 700 var(--size-16) / var(--line-height-120) var(--lib-core--font-family-medium);
  --lib-core--new-text-link-l-font: 700 var(--size-20) / var(--line-height-120) var(--lib-core--font-family-medium);

  /* ISOLATED VARIABLES WHILE PENDING MAPPING */
  --lib-core--diatype-regular: var(--lib-core--font-family-regular);
  --lib-core--diatype-medium: var(--lib-core--font-family-medium);
  --lib-core--diatype-bold: var(--lib-core--font-family-primary-bold);
  --lib-core--diatype-extended-light: var(--lib-core--font-family-extended-light);
  --lib-core--diatype-extended-regular: var(--lib-core--font-family-extended-regular);
  --lib-core--diatype-extended-bold: var(--lib-core--font-family-extended-bold);

  /* SECTION THEME COLORS */
  /*  darker purple...*/
  --lib-core--color-background-section-primary: var(--color-purple-70);
  /* // lighter purple... */
  --lib-core--color-background-section-secondary: var(--color-surface-branded-core-tinted);
  --surface-color-branded-core-tinted: var(--color-surface-branded-core-tinted);

  /*
  * * * * * * * * * * * * * * * * * * *
   COLORS.SCSS
  * * * * * * * * * * * * * * * * * * *
  */

  /*
  Core Color Families
  The most fundamental colors used in the UI
  */
  --lib-core--color-primary: #3d46ea;
  --lib-core--color-on-primary: #ffffff;
  --lib-core--color-primary-container: #e0e0ff;
  --lib-core--color-on-primary-container: #00006e;

  --lib-core--color-secondary: #0060a8;
  --lib-core--color-on-secondary: #ffffff;
  --lib-core--color-secondary-container: #d3e4ff;
  --lib-core--color-on-secondary-container: #001c38;

  /*
  Background and Surface
  Colors used for the general UI background and cards/surfaces
  */
  --lib-core--color-background: #fffbff;
  --lib-core--color-on-background: #1b1b1f;

  --lib-core--color-surface: #fffbff;
  --lib-core--color-surface-variant: #e4e1ec;
  --lib-core--color-on-surface: #1b1b1f;
  --lib-core--color-on-surface-variant: #46464f;

  /*
  System Surface Variants
  Additional surface colors for various UI elements
  */
  --lib-core--color-system-surface-surface-1: #f2effc;
  --lib-core--color-system-surface-surface-2: #edeafb;
  --lib-core--color-system-surface-surface-3: #e7e4fb;
  --lib-core--color-system-surface-surface-5: #e1dffa;

  /*
  Outlines
  Colors for outlines, borders, and separators
  */
  --lib-core--color-outline: #777680;
  --lib-core--color-outline-variant: #c7c5d0;

  /*
  Utility Colors
  Colors for system alerts and messages
  */
  --lib-core--color-utility-error-error: #ba1a1a;
  --lib-core--color-utility-warning-warning: #77591a;
  --lib-core--color-utility-success-success: #2e6b3d;

  /*
  System Colors
  Absolute colors for system elements
  */
  --lib-core--color-system-white: #ffffff;
  --lib-core--color-system-black: #000000;
  --lib-core--theme-border-radius: 16px;

  // TODO: review lib/styles/fake-theme-figma.css later for documentation
}
