// grid variables moved here because @media query does not work with var()

// breakpoint lg
$grid-width-range-min-lg: 1920px;
$grid-columns-lg: 12;
$grid-column-max-width-lg: 125px;
$grid-gutters-lg: var(--size-24);

// breakpoint medium
$grid-width-range-min-medium: 1024px;
$grid-width-range-max-medium: 1920px;
$grid-columns-medium: 12;
$grid-lateral-margin-medium: var(--size-80);
$grid-gutters-medium: var(--size-24);

// breakpoint small
$grid-width-range-min-small: 500px;
$grid-width-range-max-small: 1023px;
$grid-columns-small: 4;
$grid-lateral-margin-small: var(--size-24);
$grid-gutters-small: var(--size-16);

// breakpoint extra small
$grid-width-range-min-extra-small: 320px;
$grid-width-range-max-extra-small: 500px;
$grid-columns-extra-small: 4;
$grid-lateral-margin-extra-small: var(--size-24);
$grid-gutters-extra-small: var(--size-16);

@mixin getGridSystem() {
  display: grid;
  @include breakpointLarge() {
    grid-template-columns: repeat($grid-columns-lg, 1fr);
    grid-column-gap: $grid-gutters-lg;
    grid-row-gap: $grid-gutters-lg;
  }
  @include breakpointMedium() {
    grid-template-columns: repeat($grid-columns-medium, 1fr);
    grid-column-gap: $grid-gutters-medium;
    grid-row-gap: $grid-gutters-medium;
  }
  @include breakpointSmall() {
    grid-template-columns: repeat($grid-columns-small, 1fr);
    grid-column-gap: $grid-gutters-small;
    grid-row-gap: $grid-gutters-small;
  }
  @include breakpointExtraSmall() {
    grid-template-columns: repeat($grid-columns-extra-small, 1fr);
    grid-column-gap: $grid-gutters-extra-small;
    grid-row-gap: $grid-gutters-extra-small;
  }
}

@mixin breakpointExtraSmall {
  // if we need mobile only
  @media (max-width: $grid-width-range-max-extra-small) {
    /* Mobile styles here */
    @content;
  }
}

@mixin breakpointSmall {
  // portrait and up
  @media (min-width: 0px) and (max-width: $grid-width-range-max-small) {
    /* everything above mobile */
    @content;
  }
}

@mixin breakpointSmallDown {
  // if we need mobile and below
  @media (max-width: calc($grid-width-range-min-medium - 1px)) {
    /* everything above mobile */
    @content;
  }
}

@mixin breakpointSmallUp {
  @media (min-width: $grid-width-range-min-small) {
    /* everything above mobile */
    @content;
  }
}

@mixin breakpointMedium {
  // if we need tablet only (rare)
  @media (min-width: $grid-width-range-min-medium) and (max-width: $grid-width-range-max-medium) {
    /* Tablet styles here */
    @content;
  }
}

@mixin breakpointMediumUp {
  // if we need tablet and above
  @media (min-width: $grid-width-range-min-medium) {
    /* Tablet styles here */
    @content;
  }
}

@mixin breakpointLarge {
  // if we need desktop only
  @media (min-width: $grid-width-range-min-lg) {
    /* Desktop styles here */
    @content;
  }
}
// removed not used: @mixin getFontFamilyByWeight

@mixin getCustomScrollbar($parent, $scrollColor, $scrollBackgroundColor) {
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  #{$parent} {
    scrollbar-width: auto;
    scrollbar-color: $scrollColor $scrollBackgroundColor;
  }

  /* Chrome, Edge, and Safari */
  #{$parent}::-webkit-scrollbar {
    width: 4px;
  }

  #{$parent}::-webkit-scrollbar-track {
    background: $scrollBackgroundColor;
  }

  #{$parent}::-webkit-scrollbar-thumb {
    background-color: $scrollColor;
    border-radius: 10px;
    border: 4px solid $scrollBackgroundColor;
  }

  #{$parent}::-webkit-scrollbar-button {
    height: 10px;
  }
}
