<div class="core-persistent-isi-container core-scrollbar" id="isi">
  <aside class="core-isi-block-container">
    <div class="core-isi-block-wrapper">
      <div class="core-isi-regulatory-links">
        <div class="core-isi-regulatory-links-container"></div>
      </div>
      <div class="core-isi-header-container">
        <div class="core-isi-header">
          <span class="core-isi-title"> {{ isi.headerText }}</span>
          <div class="core-isi-buttons">
            <button class="toggle-isi">
              <span class="icon icon-lib-plus-circle expand"></span>
              <span class="icon icon-lib-minus-circle collapse"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="core-isi-content-scroll-parent">
        <div class="core-isi-content-container">
          <div class="core-isi-content">
            <div class="core-isi-inside block-inside">
              <!-- fragment goes here -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <div class="core-isi-intersection-test"></div>
</div>
