.core-table-container:not(.section) .core-table-container-inside {
  background-color: var(--color-surface-global-neutral-white-abs);
}

.core-table-container:not(.section) .core-table-container-inside .core-table-main .core-content-wrapper .core-content .core-content-inside .atoms-headline h1,
.core-table-container:not(.section) .core-table-container-inside .core-table-main .core-content-wrapper .core-content .core-content-inside .atoms-headline h2,
.core-table-container:not(.section) .core-table-container-inside .core-table-main .core-content-wrapper .core-content .core-content-inside .atoms-headline h3 {
  font: var(--lib-core--headline-s-light-font);
  letter-spacing: var(--letter-spacing-tight);
}

@media (min-width: 1024px) {
  .core-table-container:not(.section) .core-table-container-inside .core-table-main .core-content-wrapper .core-content .core-content-inside .atoms-headline h1,
  .core-table-container:not(.section) .core-table-container-inside .core-table-main .core-content-wrapper .core-content .core-content-inside .atoms-headline h2,
  .core-table-container:not(.section) .core-table-container-inside .core-table-main .core-content-wrapper .core-content .core-content-inside .atoms-headline h3 {
    /* Tablet styles here */
    font: var(--lib-core--headline-m-light-font);
    letter-spacing: var(--letter-spacing-tight);
  }
}

@media (min-width: 1024px) {
  .core-table-container:not(.section) .core-table-container-inside .table-additional-info .core-text-inside .atoms-headline {
    /* Tablet styles here */
    margin-bottom: var(--size-24);
  }
}

.core-table-container:not(.section) .core-table-container-inside .table-additional-info .core-text-inside .atoms-headline * {
  font: var(--lib-core--title-s-font);
}

@media (min-width: 1024px) {
  .core-table-container:not(.section) .core-table-container-inside .table-additional-info .core-text-inside .atoms-headline * {
    /* Tablet styles here */
    font: var(--lib-core--title-m-font);
  }
}

.core-table-container:not(.section) .core-table-container-inside .table-additional-info .core-text-inside .atoms-disclaimer {
  margin-top: var(--size-16);
}

@media (min-width: 1024px) {
  .core-table-container:not(.section) .core-table-container-inside .table-additional-info .core-text-inside .atoms-disclaimer {
    /* Tablet styles here */
    margin-top: var(--size-24);
  }
}

@media (min-width: 1024px) {
  .core-table-container:not(.section) .core-table-container-inside .core-table .core-table-inside .table-inside-element .table-wrapper tr th {
    /* Tablet styles here */
    min-width: 160px;
  }
}

.core-table-container:not(.section) .core-table-container-inside .core-table .core-table-inside .table-inside-element .table-wrapper tr th:nth-of-type(1) {
  max-width: 45ch;
}

.core-table-container:not(.section) .core-table-container-inside .core-table .core-table-inside .table-inside-element .table-wrapper tr th:nth-of-type(2) {
  max-width: 20ch;
}

.core-table-container:not(.section) .core-table-container-inside .core-table .core-table-inside .table-inside-element .table-wrapper tbody td[headers='col-1'] {
  display: flex;
  align-items: center;
  gap: var(--size-16);
  max-width: 60ch;
  white-space: nowrap;
}

.core-table-container:not(.section) .core-table-container-inside .core-table .core-table-inside .table-inside-element .table-wrapper tbody td[headers='col-1'] .icon {
  color: var(--surface-color-branded-core-seed);
  align-self: center;
  display: flex;
}

.core-table-container:not(.section) .core-table-container-inside .core-table .core-table-inside .table-inside-element .table-wrapper tbody td[headers='col-1'] .icon svg {
  width: var(--size-24);
  height: var(--size-24);
}

@media (min-width: 1024px) {
  .core-table-container:not(.section) .core-table-container-inside .core-table .core-table-inside .table-inside-element .table-wrapper tbody td[headers='col-1'] {
    /* Tablet styles here */
  }

  .core-table-container:not(.section) .core-table-container-inside .core-table .core-table-inside .table-inside-element .table-wrapper tbody td[headers='col-1'] .icon svg {
    width: var(--size-48);
    height: var(--size-48);
  }
}

.core-table-container:not(.section) .core-table-container-inside .core-table .core-table-inside .table-inside-element .table-wrapper tbody td[headers='col-2'] {
  max-width: 35ch;
  font: var(--lib-core--label-m-font);
}

@media (min-width: 1024px) {
  .core-table-container:not(.section) .core-table-container-inside {
    /* Tablet styles here */
    padding: var(--size-56) 112px;
    box-shadow: 0 0 32px 0 rgb(0 0 0 / 8%);
    border-radius: var(--corner-round-m);
  }
}

.core-table-container:not(.section) .core-table-container-inside .core-grid-2 {
  gap: var(--size-40);
}

@media (min-width: 1024px) {
  .core-table-container:not(.section) .core-table-container-inside .core-grid-2 {
    /* Tablet styles here */
    gap: var(--size-24);
    align-items: center;
  }

  .core-table-container:not(.section) .core-table-container-inside .core-grid-2 .core-text,
  .core-table-container:not(.section) .core-table-container-inside .core-grid-2 .core-content {
    margin-right: 112px;
  }
}

.core-table-container:not(.section) .core-table-container-inside .table-container-disclaimer {
  margin-top: var(--size-40);
  border-top: 1px solid var(--border-color-neutral-dark);
  padding-top: var(--size-32);
}

@media (min-width: 1024px) {
  .core-table-container:not(.section) .core-table-container-inside .table-container-disclaimer {
    /* Tablet styles here */
    padding-top: var(--size-40);
  }
}

.core-table-container:not(.section) .core-table-container-inside .table-container-disclaimer span.icon {
  color: var(--surface-color-branded-core-seed);
  width: var(--size-48);
  height: var(--size-48);
}

.core-table-container:not(.section) .core-table-container-inside .table-container-disclaimer span.icon svg {
  width: var(--size-48);
  height: var(--size-48);
}

@media (min-width: 1024px) {
  .core-table-container:not(.section) .core-table-container-inside .table-container-disclaimer span.icon {
    /* Tablet styles here */
    width: var(--size-60);
    height: var(--size-60);
  }

  .core-table-container:not(.section) .core-table-container-inside .table-container-disclaimer span.icon svg {
    width: var(--size-60);
    height: var(--size-60);
  }
}

.core-table-container:not(.section) .core-table-container-inside .table-container-disclaimer .core-text {
  margin-top: var(--size-16);
}

.core-table-container:not(.section) .core-table-container-inside .table-container-disclaimer .core-text .atoms-disclaimer {
  font: var(--lib-core--body-m-font);
}

.core-table-container:not(.section) .core-table-container-inside .table-container-disclaimer .atoms-headline,
.core-table-container:not(.section) .core-table-container-inside .table-container-disclaimer .atoms-headline * {
  font: var(--lib-core--title-s-font);
}

@media (min-width: 1024px) {
  .core-table-container:not(.section) .core-table-container-inside .table-container-disclaimer {
    /* Tablet styles here */
    display: grid;
    gap: var(--size-48);
    grid-template-columns: 48px 1fr;
  }

  .core-table-container:not(.section) .core-table-container-inside .table-container-disclaimer .core-text {
    margin-top: 0;
  }

  .core-table-container:not(.section) .core-table-container-inside .table-container-disclaimer .core-text .atoms-headline,
  .core-table-container:not(.section) .core-table-container-inside .table-container-disclaimer .core-text .atoms-headline * {
    font: var(--lib-core--title-m-font);
    margin-bottom: var(--size-16);
  }

  .core-table-container:not(.section) .core-table-container-inside .table-container-disclaimer .core-text .atoms-disclaimer {
    font: var(--lib-core--body-l-font);
  }
}

@media (min-width: 1024px) {
  .core-table-container:not(.section) {
    /* Tablet styles here */
    margin-left: calc(var(--layout-side-gutters) * -1);
    margin-right: calc(var(--layout-side-gutters) * -1);
    padding: var(--size-80) var(--layout-side-gutters);
  }

  .core-table-container:not(.section).brand {
    background-color: var(--surface-color-branded-core-tinted);
  }

  .core-table-container:not(.section).brand .core-table-container-inside {
    box-shadow: none;
  }

  .core-table-container:not(.section).brand-30 {
    background: linear-gradient(180deg, var(--surface-color-branded-core-tinted) 30%, var(--color-surface-global-neutral-white-abs) 30%);
  }
}
