<div class="core-table-container-inside block-inside">
  <div class="core-table-main  core-grid-parent core-grid-2 ">
    <div class="core-content-wrapper">
    {{ text }}
    </div>
    <div>
    {{tableTitle}}
    {{ table }}
    {{tableDisclaimer}}
    </div>
  </div>
  {{#disclaimer}}
  <div class="table-container-disclaimer">
    <span class="icon icon-lib-caution-circle"></span>
    {{ disclaimer }}
  </div>
  {{/disclaimer}}
</div>
