<div class="core-gateway-list-inside block-inside">
  {{ header }}

  <div class="core-gateway-list-button-group">
    {{ #buttonCollection }}
      {{ . }}
    {{ /buttonCollection }}
  </div>
</div>
