
  <div class="core-cards-inside block-inside">
    <ul>
      {{ #cardCollection }}
        <li class="core-cards-card core-cards-content">

          {{! the cardIdentifier can be: image | icon | number | eyebrow }}

          {{#cardIdentifier}}
            <div class="core-cards-top">
              {{ cardIdentifier }}
            </div>
          {{/cardIdentifier}}

          <div class="core-cards-bottom standard-block-content-spacing core-cards-bottom-stretch">
            <div>
              {{ heading }}
              <p>{{ body }}</p>
            </div>
            <p class="button-container" data-button-icon="{{ variantButtonIcon}}">
              {{ #ctaHref }}
              <a href="{{ ctaHref }}" title="{{ ctaLink }}" class="button secondary {{#variantButtonIcon}}button-icon{{/variantButtonIcon}}">
                {{#variantButtonIcon}}
                  <span class="icon icon-lib-chevron-right"></span>
                {{/variantButtonIcon}}
                {{^variantButtonIcon}}
                <span> {{ ctaLink }} </span>
                {{/variantButtonIcon}}
              </a>
              {{ /ctaHref }}
            </p>
          </div>
        </li>
      {{ /cardCollection }}
    </ul>

      {{! error display for mismatched data }}
      {{^cardCollection}}
        <div class="card-block-error"> There was an issue with missing required block data which prevented the Card from loading. </div>
      {{/cardCollection}}
  </div>
