
  <div class="banner-content-wrapper">
    <div class="core-banner-content">
      <div>{{ body }}</div>
    </div>
    {{ #cta }}
    <div class="core-banner-content banner-button-content">
      <div>
        <a href="{{ href }}" title="{{ text }}" class="button secondary">
          <span> {{ text }} </span>
        </a>
      </div>
    </div>
    {{ /cta }}
  </div>
  {{ #closeLabel }}
  <div class="core-banner-inside block-inside">
    <div class="core-banner-content close-container">
      <div class="close-label">
        <a title="{{ . }}" href="#" class="close-link"> <span class="icon icon-lib-mat-close"> </span> </a>
      </div>
    </div>
  </div>
  {{ /closeLabel }}
