@import '../../styles/figma/figma-mixin';

.core-data-vis {
  --data-vis-color: var(--lib-core--data-vis-color, var(--surface-color-branded-core-seed));
}

.core-data-vis {
  .core-data-vis-chart-container {
    border-top: solid 3px var(--data-vis-color);

    .core-data-vis-title {
      color: var(--data-vis-color);
      font: var(--lib-core--title-s-font);

      p {
        margin: 0;
      }

      margin-top: var(--size-16);
    }

    .core-data-vis-content {
      p {
        margin: 0;
      }

      margin-top: var(--size-16);
    }

    .core-data-vis-chart {
      margin-top: var(--size-56);
      margin-bottom: var(--size-56);
    }
  }

  @include breakpointMediumUp {
    height: 100%;

    .core-data-vis-title {
      p {
        font: var(--lib-core--title-m-font);
      }
    }

    .core-data-vis-chart-container .core-data-vis-chart {
      margin-top: 28px;
      margin-bottom: 0;
    }

    .core-data-vis-inside,
    .core-data-vis-chart-container {
      height: 100%;
    }

    .core-data-vis-chart-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
