{{#basic}}
  <p class="button-container">
    <a href="#" title="{{ basic.label }}" class="button primary"><span>{{ basic.label }}</span></a>
  </p>
  <template>
    {{ basic.contentAtoms.headline }}

    <div class="body">
      {{ basic.contentAtoms.content }}

      <div class="atoms-buttons">
        {{ #accept }}
          <a href="#" title="{{ accept }}" class="button primary">
           {{ accept }}
          </a>
        {{ /accept }}

        {{ #decline }}
          <a href="#" title="{{ decline }}" class="button secondary core-overlay-host-decline">
            {{ decline }}
          </a>
        {{ /decline }}
      </div>
    </div>

    <div class="footer">
      {{ basic.contentAtoms.disclaimer }}
    </div>

    {{#form}}
      <div class="after-scroll"></div>
    {{/form}}
  </template>
{{/basic}}

