{{ #footerWithoutSiteMap }}
<div class="core-footer-inside block-inside  core-footer-without-sitemap">
{{ /footerWithoutSiteMap }}

{{ ^footerWithoutSiteMap }}
<div class="core-footer-inside block-inside">
{{ /footerWithoutSiteMap }}

  {{ #disclaimer }}
  <div class="core-footer-disclaimer">
    {{ disclaimer }}
  </div>
  {{ /disclaimer }}

  <div class="core-footer-left">
    <div class="core-footer-navigation">
        {{ #linkItemCollection }}
        <div class="core-footer-navigation-item">
          <span class="core-footer-navigation-title">{{ title }}</span>
          {{ menu }}
        </div>
        {{ /linkItemCollection }}
    </div>
    <div class="core-footer-mobile-navigation">
      {{ #linkItemCollection }}
      {{ #title }}
      <div class="core-footer-accordion-item">
        <details>
          <summary class="core-footer-accordion-item-label is-open">
            <h3>{{ title }}</h3>
            <span class="icon icon-lib-down-arrow1"></span>
          </summary>
          <div class="core-footer-accordion-item-body">
            {{ menu }}
          </div>
        </details>
      </div>
      {{ /title }}
      {{ ^title }}
      {{ menu }}
      {{ /title }}
      {{ /linkItemCollection }}
    </div>
    <div class="core-footer-language-social">
        {{ #languageSection }}
        <div class="core-footer-language-switcher">
        </div>
        {{ /languageSection }}
      {{ #socialSection }}
      <div class="core-footer-social">
        {{ #socialSection.linkItemCollection }}
        <a href="{{ href }}"  class="button secondary"> <span class="{{ iconClass }}"> </span> </a>
        {{ /socialSection.linkItemCollection }}
      </div>
      {{ /socialSection }}
    </div>
  </div>
  <div class="core-footer-separator"></div>  
  <div class="core-footer-right">
    <div class="core-footer-logo-utility-links">
      {{ #logo }}
      <div class="core-footer-logo">
        <a href="{{ logo.href }}"> <span class="{{ logo.iconClass }}"> </span> </a>
      </div>
      {{ /logo }}
      {{ #utilityLinksSection }}
      <div class="core-footer-utility-links">
        {{ #utilityLinksSection.linkItemCollection }}
        <a href="{{ href }}" title="{{ text }}">
          <span> {{ text }} </span>
        </a>
        {{ /utilityLinksSection.linkItemCollection }}
      </div>
      {{ /utilityLinksSection }}
    </div>

    <div class="core-footer-copyright">
      {{ copyRightText }}
    </div>
  </div>

  <div class="core-footer-left core-footer-left-without-sitemap">

    <div class="core-footer-logo-utility-links">
      {{ #logo }}
      <div class="core-footer-logo">
        <a href="{{ logo.href }}" target="_blank"> <span class="{{ logo.iconClass }}"> </span> </a>
      </div>
      {{ /logo }}
      {{ #utilityLinksSection }}
      <div class="core-footer-utility-links">
        {{ #utilityLinksSection.linkItemCollection }}
        <a href="{{ href }}" target="_blank" title="{{ text }}">
          <span> {{ text }} </span>
        </a>
        {{ /utilityLinksSection.linkItemCollection }}
      </div>
      {{ /utilityLinksSection }}
    </div>
    
    <div class="core-footer-language-social">
      {{ #languageSection }}
        <div class="core-footer-language-switcher">
        </div>
        {{ /languageSection }}
      {{ #socialSection }}
      <div class="core-footer-social">
        {{ #socialSection.linkItemCollection }}
        <p><strong><a href="{{ href }}"> <span class="{{ iconClass }}"> </span></a></p></strong>
        {{ /socialSection.linkItemCollection }}
      </div>
      {{ /socialSection }}
    </div>
  </div>
  <div class="core-footer-separator core-footer-separator-without-sitemap"></div>  
  <div class="core-footer-right core-footer-right-without-sitemap">
    <div class="core-footer-copyright">
      {{ copyRightText }}
    </div>
  </div>

</div>
