<div class="core-card-grid-container-inside block-inside">
  {{ #text }}
    {{ text }}
  {{ /text }}

  <div class="core-grid-parent core-grid-3">
    {{ #cardBlocks }}
      {{ . }}
    {{ /cardBlocks }}
  </div>

  {{ disclaimer }}
</div>
