<div class="core-gateway-splitter-inside block-inside">
  {{ #textblock }}
  {{ textblock }}
  {{ /textblock }}

  <div class="core-grid-2">
    <div class="core-grid-parent">
    {{ #cards }}
      {{ . }}
    {{ /cards }}
    </div>
  </div>
</div>
