@import '../../styles/figma/figma-mixin';

.core-gateway-splitter {
  //  padding: 48px var(--layout-side-gutters) 48px var(--layout-side-gutters);
  margin-left: calc(var(--layout-side-gutters) * (-1));
  margin-right: calc(var(--layout-side-gutters) * (-1));

  .core-grid-parent {
    gap: var(--size-32);
    margin-top: 0;
    margin-bottom: 0;
  }

  .core-text {
    margin-bottom: var(--size-40);
  }

  .atoms-content p:last-of-type {
    margin-bottom: 0;
  }

  &.core-gateway-splitter-tinted-45 {
    background: linear-gradient(180deg, #fff 35%, var(--surface-color-branded-core-tinted) 35%);
  }

  &.core-gateway-splitter-core-45 {
    background: linear-gradient(180deg, #fff 35%, var(--surface-color-branded-core-seed) 35%);
  }

  &.core-gateway-splitter-tinted {
    background: var(--surface-color-branded-core-tinted);
  }

  @include breakpointMediumUp {
    padding-top: 80px;
    padding-bottom: 80px;

    .core-grid-parent {
      gap: var(--size-24);
    }

    &.core-gateway-splitter-tinted-45 {
      background: linear-gradient(180deg, #fff 45%, var(--surface-color-branded-core-tinted) 45%);
    }

    &.core-gateway-splitter-core-45 {
      background: linear-gradient(180deg, #fff 45%, var(--surface-color-branded-core-seed) 45%);
    }
  }
}
