<div class="core-carousel-inside block-inside">
  <h2 class="core-carousel-title">{{ title }}</h2>

  <div class="core-carousel-scroller">
    {{ #cards }}
      <div class="core-carousel-card atoms-content">
        {{ . }}
      </div>
    {{ /cards }}
  </div>

  <div class="core-carousel-disclaimer-container">
    {{ #disclaimers }}
      <div class="core-carousel-disclaimer atoms-disclaimer">
        {{ . }}
      </div>
    {{ /disclaimers }}
  </div>
</div>
