<div class="core-table-inside block-inside">
  <div class="table-inside-element">
      {{ tableMarkup }}
  </div>
  {{ #disclaimer }}
    <div class="table-disclaimer atoms-disclaimer">{{ disclaimer }}</div>
  {{ /disclaimer }}
</div>
