.core-embed {
  --core-embed--controls-color: var(--lib-core--embed--controls-color, var(--lib-core--color-system-black));
}

.core-embed {
  width: unset;
  text-align: center;
  position: relative;
}

.core-embed ul {
  list-style-type: none;
}

.core-embed ul li {
  max-width: 100%;
  max-height: 100%;
}

.core-embed div:first-child {
  justify-content: center;
  display: flex;
}

.core-embed .embed.embed-twitter .twitter-tweet-rendered {
  margin-left: auto;
  margin-right: auto;
}

.core-embed .embed-placeholder {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
  cursor: pointer;
}

.core-embed .embed-placeholder > * {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
}

.core-embed .embed-placeholder picture {
  display: block;
  width: 100%;
  height: 100%;
}

.core-embed .embed-placeholder picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.core-embed .embed-placeholder-play button {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 98px;
  height: 98px;
  border-radius: 50%;
  padding: 0;
  background-color: var(--core-embed--controls-color);
  opacity: 0.5;
  color: var(--lib-core--color-system-white);
  fill: var(--lib-core--color-system-white);
  cursor: pointer;
  border: none;
}

.core-embed .embed-placeholder-play button span.icon {
  width: 48px;
  height: 48px;
}

.core-embed .embed-placeholder-play button span.icon svg {
  width: 100%;
  height: 100%;
}

.core-embed .webfiles-embed-wrapper {
  position: relative;
  height: 80vh;
}
