@import '../../styles/figma/figma-mixin';

.core-card-grid-container {
  &.brand {
    background-color: var(--surface-color-branded-core-tinted);
  }

  .core-card-grid-container-inside {
    display: flex;
    flex-direction: column;
    gap: var(--size-40);

    @include breakpointMediumUp {
      gap: var(--size-48);
    }
  }

  .core-text {
    .atoms-content p {
      margin-bottom: 0;
    }

    .atoms-headline {
      font: var(--lib-core--headline-m-light-font);
    }
  }

  .atoms-disclaimer {
    font: var(--lib-core--body-s-font);
    color: var(--text-color-global-neutral-secondary);
  }

  .core-card h2 {
    margin-bottom: var(--size-8);
  }

  .core-card.button-link-icon .core-card-bottom .button-container {
    margin-top: var(--size-24);

    @include breakpointMediumUp {
      margin-top: var(--size-80);
    }
  }
}
