{{ #tabs }}

<div
  class="core-tabs block {{ #isVertical }} vertical core-tabs-vertical {{ /isVertical }}"
>
  <div class="core-tabs-inside block-inside">
    <div class="tabs-list" role="tablist">
      {{#tabsItemCollection}}
      <button class="tabs-tab {{ selectedClass }}" id="{{ id }}" aria-controls="{{ ariaControls }}" aria-selected="{{ ariaSelected }}" role="tab" type="button">{{ label }}</button>
      {{/tabsItemCollection}}
    </div>
    {{#tabsItemCollection}}
    <div class="core-tabs-content tabs-panel standard-block-content-spacing" id="{{ ariaControls }}" aria-hidden="{{ ariaHidden }}" aria-labelledby="{{ id }}" role="tabpanel">
      <div>
        {{ body }}
      </div>
    </div>
    {{/tabsItemCollection}}
  </div>
</div>
{{ /tabs }}

