<div class="core-alert-inside block-inside rows-multiple">
    <div class="core-alert-content">  
        {{ body }}
    </div>
    <div class="core-alert-content button-parent">
        <div class="button-container">
            <a href="{{ ctaHref }}" title="{{ ctaText }}" class="button primary cta">
                <span> {{ ctaText }} </span>
            </a>
        </div>
    </div>
</div>
