/**

Responsive rules: 
We will iterate on these rules as we go.  
For now, we are using the following breakpoints and try to keep super simple.

I have instructed CX to keep the changes as minimal as possible, with the goal of this level of responsiveness:
[ ] Most changes should be reduced to mobile -or- not mobile, with the exception of headers and the dynamic inner padding
[ ] We should always used the same breakpoints, since we are repeating code in blocks/ css files, so not as easy as using a sass var
[ ] In my estimation, most rules should be able to use the mobile and non-mobile rules... 
  @media (max-width: 767px)
  @media (min-width: 768px)
*/

@mixin mobile {
  // if we need mobile only
  @media (max-width: 767px) {
    /* Mobile styles here */
    @content;
  }
}

@mixin portrait_and_up {
  // portrait and up
  @media (min-width: 768px) {
    /* everything above mobile */
    @content;
  }
}

@mixin tablet {
  // if we need tablet only (rare)
  @media (min-width: 768px) and (max-width: 1023px) {
    /* Tablet styles here */
    @content;
  }
}

@mixin desktop {
  // if we need desktop only
  @media (min-width: 1024px) {
    /* Desktop styles here */
    @content;
  }
}
