@import '../../styles/figma/figma-mixin';

/* .core-overlay-host */

.core-overlay-host {
  --core-overlay--background-color: var(--lib-core--overlay--background-color, var(--surface-color-neutral-primary));
  --core-overlay--body-color: var(--lib-core--overlay--body-color, var(--text-color-neutral-primary));
  --core-overlay--header-color: var(--lib-core--overlay--header-color, var(--surface-color-branded-core-seed));
  --core-overlay--close-button-color: var(--lib-core--overlay--close-button-color, var(--shape-color-brand-core));
  --core-overlay--backdrop-color: var(--lib-core-overlay--backdrop-color, rgb(23 23 23 / 40%));
  --core-overlay--border-radius: var(--lib-core--overlay--border-radius, var(--corner-round-lg));
  --core-overlay--box-shadow: var(--lib-core--overlay--box-shadow, var(--elevation-center-m-shadow));
  --core-overlay--max-content-height: var(--lib-core--overlay--max-content-height, 499px);
  --core-overlay--min-width: var(--lib-core--overlay--min-width, 300px);
  --core-overlay--padding: var(--lib-core--overlay--padding, var(--size-24) var(--size-24) var(--size-48));
  --core-overlay--container-inset: var(--lib-core--overlay--container-inset, var(--size-12));

  position: fixed;
  inset: 0;
  border: 0;
  padding: 0;
  z-index: 999;
  pointer-events: none;

  dialog {
    background-color: transparent;
    width: 100%;
    max-width: fit-content;
    height: 100%;
    border: none;
    display: none;
    pointer-events: all;

    &[open] {
      display: flex;
    }
  }

  .core-overlay-host-container {
    width: fit-content;
    min-width: var(--core-overlay--min-width);
  }

  // currently this is only used in the Full variant
  .core-overlay-host-after-scroll {
    display: none;
  }

  @media (max-width: 1024px) {
    .core-overlay-host-container {
      max-width: unset;
      width: calc(100% - (2 * var(--core-overlay--container-inset)));
      max-height: calc(100% - (2 * var(--core-overlay--container-inset)));
      min-width: unset;
    }
  }

  .core-overlay-host-scroll-container {
    max-height: var(--core-overlay--max-content-height);
  }

  .core-overlay-host-content {
    max-width: 720px;
    position: relative;
    padding: var(--core-overlay--padding);
    color: var(--text-color-neutral-primary);
  }

  .core-overlay-host-header {
    h1,
    h2,
    h3,
    h4,
    h5 {
      color: var(--surface-color-branded-core-seed);
      font: var(--lib-core--title-m-font);
      margin: 0;
    }
  }
}

.core-overlay-host .core-overlay-host-container {
  box-sizing: border-box;
  margin: auto;
  z-index: 200;
}

.core-overlay-host .core-overlay-host-content {
  background: var(--core-overlay--background-color);
  box-shadow: var(--core-overlay--box-shadow);
  border-radius: var(--core-overlay--border-radius);
}

.core-overlay-host .core-overlay-host-close {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--size-24);
  height: var(--size-24);
  z-index: 10;
  border-radius: 50%;
  border: none;
  color: var(--core-overlay--close-button-color);
  background-color: transparent;
  cursor: pointer;
  padding: var(--size-24);

  svg {
    width: 100%;
    height: 100%;
    fill: currentcolor;
  }
}

.core-overlay-host .core-overlay-host-body {
  margin-top: var(--size-24);
}

.core-overlay-host .core-overlay-host-body:empty {
  margin-top: 0;
}

.core-overlay-host .core-overlay-host-body p {
  margin-top: 0;
}

.core-overlay-host .core-overlay-host-body p:last-child {
  margin-bottom: 0;
}

.core-overlay-host .core-overlay-host-scroll-container {
  overflow-y: auto;
  margin-top: 38px;

  // remove padding so spacing is consistent when scrolling
  padding-top: 0;
}

.core-overlay-host .core-overlay-host-body .button-container {
  display: flex;
  gap: var(--size-16);
  flex-wrap: wrap;
}

.core-overlay-host .core-overlay-host-body .button {
  flex: 1;

  &:first-of-type:last-of-type {
    flex: 0;
  }
}

.core-overlay-host .atoms-buttons {
  margin-bottom: 0;

  .button {
    width: 100%;
  }

  .button span {
    text-wrap: nowrap;
  }
}

.core-overlay-host .core-overlay-host-body .button-container.button-container-multi {
  display: flex;
  flex-flow: row wrap;
  gap: var(--size-16);
}

.core-overlay-host .core-overlay-host-body .atoms-content + .atoms-buttons {
  margin-top: var(--size-24);
}

.core-overlay-host .core-overlay-host-footer .atoms-disclaimer {
  margin-top: 0;
  font: var(--lib-core--body-s-font);
}

.core-overlay-host .core-overlay-host-footer {
  padding-top: var(--size-24);
}

.core-overlay-host .core-overlay-host-header > *,
.core-overlay-host .core-overlay-host-footer > * {
  margin: 0;
}

.core-overlay-host dialog[open] .core-overlay-host-backdrop {
  position: fixed;
  inset: 0;
  background-color: var(--core-overlay--backdrop-color);
  z-index: -1;
}

.core-overlay-host .core-overlay-host-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  &.hidden {
    display: none;
  }

  svg {
    stroke: var(--lib-core--color-primary);
    animation: progress 1s linear infinite;
  }
}

@keyframes progress {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.core-overlay-host .core-overlay-host-header:not(:empty) ~ .core-overlay-host-progress,
.core-overlay-host .core-overlay-host-body:not(:empty) ~ .core-overlay-host-progress {
  display: none;
}

/* Start Full variant */

.core-overlay-host.full {
  --core-overlay--max-content-height: 100%;

  .core-overlay-host-after-scroll {
    margin: auto 0 0;
    max-width: unset;
    width: auto;
    display: block;
  }

  .core-overlay-host-scroll-container {
    @include breakpointMediumUp {
      --core-overlay--max-content-height: calc(80vh - 110px);
    }
  }

  .core-overlay-host-after-scroll .button {
    border: 0;
  }

  @include breakpointSmallDown {
    dialog {
      padding: 0;
      margin: 0;
      max-width: unset;
    }

    .core-overlay-host-container {
      margin: 0;
      height: 100%;
      width: 100%;
    }

    .core-overlay-host-content {
      border-radius: 0;
      box-shadow: unset;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 0;
      padding-right: 0;
    }

    .core-overlay-host-scroll-container {
      padding-left: var(--size-24);
      padding-right: var(--size-24);
    }

    .core-overlay-host-after-scroll {
      box-shadow: var(--elevation-top-s-shadow);
      padding: var(--size-16) var(--size-24) var(--size-32) var(--size-24);
    }

    .core-overlay-host-after-scroll .button {
      width: 100%;
    }
  }
}

/* End Full variant */
