.core-data-vis-container .core-data-vis-text-block {
  padding-bottom: var(--size-56);
}

.core-data-vis-container .core-data-vis-text-block .atoms-headline p,
.core-data-vis-container .core-data-vis-text-block .atoms-content p {
  margin: 0;
}

@media (min-width: 1024px) {
  .core-data-vis-container {
    /* Tablet styles here */
  }

  .core-data-vis-container .core-data-vis-wrapper {
    height: 100%;
  }

  .core-data-vis-container .core-data-vis-container-inside .core-data-vis-main-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--size-72);
  }

  .core-data-vis-container .core-data-vis-container-inside .core-data-vis-main-container .core-data-vis-charts {
    flex: 0 0 40%;
  }

  .core-data-vis-container .core-data-vis-container-inside .core-data-vis-main-container .core-data-vis-text-block {
    flex: 0 0 50%;
    padding: 0;
  }

  .core-data-vis-container.right .core-data-vis-container-inside .core-data-vis-main-container {
    flex-direction: row;
  }

  .core-data-vis-container:has(.core-data-vis-chart-block:nth-of-type(2)) .core-data-vis-main-container {
    flex-direction: column;
  }

  .core-data-vis-container:has(.core-data-vis-chart-block:nth-of-type(2)) .core-data-vis-main-container .core-data-vis-charts {
    margin-top: var(--size-72);
    display: flex;
    align-self: stretch;
    flex-wrap: wrap;
  }

  .core-data-vis-container.core-data-vis-container-graphs-2 .core-data-vis-main-container .core-data-vis-charts, .core-data-vis-container.core-data-vis-container-graphs-3 .core-data-vis-main-container .core-data-vis-charts, .core-data-vis-container.core-data-vis-container-graphs-4 .core-data-vis-main-container .core-data-vis-charts {
    --gap: 194px;

    column-gap: var(--gap);
    row-gap: 120px;
  }

  .core-data-vis-container.core-data-vis-container-graphs-2 .core-data-vis-main-container .core-data-vis-charts .core-data-vis-chart-block, .core-data-vis-container.core-data-vis-container-graphs-3 .core-data-vis-main-container .core-data-vis-charts .core-data-vis-chart-block, .core-data-vis-container.core-data-vis-container-graphs-4 .core-data-vis-main-container .core-data-vis-charts .core-data-vis-chart-block {
    flex: 0 0 calc(50% - var(--gap) / 2);
  }

  .core-data-vis-container.core-data-vis-container-graphs-3:not(.editorial) .core-data-vis-main-container .core-data-vis-charts {
    --gap: 151px;

    column-gap: var(--gap);
  }

  .core-data-vis-container.core-data-vis-container-graphs-3:not(.editorial) .core-data-vis-main-container .core-data-vis-charts .core-data-vis-chart-block {
    flex: 0 0 calc(33% - var(--gap) * 0.66);
  }

  .core-data-vis-container.core-data-vis-container-graphs-4.four-up .core-data-vis-main-container .core-data-vis-charts {
    gap: var(--size-24);
    flex-wrap: nowrap;
  }

  .core-data-vis-container.core-data-vis-container-graphs-4.four-up .core-data-vis-main-container .core-data-vis-charts .core-data-vis-chart-block {
    flex: unset;
  }

  .core-data-vis-container.editorial .core-data-vis-inside .core-data-vis-main-container .core-data-vis-chart-block {
    flex: 0 0 41%;
  }

  .core-data-vis-container.editorial .core-data-vis-inside .core-data-vis-main-container .core-data-vis-text-block {
    flex: 0 0 52%;
  }
}
