/* .core-footer */
.core-footer {
  --lib-core--footer--text-color: var(--text-color-neutral-primary);
  --lib-core--footer--copyright-text-color: var(--surface-color-neutral-tertiary, --text-color-neutral-tertiary);
  --lib-core--footer--link-color: var(--button-color-tertiary-text);
  --lib-core--footer--utility-link-color: var(--button-color-filled-pfizer-surface-default, var(--button-color-global-tertiary-pfizer-default-default));
  --lib-core--footer--utility-link-color-hover: var(--button-color-filled-pfizer-surface-default, var(--button-color-global-tertiary-pfizer-default-hover));
  --lib-core-footer--utility-link-color-bottom-border: var(--archive-outline-pfizer-focused-border-pfizer);
  --lib-core--footer--link-hover-color: var(--button-color-tertiary-text-hover-focused);
  --lib-core--footer--accordion-border-color: var(--border-color-neutral-dark);
  --lib-core--footer--title-font: 700 var(--foundation-size-16, 16px) / var(--foundation-size-16, 16px) var(--diatype-font--700, 'Pfizer Diatype');
  --lib-core--footer--link-font: 700 var(--foundation-size-14, 14px) / var(--foundation-size-14, 14px) var(--diatype-font--700, 'Pfizer Diatype');
  --lib-core--footer--text-font: 400 var(--size-12, 12px) / 120% var(--diatype-font--400);

  color: var(--lib-core--footer--color, var(--lib-core--footer--text-color));
}

.core-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 2px solid var(--border-color-global-pfizer);
}

@media (min-width: 1024px) {
  .core-footer {
    /* Tablet styles here */
    padding-top: 56px;
    padding-bottom: 40px;
  }
}

.core-footer .core-footer-social a:hover {
  color: var(--button-color-tertiary-text-hover-focused);
}

.core-footer a {
  color: var(--lib-core--footer--link-color);
  text-decoration: none;
}

.core-footer a:hover {
  color: var(--lib-core--footer--link-hover-color);
}

.core-footer .core-footer-navigation {
  display: none;
}

.core-footer .core-footer-mobile-navigation {
  margin-bottom: var(--foundation-size-24, 24px);
}

.core-footer .core-footer-mobile-navigation > a {
  font: var(--lib-core--footer--title-font);
  text-transform: uppercase;
  margin: 0;
  padding: 21px 0;
  border-bottom: solid 1px var(--lib-core--footer--accordion-border-color);
  display: block;
  height: 14px;
}

.core-footer .core-footer-mobile-navigation .core-footer-accordion-item-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--size-56);
}

.core-footer .core-footer-mobile-navigation .core-footer-accordion-item-label h3 {
  font: var(--lib-core--footer--title-font);
  color: var(--lib-core--footer--text-color);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  align-items: center;
  height: 14px;
  overflow: visible;
}

.core-footer .core-footer-mobile-navigation .core-footer-accordion-item-label span {
  height: var(--foundation-size-24, 24px);
  margin: 0;
  padding: 0;
  transition: transform 0.3s;
  color: var(--lib-core--footer--link-color);
}

.core-footer .core-footer-mobile-navigation .core-footer-accordion-item-body ul {
  margin: var(--foundation-size-8, 8px) 0 var(--foundation-size-24, 24px) var(--foundation-size-16, 16px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-24);
  list-style-type: none;
}

.core-footer .core-footer-mobile-navigation .core-footer-accordion-item-body ul a {
  font: var(--lib-core--footer--link-font);
}

.core-footer .core-footer-mobile-navigation details {
  border-bottom: solid 1px var(--lib-core--footer--accordion-border-color);
}

.core-footer .core-footer-mobile-navigation details > summary {
  list-style: none;
  cursor: pointer;
}

.core-footer .core-footer-mobile-navigation details > summary span.icon svg {
  height: 100%;
  width: 100%;
  margin: 0;
}

.core-footer .core-footer-mobile-navigation details > summary::-webkit-details-marker {
  display: none;
}

.core-footer .core-footer-mobile-navigation details .core-footer-accordion-item-label span {
  fill: var(--color-button-branded-tertiary-default-default);
}

.core-footer .core-footer-mobile-navigation details[open] .core-footer-accordion-item-label span {
  transform: rotate(-180deg);
}

.core-footer .core-footer-language-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--foundation-size-24, 24px);
}

.core-footer .core-footer-language-social .core-footer-social {
  display: flex;
  gap: var(--size-16);
}

.core-footer .core-footer-language-social .core-footer-social a.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--foundation-size-8, 8px);
  min-width: unset;
  min-height: unset;
  width: var(--foundation-size-32, 32px);
  height: var(--foundation-size-32, 32px);
  padding: 0;
  cursor: pointer;
}

.core-footer .core-footer-language-social .core-footer-social a.button .icon {
  width: var(--foundation-size-20, 20px);
  height: var(--foundation-size-20, 20px);
  line-height: 20px;
}

.core-footer .core-footer-language-social .core-footer-social a.button .icon.icon-lib-twitter {
  padding: 2.769px 1.966px 2.768px 2.034px;
  width: 16px;
  height: 14.463px;
}

.core-footer .core-footer-language-social .core-footer-social a.button .icon.icon-lib-twitter svg {
  width: 16px;
  height: 14.463px;
}

.core-footer .core-footer-language-social .core-footer-social a.button .icon svg {
  width: 20px;
}

.core-footer .core-footer-separator {
  border-top: var(--lib-core--footer--top-border);
  margin: 0;
}

@media (min-width: 1024px) {
  .core-footer .core-footer-separator {
    /* Tablet styles here */
    margin: 0 calc(var(--lib-core--content-padding-x) * -1);
  }
}

.core-footer .core-footer-right {
  padding: var(--foundation-size-40, 40px) 0;
}

.core-footer .core-footer-right .core-footer-copyright {
  font: var(--lib-core--footer--text-font);
  color: var(--lib-core--footer--text-color);
}

.core-footer .core-footer-utility-links {
  display: flex;
  flex-direction: column;
  gap: var(--foundation-size-24, 24px);
  margin-bottom: var(--foundation-size-24, 24px);
}

.core-footer .core-footer-utility-links a {
  color: var(--lib-core--footer--utility-link-color);
  font: var(--lib-core--footer--link-font);
  display: block;
}

.core-footer .core-footer-utility-links a span {
  border-bottom: 2px solid transparent;
  display: block;
}

.core-footer .core-footer-utility-links a:hover span {
  color: var(--lib-core--footer--utility-link-color-hover);
}

.core-footer .core-footer-utility-links a:active span, .core-footer .core-footer-utility-links a:focus span, .core-footer .core-footer-utility-links a:focus-visible span {
  display: block;
  width: fit-content;
  border-bottom: 2px solid var(--lib-core-footer--utility-link-color-bottom-border);
}

.core-footer .core-footer-logo {
  margin-bottom: var(--foundation-size-40, 40px);
}

.core-footer .core-footer-logo .icon {
  height: var(--foundation-size-38, 38px);
  width: auto;
}

.core-footer .core-footer-logo .icon svg {
  height: 100%;
  width: 100%;
  margin: 0;
}

.core-footer .core-footer-left.core-footer-left-without-sitemap,
.core-footer .core-footer-separator.core-footer-separator-without-sitemap,
.core-footer .core-footer-right.core-footer-right-without-sitemap {
  display: none;
}

.core-footer .core-footer-without-sitemap .core-footer-mobile-navigation {
  margin: 0;
}

@media (min-width: 1024px) {
  .core-footer {
    --lib-core--footer--padding-top: var(--lib-core--footer--desktop-padding-top);
    --lib-core--footer--padding-bottom: var(--lib-core--footer--desktop-padding-bottom);
    --lib-core--footer-desktop-layout-gap: var(--foundation-size-64, 64px);
  }

  .core-footer .core-footer-inside {
    display: flex;
    justify-content: space-between;
    gap: var(--lib-core--footer-desktop-layout-gap);
  }

  .core-footer .core-footer-mobile-navigation {
    display: none;
  }

  .core-footer .core-footer-separator {
    display: none;
  }

  .core-footer .core-footer-logo .icon {
    height: var(--foundation-size-49, 49px);
  }

  .core-footer .core-footer-left {
    flex: 1 0 calc((100% - var(--lib-core--footer-desktop-layout-gap)) * 0.6);
  }

  .core-footer .core-footer-right {
    flex: 0 0 calc((100% - var(--lib-core--footer-desktop-layout-gap)) * 0.4);
    padding: 0;
  }

  .core-footer .core-footer-navigation {
    display: inline-flex;
    gap: var(--size-48) var(--size-52);
    flex-wrap: wrap;
    margin-bottom: var(--foundation-size-40, 40px);
  }

  .core-footer .core-footer-navigation .core-footer-navigation-item {
    flex: 0 0 calc((100% - 128px) / 3);
  }

  .core-footer .core-footer-navigation .core-footer-navigation-item .core-footer-navigation-title, .core-footer .core-footer-navigation .core-footer-navigation-item > a {
    font: var(--lib-core--footer--title-font);
    text-transform: uppercase;
  }

  .core-footer .core-footer-navigation .core-footer-navigation-item ul {
    list-style-type: none;
    padding-left: 0;
    margin: var(--foundation-size-12, 12px) 0 0;
    display: flex;
    gap: var(--size-18);
    flex-direction: column;
    font-weight: 700;
  }

  .core-footer .core-footer-navigation:not(:has(.core-footer-navigation-item ul)) {
    gap: var(--size-16) var(--size-52);
  }

  .core-footer .core-footer-language-social {
    flex-direction: column;
    gap: var(--foundation-size-18, 18px);
    width: fit-content;
    justify-content: left;
  }

  .core-footer .core-footer-language-social .core-footer-language-switcher {
    align-self: flex-start;
  }

  .core-footer .core-footer-right {
    border: none;
  }

  .core-footer .core-footer-right .core-footer-logo-utility-links {
    display: flex;
    justify-content: space-between;
  }

  .core-footer .core-footer-right .core-footer-logo-utility-links .core-footer-utility-links {
    gap: var(--foundation-size-8, 8px);
    align-items: flex-start;
    margin-left: var(--foundation-size-20, 20px);
  }

  .core-footer .core-footer-right .core-footer-logo-utility-links .core-footer-utility-links a {
    color: var(--lib-core--footer--utility-link-color);
  }

  .core-footer .core-footer-right .core-footer-logo-utility-links .core-footer-utility-links a:hover span {
    color: var(--lib-core--footer--utility-link-color-hover);
  }

  .core-footer .core-footer-without-sitemap .core-footer-right,
  .core-footer .core-footer-without-sitemap .core-footer-separator,
  .core-footer .core-footer-without-sitemap .core-footer-left {
    display: none;
  }

  .core-footer .core-footer-without-sitemap .core-footer-right.core-footer-right-without-sitemap {
    display: block;
    flex: 0 0 50%;
  }

  .core-footer .core-footer-without-sitemap .core-footer-separator.core-footer-separator-without-sitemap {
    display: block;
  }

  .core-footer .core-footer-without-sitemap .core-footer-left.core-footer-left-without-sitemap {
    display: block;
    flex: 0 1 calc(50% - var(--lib-core--footer-desktop-layout-gap));
  }

  .core-footer .core-footer-without-sitemap .core-footer-left.core-footer-left-without-sitemap .core-footer-logo-utility-links {
    display: flex;
    flex-direction: column;
  }

  .core-footer .core-footer-without-sitemap .core-footer-left.core-footer-left-without-sitemap .core-footer-utility-links {
    display: grid;
    grid-template-columns: repeat(2, var(--size-140, 140px));
    gap: var(--size-16, 16px) var(--size-56, 56px);
    margin-bottom: var(--size-40, 40px);
  }
}

@media (min-width: 1200px) {
  .core-footer {
    --lib-core--footer-desktop-layout-gap: var(--foundation-size-120, 120px);
  }
}
