@import '../../styles/figma/figma-mixin';

.core-find-a-doctor-block {
  dialog#doctor-details-modal {
    max-width: 327px;
    max-height: 648px;
    min-height: 280px;

    @include breakpointMediumUp {
      max-height: 640px;
      min-height: unset;
    }

    @include breakpointMediumUp {
      max-width: 1029px;
    }

    border: none;
    border-radius: var(--foundation-corner-radius-corner-radius-l);
    background-color: var(--color-surface-global-neutral-white-abs);
    box-shadow: var(--elevation-center-m-shadow);
    color: var(--text-color-global-neutral-primary);
    padding: var(--size-24) var(--size-24) var(--size-48) var(--size-24);

    @include breakpointMediumUp {
      padding: var(--size-24) var(--size-24) var(--size-24) var(--size-24);
    }

    .main-modal-content-wrapper {
      @include breakpointMediumUp {
        padding: var(--size-24);
      }

      display: flex;
      flex-direction: column;
      gap: var(--size-24);

      @include breakpointMediumUp {
        gap: var(--size-40);
      }

      .bottom-modal-content-wrapper {
        display: flex;
        flex-direction: column;

        @include breakpointMediumUp {
          gap: var(--size-16);
        }

        .bottom-title {
          font: var(--lib-core--label-m-font);

          @include breakpointSmallDown {
            padding-bottom: var(--size-8);
          }

          @include breakpointMediumUp {
            font: var(--lib-core--label-l-font);
          }
        }

        .bottom-middle-text {
          font: var(--lib-core--body-s-font);

          @include breakpointSmallDown {
            padding-bottom: var(--size-16);
          }

          @include breakpointMediumUp {
            font: var(--lib-core--body-m-font);
          }
        }

        .accepted-insurance-list {
          font: var(--lib-core--body-s-font);
          list-style-type: none;
          display: flex;
          flex-wrap: wrap;
          gap: var(--size-8) var(--size-16);
          margin-block-start: 0;
          margin-block-end: 0;

          li {
            margin: 0;

            @include breakpointMediumUp {
              min-width: 229.5px;
            }
          }
        }
      }
    }

    .middle-modal-content-wrapper {
      display: flex;
      flex-direction: column;
      gap: var(--size-24);

      @include breakpointMediumUp {
        flex-direction: row;
        gap: var(--size-48);
      }

      .right-side-info {
        display: flex;
        flex-direction: column;
        gap: var(--size-16);

        a.button {
          padding-top: var(--size-18);
          padding-bottom: var(--size-18);
        }

        @include breakpointSmallDown {
          a.button {
            width: 100%;
          }
        }

        @include breakpointMediumUp {
          gap: var(--size-24);
        }
      }

      & > * {
        flex: 1;

        .core-find-a-doctor-map {
          height: 180px;
          width: 100%;
          box-sizing: border-box;

          .button.primary {
            width: 100%;
          }

          @include breakpointMediumUp {
            height: 278px;
            width: 459px;
          }

          border-radius: 0;

          @include breakpointMediumUp {
            flex: 1;
          }
        }
      }
    }

    .close-button-wrapper {
      display: flex;
      justify-content: right;
      margin-bottom: var(--size-16);

      @include breakpointMediumUp {
        margin-bottom: 0;
      }

      .close-modal-button {
        cursor: pointer;
        color: var(--color-shape-branded-core-seed);
      }
    }

    .modal-address,
    .modal-phone {
      font: var(--lib-core--new-text-link-s-font);

      @include breakpointMediumUp {
        font: var(--lib-core--new-text-link-l-font);
      }

      color: var(--surface-color-branded-core-seed);
    }

    .modal-profile-image {
      order: 1;
      height: var(--size-80);
      width: var(--size-80);

      @include breakpointMediumUp {
        order: 0;
        height: var(--size-160);
        width: var(--size-160);
      }
    }

    .modal-title {
      font: var(--lib-core--body-s-font);

      @include breakpointMediumUp {
        font: var(--lib-core--body-l-font);
      }
    }

    div.modal-title {
      font-weight: 700;
    }

    .left-side-info {
      > .flex-helper {
        order: 0;
        display: flex;
        flex-direction: column;
        gap: var(--size-8);
        flex: 1;

        @include breakpointMediumUp {
          gap: var(--size-16);
        }
      }

      display: flex;
      flex-direction: row;
      gap: var(--size-8);

      @include breakpointMediumUp {
        flex-direction: column;
        gap: var(--size-16);
      }
    }

    h3.modal-name {
      font: var(--lib-core--title-s-font);
      margin-top: 0;
      margin-bottom: 0;

      @include breakpointMediumUp {
        font: var(--lib-core--title-l-font);
      }
    }
  }

  margin-left: calc(var(--layout-side-gutters) * (-1));
  margin-right: calc(var(--layout-side-gutters) * (-1));
  padding: var(--size-24) var(--layout-side-gutters) var(--size-80);

  &.tinted {
    background: var(--surface-color-global-neutral-tinted);
  }

  .core-find-a-doctor-block-disclaimer {
    margin-top: var(--size-32);

    @include breakpointMediumUp {
      margin-top: var(--size-48);
    }
  }

  .core-find-a-doctor-map-list-view {
    display: flex;
    justify-content: center;
    align-items: center;

    > * {
      flex: 1;
    }
  }

  .grid-only {
    display: none;
  }

  .core-find-a-doctor-map {
    height: 624px;

    // temporary styles
    border-radius: 0 var(--Foundation-Corner-Radius-Corner-Radius-L, 24px) var(--Foundation-Corner-Radius-Corner-Radius-L, 24px) 0;
    border: 3px dashed var(--Misc---Not-Part-of-System-Documentation, #ffa546);
    background: rgb(255 165 70 / 20%);
  }

  .core-find-a-doctor-list-container {
    height: 672px;
    position: relative;

    &.grid-version {
      height: unset;
    }
  }

  // LIST
  .find-a-doctor-list {
    padding: var(--size-24) var(--size-14);
    box-shadow: var(--elevation-center-s-shadow);
    border-radius: var(--foundation-corner-radius-corner-radius-l);
    height: 100%;
    box-sizing: border-box;
    background: var(--surface-color-global-neutral-white);

    .find-a-doctor-list-scroll-container {
      padding: var(--size-8) var(--size-18);
      display: flex;
      flex-direction: column;
      gap: var(--size-16);
      height: 100%;
      overflow: auto;
      scrollbar-width: thin;

      .find-a-doctor-list-empty {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
      }
    }
  }

  .core-find-a-doctor-list-container.grid-version {
    --rowsPerPage: 5;
    --card-height: 204px;
    --card-padding: var(--size-24);
    --gap-size: var(--size-24);
    --scroll-container-padding: var(--size-20);

    @include breakpointMediumUp {
      --rowsPerPage: 2;
      --card-padding: var(--size-32);
      --card-height: 216px;
    }

    .list-only {
      display: none;
    }

    .grid-only {
      display: unset;
    }

    .find-a-doctor-list {
      box-shadow: none;
      border-radius: 0;
      margin: -32px calc(var(--layout-side-gutters) * (-1));
      padding: 12px 0;

      @include breakpointMediumUp {
        margin: -32px;
        padding: 12px;
      }
    }

    .find-a-doctor-list-scroll-container {
      display: grid;
      padding: var(--scroll-container-padding);

      @include breakpointMediumUp {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: min-content;
      }

      gap: var(--gap-size);
    }

    height: calc((var(--card-height) + var(--card-padding) * 2) * var(--rowsPerPage) + var(--gap-size) * var(--rowsPerPage));
    margin-bottom: calc(var(--gap-size) * (-1));
  }

  .find-a-doctor-card-content {
    position: relative;
    display: flex;
    padding: var(--size-16) var(--size-24);
    flex-direction: row;
    gap: var(--size-24);
    justify-content: space-between;
    color: var(--text-color-global-neutral-primary);
    font: var(--lib-core--body-m-font);
    border-radius: var(--foundation-corner-radius-corner-radius-l);
    box-shadow: var(--elevation-center-s-shadow);
    background: var(--color-button-branded-primary-reversed-surface-default);
    transition:
      background-color 0.2s,
      color 0.2s;

    .find-a-doctor-card-picture {
      visibility: hidden;
      width: 1px;
      height: 1px;
    }
  }

  .core-find-a-doctor-list-container:not(.grid-version) .find-a-doctor-card-content {
    &:hover,
    &:hover .find-a-doctor-card-left h3.find-a-doctor-card-name {
      background: var(--surface-color-branded-core-seed);
      color: var(--text-color-global-neutral-white);
    }

    &:hover .find-a-doctor-card-right .button.secondary {
      color: var(--color-button-branded-secondary-reversed-foreground-default);
      border: solid 2px var(--color-button-branded-secondary-reversed-foreground-default);
    }
  }

  .find-a-doctor-card-content .find-a-doctor-card-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    .button-container {
      margin: 0;
      width: fit-content;

      a.button:any-link:not(.text).button-icon span.icon {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .find-a-doctor-card-content .find-a-doctor-card-left {
    h3.find-a-doctor-card-name {
      color: var(--button-color-filled-core-reversed-foreground-default);
      font: var(--lib-core--title-m-font);
      margin: 0;
    }

    .find-a-doctor-card-title {
      font: var(--lib-core--button-m-font);
      line-height: 120%;
    }

    display: flex;
    flex-direction: column;
    gap: var(--size-8);
  }

  .core-find-a-doctor-list-container.grid-version .find-a-doctor-card .find-a-doctor-card-content {
    height: var(--card-height);
    padding: var(--card-padding);

    .find-a-doctor-card-right .find-a-doctor-card-picture {
      visibility: visible;
      background-color: whitesmoke; // temporary
      width: var(--size-80);
      height: var(--size-80);
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .find-a-doctor-card-left {
      h3.find-a-doctor-card-name,
      .find-a-doctor-card-title {
        color: var(--text-color-global-neutral-primary);
      }

      h3.find-a-doctor-card-name {
        font: var(--lib-core--title-s-font);
      }

      .find-a-doctor-card-title {
        font: var(--lib-core--body-s-font);
      }

      a.find-a-doctor-card-phone-link,
      a.find-a-doctor-card-address {
        font: var(--lib-core--new-text-link-s-font);
        color: var(--button-color-filled-core-reversed-foreground-default);
        text-decoration: underline;
        cursor: pointer;
      }

      @include breakpointMediumUp {
        h3.find-a-doctor-card-name {
          font: var(--lib-core--title-m-font);
        }

        .find-a-doctor-card-title {
          font: var(--lib-core--body-m-font);
        }

        a.find-a-doctor-card-phone-link,
        a.find-a-doctor-card-address {
          font: var(--lib-core--new-text-link-m-font);
        }
      }
    }
  }

  .core-find-a-doctor-list-container.grid-version .find-a-doctor-list {
    background: transparent;
  }

  /* FILTER AREA */
  .core-find-a-doctor-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;

    .core-find-a-doctor-left-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      gap: 24px;

      @include breakpointMediumUp {
        flex-direction: row;
        gap: 64px;
        width: unset;
      }

      .core-find-a-doctor-results {
        font: var(--lib-core--title-m-font);
        width: 100%;
      }

      .core-find-a-doctor-left-filter {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 24px;
        align-items: center;

        @include breakpointMediumUp {
          width: unset;
        }

        .core-find-a-doctor-filter-button {
          background: none;
          border: none;
          padding: 0;
          cursor: pointer;
          outline: inherit;

          &:hover {
            text-decoration: underline;
          }

          &:active {
            text-decoration: underline;
            color: #ffa546;

            svg {
              stroke: #ffa546;
            }
          }

          display: flex;
          align-items: center;
          font: var(--lib-core--button-m-font);
          color: var(--surface-color-branded-core-seed);

          svg {
            stroke: var(--surface-color-branded-core-seed);
          }
        }
      }
    }
  }

  /* FILTER */

  .core-find-a-doctor-filter-right {
    margin: 0;

    .button {
      width: max-content;
      align-items: center;
      display: flex;
      gap: 4px;
      color: var(--button-color-filled-core-reversed-foreground-default);
      border-radius: 8px;
      font-weight: 700;
      line-height: 100%;

      &:hover {
        text-decoration: none;
      }
    }

  }

  .core-find-a-doctor-filter-icon,
  .core-find-a-doctor-filter-text {
    color: var(--button-color-filled-core-reversed-foreground-default);
  }

  .core-find-a-doctor-filter-icon {
    svg {
      width: 20px;
      height: 20px;
    }
  }

  .core-find-a-doctor-filter-dropdown {
    margin-right: var(--size-24);
  }

  .core-find-a-doctor-filter-dropdown .js-select {
    .combo-menu {
      width: unset;
    }

    .combo-option,
    .presented-option {
      font: var(--lib-core--body-m-font);
      padding: var(--size-8);
      color: var(--text-color-global-neutral-primary);
    }

    .combo-option {
      padding-right: var(--size-18);
    }

    .presented-option {
      padding: 0;
    }

    .combo-option[aria-selected='true'] {
      color: var(--button-color-filled-core-reversed-foreground-default);
      transition: all 0.3s;
    }

    p.presented-option {
      position: relative;

      &::after {
        content: '';
        background-image: url('../../icons/chevron-down-purple.svg');
        background-position: center;
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        display: block;
        position: absolute;
        top: 0;
        left: calc(100% + 8px);
        transform: rotate(0.5turn);
        transition: transform 0.3s;

        svg {
          width: 16px;
          height: 16px;
        }
      }
    }

    &.open {
      .presented-option {
        &::after {
          transform: rotate(0);
        }
      }
    }
  }

  /* PAGINATION */

  .core-find-a-doctor-pagination {
    .find-a-doctor-list-pagination {
      display: flex;
      width: 395px;
      height: 24px;
      padding: var(--size-8) var(--size-16);
      justify-content: space-between;
      align-items: center;
      border-radius: 999px;
      background: var(--color-surface-global-neutral-white-abs);
      margin: var(--size-48) auto;
      font: var(--lib-core--button-s-font);
      color: var(--text-color-global-neutral-secondary);

      &.hidden {
        display: none;
      }

      .find-a-doctor-list-pagination-button {
        display: flex;
        width: var(--size-20);
        height: var(--size-20);
        cursor: pointer;
        background: transparent;
        border: none;
        padding: 0;

        .icon {
          width: var(--size-20);
          height: var(--size-20);
        }

        svg {
          height: var(--size-16);
        }

        &[disabled='disabled'] {
          color: var(--button-color-tertiary-core-disbled);
          cursor: default;
        }
      }
    }
  }
}
