<div class="core-data-vis-inside block-inside">
  <div class="core-data-vis-chart-container">
    <div>
      <div class="core-data-vis-title">
        {{ title }}
      </div>
      <div class="core-data-vis-content"> 
        {{ contentAtoms.content }}
      </div>
    </div>
    <div class="core-data-vis-chart">
      <div class="core-data-vis-chart-data core-data-vis-chart-items">
        <img src="{{ graphUrl }}" alt="Diagram of {{ title }}" />
      </div>
    </div>
  </div>
</div>
