<dialog>
    <div class="core-overlay-host-container">
        <div class="core-overlay-host-content">
            <div class="core-overlay-host-close" role="button" aria-label="Close dialog">
                <span class="icon icon-lib-close-light" ></span>
            </div>
            <div class="core-overlay-host-scroll-container">
                {{! <div class="core-overlay-host-logo"></div> }}
                <div class="core-overlay-host-header"></div>
                <div class="core-overlay-host-body">
                </div>
                <div class="core-overlay-host-footer"></div>
                <div class="core-overlay-host-progress">
                    <svg width="40" height="40" viewBox="-25 -25 250 250">
                        <circle r="90" cx="100" cy="100" stroke-width="20px" stroke-dashoffset="158px"
                            fill="transparent" stroke-dasharray="600px"></circle>
                    </svg>
                </div>
            </div>
            <div class="core-overlay-host-after-scroll"></div>
        </div>
        <div class="core-overlay-host-backdrop">
            {{! + }}
        </div>
    </div>
</dialog>
