/* fake theme for figma */

:root {
  --border-color-global-pfizer: #ee00ff;

  --color-button-filled-core-foreground-default: #68e73d;
  --color-button-filled-core-reversed-foreground-default: #9bbb9e;
  --color-button-filled-core-reversed-surface-default: #77f006;
  --color-button-filled-core-reversed-surface-hover: #f1aaaa;
  --color-button-filled-core-surface-default: #e15893;
  --color-button-filled-core-surface-hover: #d8ed1c;
  --color-button-outline-core-default: #099838;
  --color-button-outline-core-hover: #9512c1;
  --color-button-outline-core-reversed-default: #75697b;
  --color-button-outline-core-reversed-hover: #00d5ff;
  --color-button-outline-core-reversed-hover-focused: #a230db;
  --color-button-outline-pfizer-default: #77f6e1;
  --color-button-outline-pfizer-hover: #f92121;
  --color-button-primary-bg-inverted-hover-focused: #415f24;

  --color-shape-global-neutral-dark: #5900fe;

  --color-surface-branded-accent-light: #082eb4;
  --color-surface-branded-core-seed: deeppink;
  --color-surface-branded-core-tinted: #765172;
  --color-surface-global-neutral-tinted: #d2ef5e;
  --color-surface-global-neutral-white: #95995a;

  --color-text-branded-core-seed: #ee8607;
  --color-text-global-neutral-primary: #ae1a86;
  --color-text-global-neutral-tertiary: #84b33c;
  --color-text-global-neutral-white: #f1fa79;

  --lib-core--color-on-background: #519394;
  --lib-core--color-on-primary: #4b1717;
  --lib-core--color-on-primary-container: #d7724d;

  --lib-core--color-on-secondary: #f2662f;
  --lib-core--color-on-secondary-container: #a419a4;

  --lib-core--color-on-surface: #98a840;
  --lib-core--color-on-surface-variant: #296c92;

  --lib-core--color-outline: #2ebe27;
  --lib-core--color-outline-variant: #16b983;

  --lib-core--color-primary: #137e83;
  --lib-core--color-primary-container: #e0e0ff;
  --lib-core--color-secondary: #304b23;
  --lib-core--color-secondary-container: #eab7ea;
  --lib-core--color-surface-variant: #3e7b30;
  --lib-core--color-system-black: #0099ff;
  --lib-core--color-system-surface-surface-2: #b140a2;
  --lib-core--color-system-surface-surface-3: #98218b;
  --lib-core--color-system-surface-surface-5: #660a67;
  --lib-core--color-system-white: #00ff37;
  --lib-core--color-utility-error-error: #936161;

  --quote-slide-overlay-background-opacity-60: rgba(225, 255, 0, 0.6);
  --surface-color-brand-accent-primary: #1b8920;
}
