/* Pfizer Diatype :: Pfizer Diatype-fallback  */
@font-face {
  font-weight: 400;
  font-family: 'Pfizer Diatype-fallback';
  size-adjust: 99.5%;
  src: local('Arial');
}

/* Pfizer Diatype Bold :: Diatype-bold-fallback  */
@font-face {
  font-weight: 800;
  font-family: 'Pfizer Diatype-bold-fallback';
  size-adjust: 99.5%;
  src: local('Arial Bold');
}

/* Pfizer Tomorrow :: Pfizer Tomorrow-fallback  */
@font-face {
  font-weight: 700;
  font-family: 'Pfizer Tomorrow-fallback';
  size-adjust: 99.5%;
  src: local('Arial Bold');
}

/* Pfizer Regular :: Pfizer Diatype-regular-fallback  */
@font-face {
  font-weight: 400;
  font-family: 'Pfizer Diatype-regular-fallback';
  size-adjust: 99.5%;
  src: local('Arial');
}

/* Pfizer Regular :: Pfizer Diatype-medium-fallback */
@font-face {
  font-weight: 500;
  font-family: 'Pfizer Diatype-medium-fallback';
  size-adjust: 99.5%;
  src: local('Arial');
}

/* Pfizer Diatype Extended Light :: Diatype-extended-light-fallback  */
@font-face {
  font-weight: 300;
  font-family: 'Pfizer Diatype-extended-light-fallback';
  size-adjust: 99.5%;
  src: local('Arial');
}

/* Pfizer Diatype Extended Regular :: Pfizer Diatype-extended-regular-fallback  */
@font-face {
  font-weight: 500;
  font-family: 'Pfizer Diatype-extended-regular-fallback';
  size-adjust: 99.5%;
  src: local('Arial');
}

/* Pfizer Diatype Extended Bold :: Pfizer Diatype-extended-bold-fallback  */
@font-face {
  font-weight: 800;
  font-family: 'Pfizer Diatype-extended-bold-fallback';
  size-adjust: 99.5%;
  src: local('Arial Bold');
}

/* * * * * * * * * */

@font-face {
  font-family: 'Pfizer Diatype Light';
  font-display: swap;
  src: url('../fonts/PfizerDiatype-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Pfizer Diatype Regular';
  font-display: swap;
  font-style: normal;
  src: url('../fonts/PfizerDiatype-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Pfizer Diatype Medium';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/PfizerDiatype-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Pfizer Diatype Bold';
  font-display: swap;
  src: url('../fonts/PfizerDiatype-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Pfizer Diatype Heavy';
  font-display: swap;
  src: url('../fonts/PfizerDiatype-Heavy.woff2') format('woff2');
}
@font-face {
  font-family: 'Pfizer Diatype Black';
  font-display: swap;
  src: url('../fonts/PfizerDiatype-Black.woff2') format('woff2');
}
@font-face {
  font-family: 'Pfizer Diatype Ultra';
  font-display: swap;
  src: url('../fonts/PfizerDiatype-Ultra.woff2') format('woff2');
}
@font-face {
  font-family: 'Pfizer Diatype Extended Light';
  font-display: swap;
  font-weight: 300;
  src: url('../fonts/PfizerDiatypeExtended-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Pfizer Diatype Extended Regular';
  font-display: swap;
  font-weight: 400;
  src: url('../fonts/PfizerDiatypeExtended-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Pfizer Diatype Extended Medium';
  font-display: swap;
  font-weight: 500;
  src: url('../fonts/PfizerDiatypeExtended-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Pfizer Diatype Extended Bold';
  font-display: swap;
  font-weight: 700;
  src: url('../fonts/PfizerDiatypeExtended-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Pfizer Diatype Extended Heavy';
  font-display: swap;
  font-weight: 800;
  src: url('../fonts/PfizerDiatypeExtended-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Pfizer Diatype Extended Black';
  font-display: swap;
  font-weight: 900;
  src: url('../fonts/PfizerDiatypeExtended-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Pfizer Diatype Extended Ultra';
  font-display: swap;
  font-weight: 1000;
  src: url('../fonts/PfizerDiatypeExtended-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Pfizer Diatype Italic';
  font-display: swap;
  font-style: normal;
  src: url('../fonts/PfizerDiatype-RegularItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'Pfizer Diatype Condensed Light';
  font-display: swap;
  font-style: normal;
  src: url('../fonts/PfizerDiatypeCondensed-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Pfizer Diatype Condensed Regular';
  font-display: swap;
  font-style: normal;
  src: url('../fonts/PfizerDiatypeCondensed-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Pfizer Diatype Condensed Medium';
  font-display: swap;
  font-style: normal;
  src: url('../fonts/PfizerDiatypeCondensed-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Pfizer Diatype Condensed Bold';
  font-display: swap;
  font-style: normal;
  src: url('../fonts/PfizerDiatypeCondensed-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Pfizer Diatype Condensed Heavy';
  font-display: swap;
  font-style: normal;
  src: url('../fonts/PfizerDiatypeCondensed-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Pfizer Diatype Condensed Black';
  font-display: swap;
  font-style: normal;
  src: url('../fonts/PfizerDiatypeCondensed-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Pfizer Diatype Condensed Ultra';
  font-display: swap;
  font-style: normal;
  src: url('../fonts/PfizerDiatypeCondensed-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Pfizer Tomorrow';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/pfizer-tomorrow-bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Pfizer Tomorrow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/pfizer-tomorrow-regular.woff2') format('woff2');
}
