@import './figma/figma-mixin';

.core-grid-2 .core-grid-parent,
.core-grid-2.core-grid-parent,
.core-grid-3 .core-grid-parent,
.core-grid-3.core-grid-parent,
.core-grid-4 .core-grid-parent,
.core-grid-4.core-grid-parent {
  list-style-type: none;
  display: grid;
  gap: var(--lib-core--cards--inside-gap, var(--size-24));
}

@include breakpointMediumUp  {
  /* 2 */
  .core-grid-2.core-grid-parent,
  .core-grid-2 .core-grid-parent {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  /* 3 */
  .core-grid-3.core-grid-parent,
  .core-grid-3 .core-grid-parent {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  /* 3 */
  .core-grid-4.core-grid-parent,
  .core-grid-4 .core-grid-parent {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}