/* display: none; needed for adobe preformance */
body {
  margin: 0;
  display: none;

  @include breakpointSmallDown {
    &:has(dialog[open]) {
      overflow: hidden;
    }
  }

  // set Global width rule //////////////////////
  --site-width: 1920px;

  /* When mouse is detected, ALL focused elements have outline removed. */
  &.using-mouse main .core-form-wrapper .core-form form .core-form-section {
    *:focus,
    *:focus-visible,
    *:focus-within {
      outline: none;
      box-shadow: none;
    }

    div.checkbox-wrapper div.toggle-wrapper label.toggle-label:focus::before {
      border: none;
    }
  }
}

/* header */
.header-expanded-position-toggle {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 1;

  // disable until menu finalized: https://digitalpfizer.atlassian.net/browse/FRNKDV-2625
  // --lib-core--menu--nav-background-color: var(--lib-core--color-background);
  background-color: white;
  display: block;
}

.header-expanded-position-toggle.hidden {
  display: none;
}

.header-expanded-position-toggle > div {
  max-width: var(--site-width);
  padding: var(--size-32) var(--size-80);
  margin: 0 auto;
  box-sizing: border-box;
}

/* layout properties */
body {
  // new reference max-width for containers and confirm
  --layout-grid-width-max-container: 1920px;
  --lib-core--header-height: 80px;

  @include breakpointMediumUp {
    --lib-core--header-height: 96px;
  }

  --lib-core--content-padding-x: 24px;
  --lib-core--sidebar-top: 0px;

  &.appear {
    display: grid;
    grid-template:
      'header' var(--lib-core--header-height)
      'sidebar'
      'main' 1fr
      'footer' auto / 100%;
  }

  // enforce header height for CLS
  body > header {
    height: var(--lib-core--header-height);

    .core-header[data-block-status='loading'] {
      background-color: red;
      height: var(--lib-core--header-height);
      overflow: hidden;
      opacity: 0;
    }
  }

  &:not(.has-header) {
    --lib-core--header-height: 0px;
  }

  &.top-nav.has-sidebar {
    --lib-core--sidebar-top: var(--lib-core--header-height);
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    --lib-core--content-padding-x: var(--lib-core--spacing-7x);
  }

  @media (min-width: 1024px) {
    --lib-core--content-padding-x: var(--lib-core--spacing-12x);
  }
}

body.search-overlay-open .core-header.block .header-nav-bottom-section {
  z-index: auto;
}

@media (min-width: 1024px) {
  body.appear {
    // --site-width: calc(var(--layout-grid-width-max-container) - var(--size-24) * 2);
    width: 100%;
    max-width: var(--site-width);
    grid-template:
      'header' var(--lib-core--header-height)
      'sidebar'
      'main' 1fr
      'footer' auto / 100%;
    margin: auto;

    &.global-header-disabled {
      --lib-core--menu-width: 0;
    }
  }
}

// body > header,
// body > aside
body > main {
  width: 100%;
  max-width: var(--layout-grid-width-max-container);
  margin: auto;
}

body.header-navigation-open > main {
  padding-top: 75px;
}

body.header-navigation-open {
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
}

// exception for block library loading
html body.sidekick-library.appear {
  display: block;
}

body.appear.global-header-disabled header {
  height: 0 !important;
  overflow: hidden;
}

.top-nav .layout-header,
.side-nav .layout-sidebar {
  top: 0;
}

.layout-header {
  grid-area: header;
}

.layout-header > div {
  box-sizing: border-box;
}

.layout-sidebar {
  grid-area: sidebar;
}

.layout-footer {
  grid-area: footer;
  z-index: 1;
}

.layout-footer > div {
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  // TODO: move later
  .layout-sidebar {
    top: var(--lib-core--sidebar-top);

    // Gabi - to discuss later
    z-index: 99999;

    &.sticky {
      position: relative;
    }
  }
}

main {
  grid-area: main;
}

// spacing rules for sections as they are the main gutters in layout

// section padding bottom rules:
main .section {
  --lib-core--layout-section-padding-bottom: var(--lib-core--layout-section-padding-bottom-mobile, 56px);

  @media (min-width: 768px) {
    --lib-core--layout-section-padding-bottom: var(--lib-core--layout-section-padding-bottom-tablet, 64px);
  }

  @media (min-width: 1024px) {
    --lib-core--layout-section-padding-bottom: var(--lib-core--layout-section-padding-bottom-desktop, 96px);
  }

  padding: 0 var(--lib-core--content-padding-x) var(--lib-core--layout-section-padding-bottom) var(--lib-core--content-padding-x);
}

/**
* Global layout rules gutters set by section right/left as baseline rule to add exceptions from:
* not using --lib-core--content-padding-x yet since the tokens are not reliable enough
*/

body main .section {
  --layout-side-gutters: 24px;

  @include breakpointMediumUp {
    // desktop
    --layout-side-gutters: 80px;
  }

  --lib-core--content-padding-x: var(--layout-side-gutters);

  padding-left: var(--layout-side-gutters);
  padding-right: var(--layout-side-gutters);
}

// if first element is a header in main content then we accomodate for the spacing
main .section:first-child > .default-content-wrapper {
  > h1:first-child,
  > h2:first-child,
  > h3:first-child {
    margin-top: var(lib-core--spacing-1x);
  }
}

// JUST FOR POC ////////////////////////////////////
html body.layout-pinaz {
  position: relative;

  &::before {
    padding: 0;
    margin: 0;

    // background-color: #eaf4e1;
    border-right: 2px dashed rgb(32 152 106);
    border-left: 2px dashed rgb(32 152 106);
    content: '';
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1920px;
    max-width: 100%;
    height: 100%;
  }

  &::after {
    border-right: 2px dashed rgb(200 134 27);
    border-left: 2px dashed rgb(200 134 27);
    content: '';
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(1920px - 160px);
    max-width: 100%;
    height: 100%;
  }

  .library-metadata-wrapper > div {
    max-height: 75px;
    overflow: hidden;
    margin-top: 100px;
    margin-bottom: 100px;
    opacity: 0.5;
    border: none !important;
  }
}

// JUST FOR POC ////////////////////////////////////

html body.kitchen-sink-demo-page {
  position: relative;

  .library-metadata-wrapper {
    max-height: 15px;
    overflow: hidden;
    opacity: 0.5;
    margin-bottom: 75px;
    background-color: lightcoral;
  }
}

// needs to be added dynamically to prevent CLS
body .core-footer-wrapping-loaded .core-footer-wrapper {
  --lib-core--footer--background-color: var(--surface-color-neutral-primary, #fff);
  --lib-core--footer--top-border: 2px solid var(--border-color-pfizer-primary, #0000c9);

  background-color: var(--lib-core--footer--background-color, var(--lib-core--color-surface-variant));
  border-top: var(--lib-core--footer--top-border);
}
