.core-overlay-host-container.core-isi-overlay {
  max-width: 300px;

  .core-overlay-host-body {
    .core-isi-overlay-links {
      display: flex;
      flex-direction: column;
      gap: var(--size-24);
      margin-top: var(--size-32);

      a {
        font-family: var(--diatype-font--700);
        font-size: var(--size-16);
        font-weight: 700;
        color: var(--color-button-branded-tertiary-default-default);
        cursor: pointer;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 4px;
      }
    }
  }
}

.core-overlay-host-container.core-ext-link-overlay {
  // max-width: 720px;

  .core-overlay-host-footer {
    order: 3;
    padding-top: var(--size-24);
  }

  .core-overlay-host-body {
    order: 4;
    margin-top: var(--size-24);
  }
}
