.core-pagination {
  display: flex;
  width: calc(100% - 32px);
  height: 24px;
  padding: var(--size-8) var(--size-16);
  justify-content: space-between;
  align-items: center;
  border-radius: 999px;
  background: var(--color-surface-global-neutral-white-abs);
  margin: var(--size-32) auto;
  font: var(--lib-core--button-s-font);
  color: var(--text-color-global-neutral-secondary);

  @include breakpointMediumUp {
    width: 378px;
    min-width: 295px;
    max-width: 379px;
  }

  &.hidden,
  &.single-page {
    display: none;
  }

  .core-pagination-button {
    display: flex;
    width: var(--size-24);
    height: var(--size-24);
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    color: var(--color-button-tertiary-core-default);

    &:hover {
      color: var(--color-button-branded-tertiary-default-hover);
    }

    &:focus {
      outline: 2px solid var(--button-color-branded-tertiary-default-focused-border-branded);
      outline-offset: 2px;
    }

    .icon {
      width: var(--size-24);
      height: var(--size-24);
    }

    svg {
      height: var(--size-16);
    }

    &[disabled='disabled'] {
      color: var(--button-color-tertiary-core-disbled) !important;
      cursor: default;
    }
  }

  &.branded {
    background: var(--surface-color-branded-core-tinted);
  }

  @include breakpointMediumUp {
    margin: var(--size-48) auto;
  }
}
