/* .core-card */
.core-card {
  box-sizing: border-box;

  --card-body-font: 400 16px / 1.25 var(--lib-core--font-family-primary);
  --card-title-font: 700 var(--lib-core--font-size-title-medium-medium-medium) / var(--lib-core--line-height-title-medium-medium-medium) var(--lib-core--font-family-primary);
  --card-number-variant-number-font: 800 48px / 1.2 var(--lib-core--font-family-primary);
  --card-background-color: var(--surface-color-neutral-primary);
  --card-icon-variant-background-color: var(--lib-core--card--icon-variant-background-color, var(--lib-core--color-system-surface-surface-3));
  --card-image-spacing: var(--lib-core--spacing-8x);
  --card-border-radius: var(--lib-core--card--border-radius, var(--corner-round-lg));
  --card-image-border-radius: var(--lib-core--card--image-border-radius, var(--card-border-radius));
  --card-heading-color: var(--lib-core--card--heading-color, var(--lib-core--color-on-background));
  --card-icon-variant-heading-color: var(--lib-core--card--icon-variant-heading-color, var(--lib-core--color-on-surface));
  --card-number-variant-heading-color: var(--lib-core--card--number-variant-heading-color, var(--surface-color-branded-core-seed));
  --card-number-variant-body-color: var(--lib-core--card--number-variant-body-color, var(--text-primary-neutral-default));
  --card-text-color: var(--lib-core--card--text-color, var(--lib-core--color-on-surface));
  --card-kicker-color: var(--lib-core--card--kicker-color, var(--lib-core--color-on-surface-variant));
  --card-icon-variant-min-height: var(--lib-core--card--icon-variant-min-height, 284px);

  font: var(--card-body-font);
  position: relative;
}

.core-card .button-container a.button.button-icon:any-link {
  padding: var(--size-14);
}

.core-card .button-container a.button.button-icon:any-link span.icon {
  width: var(--size-20);
  height: var(--size-20);
}

.core-card .button-container a.button.button-icon:any-link span.icon svg {
  padding-left: 3px;
  padding-right: 0;
}

.core-card.image {
  --card-background-color: var(--surface-color-neutral-primary);
}

.core-card.image.large .core-card-card {
  color: var(--card-heading-color);
  font: var(--card-title-font);
}

.core-card.image.inverted {
  --card-background-color: var(--lib-core--card--body-background-color, var(--lib-core--color-secondary));
  --card-heading-color: var(--lib-core--card--accent-color, var(--lib-core--color-on-secondary));
  --card-text-color: var(--lib-core--card--text-color, var(--lib-core--color-on-secondary));
}

.core-card .core-card-inside,
.core-card .core-card-inside .core-card-card {
  height: 100%;
  box-sizing: border-box;
}

.core-card h1,
.core-card h2,
.core-card h3,
.core-card h4 {
  color: var(--surface-color-branded-core-seed);
}

@media (max-width: 1023px) {
  /* everything above mobile */
  .core-card h2,
  .core-card h3 {
    margin-bottom: var(--size-8);
  }
}

.core-card .core-card-kicker {
  color: var(--card-kicker-color);
  text-transform: uppercase;
}

.core-card .core-grid-parent li:hover {
  box-shadow: var(--elevation-center-m-active-shadow);
}

.core-card .core-card-card {
  position: relative;
  display: flex;
  color: var(--card-text-color);
  flex-direction: column;
  box-shadow: var(--elevation-center-m-shadow);
  transition: box-shadow 0.3s ease-in-out;
}

.core-card.icon .core-card-card {
  min-height: var(--card-icon-variant-min-height);
  background-color: var(--card-background-color);
  box-shadow: var(--elevation-center-m-shadow);
}

.core-card.text-only .core-card-card {
  padding-top: var(--size-32);
  padding-bottom: var(--size-24);
}

@media (min-width: 1024px) {
  /* Tablet styles here */
  .core-card.text-only .core-card-card {
    padding-top: var(--size-40);
    padding-bottom: var(--size-32);
  }
}

.core-card.number h1,
.core-card.number h2,
.core-card.number h3,
.core-card.number h4 {
  color: var(--card-number-variant-heading-color);
  margin-bottom: var(--lib-core--spacing-2x);
}

.core-card.number h1::before,
.core-card.number h2::before,
.core-card.number h3::before,
.core-card.number h1::after,
.core-card.number h2::after,
.core-card.number h3::after,
.core-card.icon h1::before,
.core-card.icon h2::before,
.core-card.icon h3::before,
.core-card.icon h1::after,
.core-card.icon h2::after,
.core-card.icon h3::after {
  display: none;
}

/* body */
.core-card .core-card-bottom-stretch,
.core-card .core-card-bottom {
  flex-grow: 1;
}

.core-card .core-card-content {
  border-radius: var(--card-border-radius);
  background-color: var(--card-background-color);
  overflow: hidden;
  padding: var(--size-24);
}

.core-card.image .core-card-content {
  padding: 0;
}

@media (min-width: 1920px) {
  /* Desktop styles here */
  .core-card .core-card-content {
    padding: var(--size-32);
  }

  .core-card.image .core-card-content {
    padding: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1920px) {
  /* Tablet styles here */
  .core-card .core-card-content {
    padding: var(--size-32);
  }

  .core-card.image .core-card-content {
    padding: 0;
  }
}

.core-card .core-card-bottom.core-card-bottom-stretch {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.core-card .core-card-bottom .button-container {
  margin-top: 0;
}

@media (min-width: 1024px) {
  .core-card .core-card-bottom .button-container:not(:only-child) {
    /* Tablet styles here */
    margin-top: var(--size-32);
  }
}

.core-card.button-link-icon .core-card-bottom .button-container {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
}

.core-card .core-card-bottom p {
  color: var(--text-color-neutral-primary);
  margin-bottom: 0;
}

.core-card .core-card-bottom .button-container a:not(.button-icon) {
  width: 100%;
  max-width: 100%;
}

.core-card a.button {
  margin-top: var(--size-24);
}

.core-card.text-only .core-card-card .button-container .button {
  margin-top: var(--size-24);
}

.core-card a.button {
  margin-top: 0;
}

.core-card a.button.text {
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
}

.core-card .core-card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.core-card .core-card-top p {
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.core-card.image .core-card-top {
  padding: 0;
}

.core-card.image .core-card-top picture {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.core-card.image .core-card-top img {
  padding: 0;
  min-height: unset;
  aspect-ratio: unset;
}

.core-card.image .core-card-top img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.core-card.image .core-card-bottom {
  padding: var(--size-24);
}

@media (min-width: 1920px) {
  /* Desktop styles here */
  .core-card.image .core-card-bottom {
    padding: var(--size-32);
  }
}

@media (min-width: 1024px) and (max-width: 1920px) {
  /* Tablet styles here */
  .core-card.image .core-card-bottom {
    padding: var(--size-32);
  }

  .core-card.image .core-card-top picture {
    height: 260px;
  }
}

@media (min-width: 0) and (max-width: 1023px) {
  /* everything above mobile */
  .core-card.image .core-card-top img {
    min-height: 200px;
  }
}

@media (max-width: 500px) {
  /* Mobile styles here */
  .core-card.image .core-card-top img {
    min-height: 200px;
  }
}

.core-card.image .core-card-top img {
  aspect-ratio: unset;
}

.core-card.icon .core-card-top {
  padding-bottom: 0;
}

.core-card.icon .core-card-top .icon {
  width: var(--size-48);
  height: var(--size-48);
  padding: 0;
  margin-bottom: var(--size-8);
  min-height: unset;
  aspect-ratio: unset;
  fill: var(--surface-color-branded-core-seed);
  color: var(--surface-color-branded-core-seed);
}

@media (min-width: 1024px) and (max-width: 1920px) {
  /* Tablet styles here */
  .core-card.icon .core-card-top .icon {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 1920px) {
  /* Desktop styles here */
  .core-card.icon .core-card-top .icon {
    width: 60px;
    height: 60px;
  }
}

.core-card.icon .icon svg {
  margin: 0;
  width: 100%;
  height: 100%;
  fill: currentcolor;
}

.core-card.number .core-card-top {
  padding-bottom: 0;
}

.core-card.number .core-card-top p {
  font: var(--lib-core--headline-xl-bold-font);
  color: var(--card-number-variant-heading-color);
  margin-bottom: var(--size-8);
}

div.core-card.splitter .button-container {
  padding-top: var(--size-24);
  display: grid;
  gap: var(--size-16);
}

div.core-card.splitter .button-container a.button {
  margin-top: 0;
  max-width: unset;
}

div.core-card.splitter .button-container a.button.text {
  width: fit-content;
  margin: 0 auto;
}

@media (min-width: 1024px) and (max-width: 1920px) {
  div.core-card.splitter .button-container {
    /* Tablet styles here */
    grid-template-columns: 1fr 1fr;
  }

  div.core-card.splitter .button-container a.button.text {
    margin: 0;
  }
}

.core-card.eyebrow .core-card-top {
  padding-bottom: var(--size-8);
  color: var(--surface-color-branded-core-seed);
  font: var(--lib-core--label-m-font);
}

.core-card.eyebrow .core-card-top p {
  padding: var(--size-8) 0;
}

@media (min-width: 1920px) {
  /* Desktop styles here */
  .core-card.eyebrow .core-card-top p {
    font: var(--lib-core--label-l-font);
  }

  .core-card.eyebrow .core-card-top {
    padding-bottom: var(--size-8);
  }
}

@media (min-width: 1024px) and (max-width: 1920px) {
  /* Tablet styles here */
  .core-card.eyebrow .core-card-top p {
    font: var(--lib-core--label-l-font);
  }

  .core-card.eyebrow .core-card-top {
    padding-bottom: var(--size-8);
  }
}

.core-card .card-block-error {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f5e8e8;
  border: 1px solid #f5e8e8;
  color: red;
}

@media (max-width: 500px) {
  /* Mobile styles here */
  .core-card .core-card-bottom p {
    font: var(--lib-core--body-m-font);
  }

  .core-card h1,
  .core-card h2,
  .core-card h3,
  .core-card h4 {
    font: var(--lib-core--title-m-font);
  }
}

@media (min-width: 0) and (max-width: 1023px) {
  /* everything above mobile */
  .core-card .core-card-bottom p {
    font: var(--lib-core--body-m-font);
  }

  .core-card h1,
  .core-card h2,
  .core-card h3,
  .core-card h4 {
    font: var(--lib-core--title-m-font);
  }
}

@media (min-width: 1024px) and (max-width: 1920px) {
  /* Tablet styles here */
  .core-card .core-card-bottom p {
    font: var(--lib-core--body-l-font);
  }

  .core-card h1,
  .core-card h2,
  .core-card h3,
  .core-card h4 {
    font: var(--lib-core--title-l-font);
  }
}

@media (min-width: 1920px) {
  /* Desktop styles here */
  .core-card .core-card-bottom p {
    font: var(--lib-core--body-l-font);
  }

  .core-card h1,
  .core-card h2,
  .core-card h3,
  .core-card h4 {
    font: var(--lib-core--title-l-font);
  }
}

.core-card-wrapper,
.core-card-wrapper .core-card {
  height: 100%;
}

.core-card .section-carousel-card {
  display: flex;
  flex-direction: column;
}

.core-card .section-carousel-card .core-card-card {
  height: max-content;
}

.core-card.collection-carousel-card .core-card-dynamic-carousel .core-card-disclaimer-field {
  padding: 0 var(--size-24);
  padding-top: 88px;
}
