.core-grid ul.core-grid-parent li.last-visible-item ~ li {
  display: none !important;
}

.core-grid .button-container {
  padding-top: var(--size-40);
  text-align: center;
  width: 100%;
}

.core-grid .button-container.load-more a {
  margin: 0 auto;
}

.core-grid .button-container.load-more-hidden {
  display: none;
}

@media (min-width: 1024px) {
  .core-grid .button-container {
    /* Tablet styles here */
    padding-top: var(--size-48);
  }
}

.core-grid .core-card .button-container {
  padding-top: var(--size-24);
}
