// grid.scss

@import '../../styles/figma/figma-mixin';

.core-grid {
  ul.core-grid-parent li.last-visible-item ~ li {
    display: none !important;
  }

  .button-container {
    padding-top: var(--size-40);
    text-align: center;
    width: 100%;

    &.load-more a {
      margin: 0 auto;
    }

    &.load-more-hidden {
      display: none;
    }

    @include breakpointMediumUp {
      padding-top: var(--size-48);
    }
  }

  .core-card .button-container {
    padding-top: var(--size-24);
  }
}
