<div class="core-grid-inside block-inside">
    <ul class="core-grid-parent {{ variant }}">
        {{ #items }}
            <li>
                {{ . }} 
            </li>
        {{ /items }}
    </ul>
    {{ #loadMoreActive }}
    <p class="button-container load-more">
        <a title="{{ loadMoreButton }}" class="button secondary load-more-button" role="button">
            <span> {{ loadMoreButton }} </span>
        </a>
    </p>
    {{ /loadMoreActive }}
</div>