.panel-loader {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
}

.panel-loader>div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.panel-loader-bg {
  background-color: white;
  opacity: 90%;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading {
  width: 60px;
  height: 60px;
  position: relative;
  margin-bottom: 20px;
}

.loading:after {
  content: "";
  position: absolute;
  border-radius: 100%;
  left: 6px;
  top: 50%;
  width: 100%;
  height: 100%;
  border: 3px solid #3e46e150;
  border-left-color: #3e46e1;
  animation: hlxskspin .6s infinite linear, hlxskgrow .3s forwards ease-out;
}

.running {
  padding-right: 35px;
  position: relative;
}

.running:after {
  content: "";
  position: absolute;
  border-radius: 100%;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border: 2px solid #3e46e180;
  border-left-color: #3e46e1;
  border-top-color: #3e46e1;
  animation: hlxskspin .6s infinite linear, hlxskbuttongrow .3s forwards ease-out;
}

.primary.running:after {
  border: 2px solid #ffffff80;
  border-left-color: #ffffff;
  border-top-color: #ffffff;
}

@keyframes hlxskspin {
  to {
    transform: rotate(359deg);
  }
}

@keyframes hlxskgrow {
  to {
    width: 48px;
    height: 48px;
    margin-top: -30px;
    left: 2px;
  }
}

@keyframes hlxskbuttongrow {
  to {
    width: 14px;
    height: 14px;
    margin-top: -10px;
  }
}